[2019-05-22 10:59] treefishuk opened #1465 "Windows CLI Installer does not work as described"
Followed instructions [here ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest) but having downloaded and ran the MSI I get "az is not recognized".

So either:
a) The installer is broken
b) There are pre-requisites which the docs don't state
c) There is something to do after running the MSI which is not stated in the docs

Any help greatly appreciated

[2019-05-22 12:13] treefishuk commented on #1465
If python is installed prior to running installer it works. If python is required to be installed prior to running the MSI then the docs should ideally indicate that.

[2019-05-27 18:16] slowik21861 opened #1469 "openSUSE 42.2 lifetime"
From OpenSUSE Wiki:

The following distributions have reached their end of life and should not be used:
openSUSE Leap 42.2 - Jan 26th 2018 - (done)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26961ab6-af63-1bb9-53d1-566e4acc2896
* Version Independent ID: 2c26a785-ca52-321a-ba33-4622ed9d37a2
* Content: [Install the A

[2019-05-28 15:38] miguelmorin commented on #1341
I am on `macOS`, updated with `brew update && brew upgrade azure-cli` and I kept getting the same message. I updated with:

[code]

and I am still getting the error:

[code]

[2019-05-29 00:27] sptramer commented on #1235
Possibly resolved by #1471. Not all required endpoints have been catalogued and are unlikely to be, but setting the proxy correctly for your OS will allow connections.

[2019-05-29 00:29] sptramer commented on #965
Resolved by #1471. Providing a complete allow-list of Azure service endpoints is beyond the scope of the CLI documentation, but a request has been made to start compiling such a list to make it available somewhere in documentation. Currently the best option for finding the required endpoints is the [Azure services swagger specs](https://github.com/Azure/azure-rest-api-specs).

Apologies for the ex

[2019-05-29 00:30] #965 closed

[2019-05-29 07:33] TitaniumDave opened #1472 "Azure CLI updated to 2.0.65 but Homebrew formulae is outdated"
Microsoft have revised the Azure CLI to 2.0.65, but for the first time (certainly in the last 3-6 months anyway) the Azure CLI installation [page](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) has been updated, but the Homebrew **azure-cli** [Formula page](https://formulae.brew.sh/formula/azure-cli) still shows 2.0.64 so the Azure CLI releases are not at parit

[2019-05-29 17:29] uc-msft commented on #1341
I have the same issue on a brand new install on macOS. I tried uninstall & install too.

[2019-05-29 21:09] sptramer commented on #1472
@achandmsft Please publish the latest release to homebrew. Not sure what caused this issue in the release pipeline. Will close this when the correct CLI version is published.

[2019-05-29 21:22] sptramer commented on #1459
@v-wilock This page is not intended to be loaded in a browser, since it refers to a docker container location. Use this URL with docker commands only, as described in the documentation.

[2019-05-29 21:22] #1459 closed

[2019-05-29 21:52] #1469 closed

[2019-05-29 21:53] sptramer commented on #1469
The next site publish will add information clarifying which versions of OpenSUSE and SLES the CLI package should work on.

[2019-05-30 06:06] Kannancsq opened #1477 "CLI Command to Remove Azure Subscription"
We are automating Subscription Creation & Removing process using CLI Scripts.

az account create is being using for creating subscription. However i was not able fine CLI command for Remove / De-Activate Subscription

Can you please let me know, the CLI Command to remove subscription.

[2019-06-01 14:26] rodbutters commented on #1341
Same here - fresh install via brew exactly described on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest. Python 3.7.3.

[2019-06-05 09:36] CondormanFr opened #1485 "GPG keys is not correct for this package."
When i try to install azure-cli on centos, I get this error :
The GPG keys listed for the "Azure CLI" repository are already installed but they are not correct for this package.
Check that the correct key URLs are configured for this repository.

It was working in the past... But it seems that a new azure-cli version has been released ...

---
#### Détails du document

⚠ *Ne pas modifier cette sec

[2019-06-05 11:30] TitaniumDave commented on #1472
Now the homebrew formula has been updated to **2.0.66** but the [Microsoft Install the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) page still states that the current version is 2.0.65.

Once that is updated this can be closed. Thanks for the help!

[2019-06-05 16:00] uc-msft commented on #1341
I was able to do brew update & upgrade today to get the latest now 2.0.66 version.

[2019-06-05 19:44] icycle77 commented on #1485
Yes, I can confirm this error on my end as well, hit it today.

[2019-06-06 08:21] BoSoeborgPetersen opened #1486 "The current version of the CLI is 2.0.66"
Not 2.0.65

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7bd326-07b2-caaa-7155-5852fc2dfa3f
* Version Independent ID: c44d0547-d5cd-8934-00f8-79e2f4df53ac
* Content: [Install the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#feedback)
* Content Source: [docs-ref-concep

[2019-06-06 14:49] icycle77 commented on #1485
I found that when following the [instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest) this install works fine. So the issue must be with my Artifactory proxy of the remote repository.

[2019-06-06 22:32] sptramer commented on #1485
@CondormanFr The GPG signing key was changed sometime in the last year, and the new key is required if you have not updated since approximately May 2018. Please follow the full install instructions to reinstall the Azure CLI and update your signing keys.

[2019-06-06 22:32] #1485 closed

[2019-06-06 22:33] sptramer commented on #1486
@BoSoeborgPetersen The CLI version information has been updated with the release, but is only published at 3PM Pacific daily. This means that the version numbers and release notes are occasionally out of step with the current published package.

[2019-06-06 22:33] #1486 closed

[2019-06-06 22:36] sptramer commented on #1477
There is not currently a command to delete subscriptions from the CLI. Feel free to [file a feature request](https://github.com/azure/azure-cli/issues).

[2019-06-06 22:36] #1477 closed

[2019-06-06 22:37] sptramer commented on #1472
The version update only goes live at our regular publish time, which should be 3PM daily.

[2019-06-06 22:37] #1472 closed

[2019-06-06 22:39] sptramer commented on #1465
@treefishuk The latest CLI version is now 2.0.66, can you try the latest MSI installer and see if it works for you?

[2019-06-10 10:58] miguelmorin commented on #1341
Same here, I am now on 2.0.66 and see `Your CLI is up-to-date.`

[2019-06-11 03:05] SeanFeldman opened #1489 "Querying with --odata-query"
The option to query with `--odata-query` doesn't appear to be documented anywhere, but on a few individual pages.
An example, [here](https://docs.microsoft.com/en-us/azure/event-grid/how-to-event-domains#search-lists-of-topics-or-subscriptions). Would be great if the options available with `--odata-query` would be documented.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2019-06-15 00:07] sptramer commented on #1489
OData is specifically used only by a very small subset of CLI commands and is incredibly complicated. This means that this section of the docs site, focused on general CLI querying, is not an appropriate place for a full OData reference or tutorial.  The best way to understand OData querying is to use the [OData specification site](https://www.odata.org/getting-started/basic-tutorial/#queryData).

[2019-06-15 17:36] SeanFeldman commented on #1489
@sptramer I did not ask for a full OData reference or tutorial for in the context of AZ CLI. What I did ask is to clarify what is possible with OData syntax querying and AZ CLI. Specifically, where and what is possible with `--odata-query`. It showed up in a single AZ command I've run into, for a specific ARM extension and have not seen it before.

[2019-06-17 16:48] sptramer commented on #1489
Again, the best way to understand OData is to go to their specification site. The query article will be updated with a link to the OData materials.

The primary differences between `--odata-query` and `-query` are the syntax and that OData filtering is performed server-side, so it may result in faster responses.

[2019-06-20 07:17] tcbjc opened #1502 "Azure CLI Latest show "????" in Chinese"
We install CLI latest version according to https://docs.microsoft.com/zh-cn/cli/azure/install-azure-cli-yum?view=azure-cli-latest. It can not show Chinese Information.

[root@qiyulabvm ~]# az -v
azure-cli                         2.0.67

Name              CloudName        SubscriptionId                        State    IsDefault
----------------  ---------------  ------------------------------------

[2019-06-21 09:44] alvinsjtu opened #1505 "az cli commands running slowly/hang than before"
Hello az cli team,

I'm raising the ticket on behalf of my high profile customer. We met an interesting issue since yesterday morning GMT+8,

Issue Description:
Most of the az cli(azure-cli (2.0.17)) commands started to have slowness than before.For instance,

Slow normal command run time:
a=$(az storage account keys list -g "xxxxxx" -n "xxxxxx" -o json --debug)

Working command run time:
$(az sto

[2019-06-21 17:03] sptramer commented on #1505
Update to the [latest CLI release](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest). Version 2.0.17 is __50 releases out of date__, which means that for a release cadence of 2x a month, 25 months out of date - __over two years__. Engineering will likely not support such an old version but you are welcome to [file an engineering issue](https://github.com/azure/azu

[2019-06-21 17:03] #1505 closed

[2019-06-21 17:10] sptramer commented on #1502
This seems like an issue with localization and proper language support. Please [file an engineering ticket](https://github.com/azure/azure-cli/issues).

[2019-06-21 17:10] #1502 closed

[2019-06-25 01:19] gjustice opened #1508 "tsv format is NOT easy without field documentation"
It would be easy to use tsv format as suggested by the above document to pipe to other commands for selection/processing if a definition of the fields/columns were available for any given az cli command.  Eg how do I know how to decipher the output of:
   az network nsg list
The table output gives 5 columns with headings but tsv output gives 13 fields.  How do I get the documentation of these 13 f

[2019-06-30 00:46] baqwas commented on #1286
No issue encountered with a fresh install under Ubuntu 19.04! Had read the comment about apt-key and mercifully avoided it.
Many thanks for helping me to persist with VS Code.

[2019-07-02 18:10] sptramer commented on #1508
Adding field headers to TSV output would be a feature request, which you can submit to the engineering GitHub issues: https://github.com/azure/azure-cli

[2019-07-02 18:15] sptramer commented on #1508
Going to reopen this since this is technically a `--query`-supported feature that should be documented.

[2019-07-02 20:57] rido-min commented on #1341
I just installed the latest and now I have 2.0.67 but still see the message `Consider updating your CLI installation.`

@sptramer the [link]( https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest#install-or-update
) you provided in your [your comment](https://github.com/MicrosoftDocs/azure-docs-cli/issues/1341#issuecomment-474451043) does not include any update

[2019-07-02 21:12] sptramer commented on #1341
@rido-min New versions are released every other Tuesday. You may have installed in the period where an update was being pushed.

All platform [install instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) contain information on updating.

[2019-07-02 21:15] rido-min commented on #1341
The point of this issue is that I installed the latest 2.0.67 but I still see `You have 5 updates available. Consider updating your CLI installation.`

... and don't know how to update. The install instructions redirect to the same MSI I just installed.

[2019-07-04 11:03] ChristianBeier commented on #1341
I just updated azure-cli to 2.0.68 (currently latest) on Windows and run into the update available message. On Debian@WSL everything is fine.
`PS C:\Users\me> az --version

[2019-07-04 11:22] ChristianBeier commented on #1341
On Windows I just updated azure-cli to version 2.0.68 (currently latest) and also got the message. It seems that in my case _command-modules-nspkg_ is not updated to latest version - indicated by asterisk * behind version number. Reboot and repair also didn't help and as https://pypi.org/project/azure-cli-command-modules-nspkg/ states _"This package is not intended to be installed directly by the

[2019-07-05 20:37] TurtleBeach opened #1517 "Release Notes for 2.0.68 do not address anomalies in installation"
After updating from 2.0.67 to 2.0.68, (on Windows 10 Professional, v1809, build 17763.557) the following anomalies appear/occur:
C:\Users\Admin&gt;az --version
azure-cli                         2.0.68
command-modules-nspkg               2.0.2 *
core                              2.0.68
nspkg                              3.0.4
telemetry                          1.0.3

Extensions:
azure-cli-iot-ext

[2019-07-05 20:44] kuntergunt opened #1518 "Installing Azure CLI on Debian bionic does not work"
When doing the first step (curl -sL ...)  I already get an error:

E: The repository 'https://packages.microsoft.com/repos/azure-cli buster Release' does not have a Release file.

[2019-07-08 18:37] tmdevries commented on #1341
I am having this issue on Win10 as well. The version of command-modules-nspkg is showing to be 2.0.2. It's the only module that has an asterisk next to its version.

[2019-07-09 00:53] boelaars commented on #1341
@sptramer @tjprescott This is a very clear bug. Just because there is not yet a clear path to solve it that doesn't negate this fact of course. At this very moment https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest states "The current version of the CLI is **2.0.68**." and provides the corresponding version's MSI. Installing it and then running "az --version

[2019-07-10 20:17] eric-camplin opened #1523 "Title is "Install or update" but no instructions on update."
When installing from link on Windows- received "need to update" in power-shell after running `az --version` but no instructions on the update command syntax

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Inst

[2019-07-11 09:32] zobelhelas opened #1524 "Debian Buster not supported"
zobel@gjallar ~ % AZ_REPO=$(lsb_release -cs)
echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" | \
    sudo tee /etc/apt/sources.list.d/azure-cli.list
deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ buster main
zobel@gjallar ~ % sudo apt-get update
sudo apt-get install azure-cli
...
Ign:14 https://packages.microsoft.com/repos/azure-cli buster In

[2019-07-11 13:59] rawadhmd opened #1525 "CLI configuration"
when I run this command: az storage account show-connection-string -g Basebot -n basebot --DefaultEndPointsProtocol basebot | sed -n 2p cut -d '"' -f 4

I got the following error, what is wrong? where can I find help?

sed : The term 'sed' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that th

[2019-07-11 20:50] bigdatamoore commented on #1341
I am also getting this message when I enter az --version.  Even though I just did a fresh install of az, it is telling me that there are 15 updates.

[2019-07-14 17:30] IvanFarkas commented on #1341
ditto

[2019-07-15 16:50] sptramer commented on #1524
Debian Buster is not listed among the supported distributions (Debian Wheezy, Jessie und Stretch). @achandmsft what is the ETA for a Buster package?

[2019-07-15 16:52] sptramer commented on #1523
There's currently a bug where `az --version` always reports a need to upgrade. However the section you're referring to on the page is called [Install or Upgrade](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest#install-or-update). The process identical for Windows.

[2019-07-15 16:52] #1523 closed

[2019-07-15 16:55] sptramer commented on #1518
Your output indicates that you're running Debian Buster, not Ubuntu Bionic. Buster is not currently one of the supported distributions. Since you're using an unsupported distribution, follow the [Troubleshooting - No package for your distribution](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#no-package-for-your-distribution) steps.

There is currently no E

[2019-07-15 16:56] #1518 closed

[2019-07-15 16:58] sptramer commented on #1517
@TurtleBeach There appears to be a bug with the current version of `az` where it always reports a need to upgrade. Since you've experienced this problem among others, you should file a [bug report](https://github.com/azure/azure-cli) with the engineering team.

[2019-07-15 16:58] #1517 closed

[2019-07-15 17:03] sptramer commented on #1525
@rawadhmd The Azure CLI examples are all written for the `bash` script, as clearly stated on the [CLI landing page](https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest#azure-cli-resources). It looks like you're running these examples on CMD or PowerShell. That means they may not work and you will need to find equivalent Windows commands for `sed` and `cut`, standard UNIX tools.

[2019-07-15 17:03] #1525 closed

[2019-07-15 17:04] sptramer commented on #1263
@dend Checking in on this issue since it has been open for 6 months.

[2019-07-15 17:07] sptramer commented on #1336
@TitaniumDave I'm going through older unresolved issues and noticed this one. From your response it sounds like there's an issue with the data formats the CLI accepts - you'll need to file a [bug report/feature request](https://github.com/azure/azure-cli) to see if they can offer support. My understanding is that the types of PEM allowed may be limited by what AAD/Key Vault supports.

Going to clo

[2019-07-15 17:07] #1336 closed

[2019-07-15 17:07] sptramer commented on #1264
@dend Checking in on this - the issue has been open for 6 months.

[2019-07-15 17:56] sptramer commented on #1465
Going to close this on the advice of @marstr since there have been no updates in >1mo.

[2019-07-15 17:56] #1465 closed

[2019-07-15 21:34] marstr commented on #1465
True, I did advise this gets closed! However @treefishuk, if you're still experiencing trouble here, please let us know.

[2019-07-16 08:10] croeck opened #1528 "Missing dependency"
Hi,

there is a missing dependency in Step 1: ca-certificates
If I do not install it, the apt-get update will fail without a specific error message.

Tested with docker image debian:stretch-slim following exactly your steps above.

Regards
Cedric

---
#### Dokumentdetails

⚠ *Bearbeiten Sie diesen Abschnitt nicht. Er ist für die Verknüpfung von docs.microsoft.com zum GitHub-Artikel erforderlich.*

[2019-07-16 12:46] pedroneil commented on #1341
I have installed 2.0.68 msi from 2.0.60 and az --version suggests that I should update modules that have been installed by the MSI; shouldn't your comparison be against the modules installed by the MSI and not those available on the TinTinET?

az --version
azure-cli                         2.0.68 *

command-modules-nspkg               2.0.2 *
core                              2.0.68 *
nspkg

[2019-07-16 16:17] sptramer commented on #1341
There seems to have been a bug in a previous release which was causing the mistaken `az --version` message about requiring an update. It should be fixed in today's 2.0.69 release.

[2019-07-16 18:33] pedroneil commented on #1341
Thank you for the update

On Tue, 16 Jul 2019, 17:17 Stephen Tramer, <notifications@github.com> wrote:

[2019-07-16 22:35] sptramer commented on #1528
Thanks for the report, this should be fixed in the next site publish. Localization into DE will take longer.

I would also recommend filing an issue with Debian to include `ca-certificates` even on `-slim` images, since it makes HTTPS interactions with authorities that check CA chains difficult.

[2019-07-16 22:46] #1528 closed

[2019-07-17 05:44] stefanzvonar commented on #1326
Am receiving this same error on a Raspberry Pi 3 B+ (Arm64).  Any advice on how to get past this?

`pi@raspberrypi:~ $ az login
/usr/bin/az: line 2: /opt/az/bin/python3: cannot execute binary file: Exec format error
`
Using steps in doco:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

Am trying to create basic iotedge image recognition, with the raspberry p

[2019-07-17 16:57] sptramer commented on #1326
@stefanzvonar As I mentioned above on this thread, there are no arm64 binaries. The install page will be updated when some are available.

[2019-07-23 18:56] Paul-Dempsey opened #1535 "Missing information: How do you update Azure CLI and Extensions?"
What is the update frequency of Azure CLI and extensions (e.g. Azure Devops)?
How do you maintain an installation of the CLI and extensions with updates? Do you manually uninstall and reinstall?  Is there an automatic update mechanism?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b233e045-b444-e6d9-7893-36a72ee4a70b

[2019-07-23 18:59] Paul-Dempsey commented on #1535
Ah, never mind, there's nothing in the TOC, but it is documented under each Install topic for each platform  (at least it is for Windows).

[2019-07-23 18:59] #1535 closed

[2019-07-26 09:41] awferris opened #1540 "deploy.sh errors"
When running deploy.sh it ran successfully up until the point below. I've included a few lines before the error for context.

local_file.tls_cert_priv_key: Provisioning with 'local-exec'...
local_file.tls_cert_body: Provisioning with 'local-exec'...
local_file.tls_cert_priv_key (local-exec): Executing: ["/bin/sh" "-c" "chmod 400 ssl-ferristest-privkey.pem"]
local_file.tls_cert_body (local-exec): E

[2019-07-26 12:44] liamfoneill opened #1541 "Check when Service Principal Signed In"
Is there somewhere I can when when the credentials were used to sign in with a service principal? I checked sign-in logs in AAD but that only seems to be for users, rather than service principals.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3f84bdc-9ed0-eb85-f3af-9711e8083a95
* Version Independent ID: 03a47d06-5fbf

[2019-07-31 10:48] #1540 closed

[2019-07-31 10:48] awferris commented on #1540
This was raised in the wrong place. Issue closed.

[2019-07-31 13:46] EdiWang commented on #1324
@bospoort I believe you can install on server core via choco here: https://chocolatey.org/packages/azure-cli

[2019-07-31 17:13] melonrush13 commented on #1341
I'm on version 2.0.69 and I am still getting the message of 'You have 2 updates available. Consider updating your CLI installation.' I do a az --version and it says I am up to date.

[2019-08-02 18:18] sptramer commented on #1541
Sorry, I'm not sure of the answer. You may have more success by leaving a comment on [Sign-in logs](https://docs.microsoft.com/en-us/azure/active-directory/reports-monitoring/concept-sign-ins), although that article does explicitly state that it only tracks __interactive__ sign-in.

[2019-08-02 18:18] #1541 closed

[2019-08-02 20:10] sptramer commented on #1263
This has been filed as an officialrequest with the devrel feature team, so closing this.

[2019-08-02 20:10] #1263 closed

[2019-08-02 20:12] sptramer commented on #1264
An official request with the site engineering team has been filed. Closing out this issue.

[2019-08-02 20:12] #1264 closed

[2019-08-03 19:04] marckassay commented on #607
I had this issue last night when I used Chrome. So created a [PowerShell script](https://github.com/marckassay/XAz/blob/0.0.1/docs/Invoke-AzureCLIDownload.md) to download it which seems to work.

[2019-08-05 20:36] Joseluismantilla opened #1549 "az cli - arm architecture"
Hello

Keeping in mind the ARM are used for developers boards, I'd like to have the az ure-cli for armbian, ubuntu, debian ARM64, it would be unacceptable the az cli doesn't work on boards for developers.

[2019-08-05 20:38] Joseluismantilla commented on #1326
I created a few minutes another thread for ARM binaries due to those are boards for developers, it would be unacceptable don't have it the cli.

[2019-08-05 20:46] sptramer commented on #1549
This is a duplicate of #1326. The installation instructions will be available (and that ticket closed) when an ARM package is made available.

[2019-08-05 20:46] #1549 closed

[2019-08-06 23:58] geperezg opened #1552 "copy/paste command doesn't work"
doing copy/paste in a bash shell had trouble with the back slash:

VM2_IP_ADDR=$(az vm create -g TutorialResources \
  -n TutorialVM2 \
  --image UbuntuLTS \
  --generate-ssh-keys \
  --subnet $SUBNET_ID \
  --query publicIpAddress \
  -o tsv)

got the following error: "az vm create: error: the following arguments are required: --name/-n"

Was able to move forward after deleting the back slash

--

[2019-08-07 19:59] shahzzzam commented on #1341
Ditto!

[code]

I follow the upgrade instructions:

[code]

[2019-08-08 18:06] sptramer commented on #1552
What shell were you using to run these commands? I'm able to get the correct behavior in my environment.

[2019-08-08 20:45] geperezg commented on #1552
I am using bash on WSL

I am copying with the "Copy" button, and also with Right-click->Copy. Pasting in bash with Right-click

$ bash -version
GNU bash, version 4.4.19(1)-release (x86_64-pc-linux-gnu)

[2019-08-09 15:21] Singh-Prateek commented on #1341
still getting this error without any direction.

[2019-08-09 16:33] sptramer commented on #1341
I've made the engineering team aware that this message can be confusing since it doesn't include directions on how to update. Thanks for everyone's feedback.

[2019-08-09 17:37] Dolcekar commented on #1341
Just so you are aware, the 2.0.70 version resolves this problem. At least in my os it does, I have Windows 7 (don't make fun of me ^.^)
[code]

[2019-08-12 14:30] martinffx commented on #1524
ETA on the buster packages?

[2019-08-12 16:01] sptramer commented on #1524
Please follow https://github.com/Azure/azure-cli/issues/9880 for any updates on Debian Buster support. When that ticket is closed, the install instructions will be updated to show that Buster is a supported distribution.

[2019-08-13 13:37] WDMichael commented on #1341
still not fixed ... I have version 2.0.70...

az --version
azure-cli                         2.0.70 *

command-modules-nspkg               2.0.3
core                              2.0.70 *
nspkg                              3.0.4
telemetry                          1.0.3

Python location '/usr/local/Cellar/azure-cli/2.0.70/libexec/bin/python'
Extensions directory '/Users/userid/.azure/cliextensions'

[2019-08-14 08:49] ChristianBeier commented on #1341
...indicates that there is a newer version of azure-cli, maybe try an update of your CLI installation on your OS ;)
Everything works now for me on Windows and Linux (Debian WLS) as expected

[2019-08-15 19:11] sptramer commented on #1552
When clicking the `Copy` button from the codeblock, I'm not seeing any errors pasting it into a bash terminal. One thing about the `\` escape is that if it's immediately followed by whitespace _other_ than a newline, it will error out.

What browser are you using? That might be a factor here as well.

[2019-08-15 20:23] thatguylong opened #1560 "Unable to load extension 'storage-preview' for azure-cli 2.0.71"
After upgrading to `azure-cli` *2.0.71*, commands that I run gives me a
[code]
error message.

The only one that does not seem to produce that error is:
[code]

Here is the debug:
[code]

[2019-08-18 16:24] Roblarson opened #1561 "Need guidance on lifecycle management"
The article is incomplete from a lifecycle management perspective to reduce security threats. How do you query for SPNs that are not in use so you can remove them? How do you determine if credentials have not been used in X days and need to be reset or deleted?  etc.

Need to provide this guidance so enterprises can properly reduce threat vectors.

---
#### Document Details

⚠ *Do not edit this se

[2019-08-19 17:32] sptramer commented on #1560
@thatguylong This looks like a product bug: Can you please file a bug report with both CLI engineering (https://github.com/azure/azure-cli/issues) and extensions engineering (https://github.com/azure/azure-cli-extensions/issues) please?

[2019-08-19 17:32] #1560 closed

[2019-08-19 17:45] sptramer commented on #1561
This article is meant to just be a short introduction to setting up service principals and not a full guide to using application ID/service principals for security purposes. The correct, in-depth source for that material is the [Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/) documentation.

It looks like that service is not directly linked anywhere from this arti

[2019-08-27 07:46] Juliehzl opened #1569 "Malformat `az keyvault storage sas-definition create` document"
https://docs.microsoft.com/en-us/cli/azure/keyvault/storage/sas-definition?view=azure-cli-latest#az-keyvault-storage-sas-definition-create

![image](https://user-images.githubusercontent.com/49508232/63750837-cbdd0580-c8e0-11e9-8a5b-c9cac4a59495.png)

The commands in one code snippet should align, but now  besides the first command, others are in  unexpected  indentation.

[2019-08-27 07:46] Juliehzl commented on #1569
@daxianji007 Can you have a look at this?

[2019-08-30 06:07] daxianji007 commented on #1569
fixed.

[2019-08-30 06:07] #1569 closed

[2019-09-03 23:16] sptramer commented on #1552
No response to the browser question, and unable to reproduce in my environment. Closing this issue.

[2019-09-03 23:16] #1552 closed

[2019-09-06 03:44] BrightRan opened #1578 "Permissions for creating Azure service principal"
To create an Azure service principal, whether the Azure AD administrator or Azure administrator role is required?
On Azure portal, if a AAD member is not administrator, how to assign permissions to allow he can create Azure service principal?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3f84bdc-9ed0-eb85-f3af-9711e8

[2019-09-09 19:09] marcissimus opened #1581 "CLI 2.0"
Several links to GitHub should be update to https://github.com/azure/azure-cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9bfdd999-341a-7aa8-04cf-f3808d813051
* Version Independent ID: 76d4e553-fdd3-8339-6a11-870d53efdeb2
* Content: [Install the Azure classic CLI](https://docs.microsoft.com/en-us/cli/azure/install-

[2019-09-09 21:40] sptramer commented on #1581
This article is explicitly for installing the Azure "classic" CLI, so all of the links are correct.

[2019-09-09 21:40] #1581 closed

[2019-09-10 00:54] cosmicbubble69 opened #1582 "Missing instruction"
The unix install of the client tells you how to install the client but not how to register the server into the Azure Portal into the File Sync group. The client is installed but wheres the step to register the server into the Azure File Sync service.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93174b3a-3e97-8304-83f

[2019-09-16 17:26] daveRendon opened #1588 "Add a note on the CLI core version setup"
Tried:
az ad sp list --show-mine --query '[].{"id":"e55ad3ae-ec31-4f88-xxxx-xxxxxxxx", "tenant":"f6d82f6e-xxxx-4cd2-xxxx-xxxxxx"}'

Output:

You have CLI core version 2.0.72 and this extension requires a min of 2.0.50.dev0 and max of 2.0.61

quick workaround to get the id:

az ad sp show --id xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxx

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2019-09-23 23:10] sptramer commented on #1508
The format documentation has been updated so that it's now clear how to order TSV output.

[2019-09-23 23:11] #1508 closed

[2019-09-23 23:21] sptramer commented on #1489
Since OData isn't a general purpose CLI feature, closing this as WONTFIX. Individual services and commands affected by OData should be responsible for explaining why those individual commands benefit from the use of it, why users would want to perform server-side filtering, and cover associated topics.

[2019-09-23 23:21] #1489 closed

[2019-09-24 04:14] SeanFeldman commented on #1489
You're correct, as a customer and the external person I should chase the individual teams to address the question of odata with Azure CLI usage and options, rather than an internal MSFT person would make the effort. How foolish of me.

[2019-09-24 04:45] arob98 commented on #1489
Hi Sean, Following up on this thread, I'm going to share your feedback so we can improve. I apologize for any frustration you have experienced. Angela

[2019-09-25 08:51] cpunella opened #1600 "Please update homebrew repository"
Hi there,

I just tried to upgrade the cli using brew but the latest package version uploaded is azure-cli-2.0.72_1.mojave.bottle.tar.gz.

Can you update it, please?

---
#### Dettagli del documento

⚠ *Non modificare questa sezione. È necessaria per i collegamenti relativi ai problemi tra docs.microsoft.com ➟ GitHub.*

* ID: d09ed623-c83f-6bae-639e-a5f9a31fe3bb
* Version Independent ID: c5d0d722-

[2019-09-26 16:17] sptramer commented on #1600
I'm checking in with the engineering team to see if this release channel didn't get the latest update and I'll let you know when I have an answer.

[2019-09-30 13:19] prabhakarreddy1234 opened #1603 "single quote and double quotes in query value"
In Azure CLI commands with JMESPATH queries, i observed similar examples with single quote and double quotes used in different occasions. I had issues when i used single quote where double quote could have been used. So i don't find any documentation explaining when to use single quote and when to use double quote in `--query`  value?

For e.g  https://docs.microsoft.com/en-us/cli/azure/query-azur

[2019-09-30 15:41] sptramer commented on #1603
This has to do with how the `bash` shell treats string arguments. When an argument is wrapped in `"..."`, the contents are interpreted by the shell if they have any characters which might be picked up by it. When `'...'` is used, the shell does not interpret any characters.

There's the additional issue that in JMESPath, all strings must be wrapped in `'...'`. That means that any query parameter c

[2019-09-30 15:41] #1603 closed

[2019-10-01 19:16] aueelis commented on #1524
The issue is closed and Buster is now supported.

[2019-10-02 13:47] DavidLangworthy opened #1607 "Popup during linux script blocks install"
On mint and WSL a popup comes up when running the one line install script from an XTerm.  This does not occur over ssh.  The title is Configuring libssl1.1:amd64 and it asks for permission to restart services.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1526a9-7f22-504e-484c-0f3edc11b178
* Version Independent ID:

[2019-10-07 11:05] jjensenj opened #1612 "Downloading a script and running it is a bad security practice, especially as root."
Hi,

The page https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest contains:

`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

This is a bad security practice. User should not be instructed to download a script and blindly execute that as root.

[2019-10-07 17:20] sptramer commented on #1612
@jjensenj I agree with you! This is why there are still step-by-step manual instructions on the page, and users are encouraged to examine the script before installing if they choose to use it.

[2019-10-07 17:20] #1612 closed

[2019-10-09 09:02] swapnild2111 opened #1616 "When will it support - MacOs Catalina ?"
I have updated my macos and now `az aks` no longer works. When will it work for Catalina macos?

[2019-10-09 22:39] sptramer commented on #1578
@BrightRan Sorry, but this page is only meant to be a quick overview of how to use the CLI to create a service principal, and doesn't discuss which permissions are required. You may have better luck with the [Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/) documentation.

[2019-10-09 22:39] #1578 closed

[2019-10-09 22:48] #1524 closed

[2019-10-09 22:51] sptramer commented on #1600
It looks like the [current homebrew formula](https://formulae.brew.sh/formula/azure-cli#default) is v2.0.74, the latest.

[2019-10-09 22:51] #1600 closed

[2019-10-09 22:53] sptramer commented on #1582
Sorry, but this article only covers the installation of the Azure CLI. I looked for one, and didn't see a CLI extension for File Sync, either. The best way to find the information that you're looking for is to check the  [Azure Files](https://docs.microsoft.com/en-us/azure/storage/files/) documentation.

[2019-10-09 22:53] #1582 closed

[2019-10-09 22:55] sptramer commented on #1588
I need some more information to be able to take action on this. Can you provide the full output of `az --version` on your system, as well as OS information, Linux distribution (if relevant), and which install method you used?

[2019-10-09 22:57] sptramer commented on #1607
@DavidLangworthy This sounds like it would be an issue with the script or the general install process, and possibly with WSL. In order to get a script issue addressed, you will need to [file a bug report with engineering](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Bug_report.md&title=).

[2019-10-09 22:57] #1607 closed

[2019-10-09 22:59] sptramer commented on #1616
This repo is for documentation issues only. This sounds like you're experiencing a bug on macOS, most likely related to the new code-signing requirements on the system or other sandboxing that prevents AKS from working correctly. In order to get the problem addressed, please [file an issue with engineering](https://github.com/Azure/azure-cli/issues/new/choose).

[2019-10-09 22:59] #1616 closed

[2019-10-10 16:40] MaurGi commented on #1607
This happened to me and blocked my installation on WSL - left in a bad state and had to reinstall Ubuntu....

[2019-10-11 07:14] aueelis commented on #1524
@sptramer The issue of supporting Buster is closed but the documentation wasn't adjusted yet!

[2019-10-14 17:09] sptramer commented on #1524
My mistake. I'll adjust the documentation.

The site is normally published from documentation at least 2x a week, but sometimes the publishing schedule is interrupted. Issues are closed when we merge the fix, not when the fix goes live on the site.

[2019-10-18 17:48] nccurry opened #1628 "Debian instructions do not work for Deepin linux"
[code]

The issue is that lsb_release -cs command on deepin linux returns "stable" instead of "stretch".

Replacing "stable" in /etc/apt/sources.lists.d/azure-cli.lists with "stretch" solves the issue.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1526a9-7f22-504e-484c-0f3edc11b178
* Version Independent ID: c5dec108

[2019-10-22 22:15] BharathNimmala-MSFT commented on #1628
@nccurry Thank you for reaching out to us, we will further validate this and get back to you at the earliest.

[2019-10-25 12:41] rasmusgude commented on #1607
This also happens to me on WSL Ubuntu 18.04. On WSL Ubuntu 16.04 it works just fine.

[2019-10-25 17:42] TechArtistG commented on #1607
Did anyone file a bug against this?  Just hit it on Ubuntu 18.04

[2019-10-30 02:08] budzynski opened #1636 "Instructions don't work for Ubuntu 19.10"
Neither the one-liner or full manual steps work for the latest version of Ubuntu (19.10).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1526a9-7f22-504e-484c-0f3edc11b178
* Version Independent ID: c5dec108-efcd-aa77-04b5-803b6b894dba
* Content: [Install the Azure CLI on Linux with apt](https://docs.microsoft.com/en-

[2019-10-30 03:15] Mike-Ubezzi-MSFT commented on #1636
@budzynski Thank you for providing the feedback. I have assigned this to the content author to add a not with regard to supported O/S versions or identify compatibility issue with the current documentation.

[2019-10-30 18:23] kartheekakkur opened #1638 "Cannot retrieve the password for the service principal"
Created a Service Principal using cli

PS C:\Users\vakkur> az ad sp create-for-rbac -n "MyApp"
Changing "MyApp" to a valid URI of "http://MyApp", which is the required format used for service principal names
Creating a role assignment under the scope of "/subscriptions/xxxxxxxxxxxxxxxxxxxxx"
{
  "appId": "xxxxxxxxxxxxxxxxxxxx",
  "displayName": "MyApp",
  "name": "http://MyApp",
  "password": "xxx

[2019-10-31 01:45] Mike-Ubezzi-MSFT commented on #1638
@kartheekakkur Thank you for bringing this to our attention. Can you try the following:

`az ad sp list --show-mine --query "[].{id:appId, tenant:appOwnerTenantId}"`

Does this still list an empty result? `"passwordCredentials": [],`

[2019-10-31 01:47] Mike-Ubezzi-MSFT commented on #1638
@sptramer Are you able to provide some guidance here?

[2019-10-31 13:46] kartheekakkur commented on #1638
@Mike-Ubezzi-MSFT

az ad sp list --show-mine --query "[].{id:appId, tenant:appOwnerTenantId}"

Does this still list an empty result? "passwordCredentials": []

I get an error with this query,

az ad sp list: error: argument --query: invalid jmespath_type value: '[].{id:xxxxxxxxxxxxxxxx, tenant:xxxxxxxxxxxxxxxxxxxxx}'

[2019-11-01 15:16] toniwillberg commented on #1607
A workaround for those hit with this problem:
 When the popup appears, hit ctrl+z and run "killall whiptail", then resume the installation by running "fg".

[2019-11-01 16:22] DavidLangworthy commented on #1607
I opened a bug against the cli  https://github.com/Azure/azure-cli/issues/10793

[2019-11-02 03:56] Mike-Ubezzi-MSFT commented on #1638
@kartheekakkur Can you navigate to the owner of the azure-docs-cli repository, who are better positioned to handle this issue. You can do so by posting this issue at https://github.com/MicrosoftDocs/azure-docs-cli/issues or at the bottom of the [document you referenced](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#feedback), you can c

[2019-11-04 01:40] Mike-Ubezzi-MSFT commented on #1638
We will now proceed to close this thread. If there are further questions regarding how to engage the Azure-cli repository, please let us know and we can assist you with this.

[2019-11-04 01:40] #1638 closed

[2019-11-04 19:52] BharathNimmala-MSFT commented on #1628
@nccurry Apologies for delayed response on this. Can you please help confirm if you continue to see this issue as if now ?

[2019-11-05 12:59] kartheekakkur opened #1646 "Cannot retrieve the password for the service principal"
Created a Service Principal using cli

PS C:\Users\vakkur> az ad sp create-for-rbac -n "MyApp"
Changing "MyApp" to a valid URI of "http://MyApp", which is the required format used for service principal names
Creating a role assignment under the scope of "/subscriptions/xxxxxxxxxxxxxxxxxxxxx"
{
"appId": "xxxxxxxxxxxxxxxxxxxx",
"displayName": "MyApp",
"name": "http://MyApp",
"password": "xxxxxxxxxxx

[2019-11-05 13:18] kartheekakkur opened #1647 "Cannot retrieve the password for the service principal"
Created a Service Principal using cli

PS C:\Users\vakkur&gt; az ad sp create-for-rbac -n "MyApp"
Changing "MyApp" to a valid URI of "http://MyApp", which is the required format used for service principal names
Creating a role assignment under the scope of "/subscriptions/xxxxxxxxxxxxxxxxxxxxx"
{
"appId": "xxxxxxxxxxxxxxxxxxxx",
"displayName": "MyApp",
"name": "http://MyApp",
"password": "xxxxxxxx

[2019-11-05 17:42] YutongTie-MSFT commented on #1646
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a3f84bdc-9ed0-eb85-f3af-9711e8083a95
* Version Independent ID: 03a47d06-5fbf-4764-0882-99cd8bd41110
* Content: [Use Azure service principals with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest)
* Conte

[2019-11-05 22:08] BharathNimmala-MSFT commented on #1647
@kartheekakkur Thank you for reaching out to us, we will further look into this and get back to you at the earliest.

[2019-11-05 22:37] jake-bladt opened #1649 "Instructions do not work for default Visual Studio Code online Linux host"
Appears to be Ubuntu 18.04.1 (output of uname -a is "Linux 4f95409cc772 5.0.0-1023-azure #24~18.04.1-Ubuntu SMP Wed Oct 2 20:23:29 UTC 2019 x86_64 GNU/Linux.") Fails on "lsb_release -cs."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1526a9-7f22-504e-484c-0f3edc11b178
* Version Independent ID: c5dec108-efcd-aa77-04b

[2019-11-05 23:21] SamaraSoucy-MSFT commented on #1646
Hi @kartheekakkur Thank you for your feedback. I will review it and get back to you shortly.

[2019-11-06 14:30] krysickij1 opened #1650 "Can I create a service principal with certificate and password based authentication at the same time?"
I want to automate service principal provisioning - currently I'm using --create-cert --cert option, but then in output I see "Null" next to password parameter. My organisation is using both authentication methods so I would like to be able to have password as well as certificate stored in Key Vault. Is it possible to do it now in one step?

---
#### Document Details

⚠ *Do not edit this section.

[2019-11-06 20:27] BharathNimmala-MSFT commented on #1650
@krysickij1 Thank you for reaching out to us, we will further look into this and get back to you at the earliest.

[2019-11-06 20:28] BharathNimmala-MSFT commented on #1649
@jake-bladt  Thank you for reaching out to us, we will further look into this and get back to you at the earliest.

[2019-11-07 14:12] devdeer-alex commented on #1636
Try to set the following in step 2:
AZ_REPO=bionic

[2019-11-08 16:04] SamaraSoucy-MSFT commented on #1646
This is the expected behavior. As stated, the appid and tenant keys can be retrieved later. However, in the paragraph before the one you referenced it talks about retrieving the password. (emphasis mine)

If you didn't save the password, you can [reset it.](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest#reset-credentials)

[2019-11-08 16:04] #1646 closed

[2019-11-08 18:57] BharathNimmala-MSFT commented on #1647
@kartheekakkur This thread seems to be duplicate for [this ](https://github.com/MicrosoftDocs/azure-docs-cli/issues/1646) one created by you. Which has been already addressed by our team, please feel free to revert back for any further queries you might have. Closing this thread for now. Thank you

[2019-11-08 18:57] #1647 closed

[2019-11-13 23:05] BharathNimmala-MSFT commented on #1636
@devdeer-alex Thank you for clarifying on step 3.

@budzynski Hope the above information helps. Will go ahead and close this issue for now, however if you have further queries or issues please let us know. Will be more than happy to continue the conversation forward. Thanks

[2019-11-13 23:05] #1636 closed

[2019-11-15 19:29] Philmon22 commented on #1326
The libraries have been release for .NET core 3.0.  https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore30. I have installed the dotnet 3 on the raspberry pi, but the client states I need dotnet core 2.1.

[2019-11-18 08:10] HQJaTu opened #1665 "OpenSUSE package for Azure CLI needs to be updated"
In OpenSUSE Leap 15.1 the az-command doesn't work anymore. This is because Python version 2 to 3 transition. The current status of RPM-package doesn't reflect reality anymore leading into situation where Python PIP-package requirements are badly tangled. Some commands work from Python 3, some from Python 2.

Optimally all this mess would be untangled and a working Python 3 version would be package

[2019-11-18 15:59] AjayKumar-MSFT commented on #1665
@HQJaTu, Thanks for the feedback! Could you also kindly share the Azure doc for which this feedback is applicable to?

[2019-11-19 06:41] HQJaTu commented on #1665
Sure, the docs are at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest

Number of issues at the docs, OpenSUSE 42.2 is not relevant version anymore. There are references to Python 2, which will be obsoleted in a month. In the official zypper-repository of Azure-CLI, there is a semi-working version of `az`, but given Python 2 obsoletion, I keep bumping into

[2019-11-19 07:18] gowrishec opened #1667 "Install Azure CLI on AWS VM Centos 7.4"
I have installed Terraform CLI on an AWS instance as part of cross platform provisioning need to test few templates on Azure as well.

To get this, Terraform is prompting to install Azure CLI, when I try to install Azure CLI on AWS server were terraform CLI is installed i see below error -

Error: python-libs conflicts with python-virtualenv-1.10.1-4.el7.noarch
Error: Package: python-devel-2.7.5-5

[2019-11-19 09:19] AjayKumar-MSFT commented on #1667
@gowrishec, Thanks for the question! Could you also please share the Azure doc for which this feedback is applicable to?

[2019-11-19 19:40] BharathNimmala-MSFT commented on #1650
@krysickij1 Apologies for the delayed response on this. Currently you can only store the certificate in the key vault, the password automatically gets stored in to Azure Active Directory. To answer your specific query "No" we cannot store both password and certificate to Azure Key vault.

As a work around you can write a script to get the password when using pass-based authentication mechanism and

[2019-11-19 19:40] #1650 closed

[2019-11-19 20:59] BharathNimmala-MSFT commented on #1665
@HQJaTu Thanks for bringing this to our attention and taking time to provide additional context. Given that [Python 2 is being end-of-lifed on January 1, 2020](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest) .  Will share your feedback with our document authoring team and Product teams to further evaluate and see what we can improve in regards to document

[2019-11-21 08:17] BharathNimmala-MSFT commented on #1667
@gowrishec Thanks again for your query, we have created an internal GitHub issue with our product team to further evaluate the error you are facing. Please look for update on the above referenced thread. Thank you

[2019-11-22 00:35] v-davit opened #1673 "More information would be helpful."
In the Note at the beginning of the page, you say that some examples may need to be modified if we're not running Bash. Can you provide more details on what those changes might be? Or at least a link to a page that describes them?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c268a98-afcb-d2c2-87c7-880d52900533
* Ver

[2019-11-22 03:34] MonikaReddy-MSFT commented on #1673
Hello @v-davit , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-11-22 14:24] BharathNimmala-MSFT commented on #1628
@dcaro Can you please help evaluate this request and sharing your input for doc enhancement. Thank you

[2019-11-22 19:03] MonikaReddy-MSFT commented on #1673
@v-davit ,
The examples are written for a specific shell (bash). But the Azure CLI can be run in PowerShell, CMD, or bash. The modifications depend on which shell you are using. For example, both PowerShell and bash have robust variable capability. CMD only supports environment variables, so you can't easily capture output from one command to be used in another. PowerShell and bash support line co

[2019-11-22 21:56] v-davit commented on #1673
Hi, Monika—

Thanks for clarifying. Is this information stated succinctly (like this) somewhere online? What I was getting at with the comment that I left is that for rookies like me, it would be helpful to have this info out there, and to have it linked to by pages like the one I commented on.

--David T.

From: MonikaReddy-MSFT <notifications@github.com>
Sent: Friday, November 22, 2019 11:03 AM

[2019-11-22 22:32] MonikaReddy-MSFT commented on #1673
@v-davit , Unfortunately at this moment, there is no document that specifies this information. But we will work with Product team to include this information as well. Thanks again bringing this to our attention.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the

[2019-11-22 22:32] #1673 closed

[2019-11-22 23:02] v-davit commented on #1673
Sounds good. Thanks for your prompt replies!

From: MonikaReddy-MSFT <notifications@github.com>
Sent: Friday, November 22, 2019 2:32 PM
To: MicrosoftDocs/azure-docs-cli <azure-docs-cli@noreply.github.com>
Cc: David Turcaso (eXcell) <v-davit@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs-cli] More information would be helpful. (#1673)

@v-davit<https://n

[2019-11-24 02:43] BharathNimmala-MSFT commented on #1649
@jake-bladt  Thanks again for bringing this to our notice,  our product team is looking into this and have reference attached above. Please look for updates accordingly on the thread. Thank you

[2019-11-24 02:57] BharathNimmala-MSFT commented on #1667
@gowrishec Can you please help share which way you are using when installing ? We have requested one of Product team engineers @haroldrandom to further help you in this issue.

Thank you @haroldrandom for helping on this issue.

[2019-11-25 03:16] haroldrandom commented on #1667
Hi, @gowrishec I am sure we can install azure-cli on AWS vm.

Could you tell me which way you installed azure-cli?

1. via curl  `curl -L https://aka.ms/InstallAzureCli | bash`
2. via `pip install` ?
3. via `yum install` ?

[2019-12-02 08:43] HQJaTu commented on #1665
I noticed the removed product-bug -label.

This is a bug. A regular update:
[code]

Forced update:
[code]

Given none of the "soft" methods work, I attempted to force the update into my box. As you might expect, that really broke everything. Ultimately I cannot run _az-cli_ from that VM at all. On some other Linux-distros the _az-cli_ still works.

[2019-12-03 22:49] SamaraSoucy-MSFT commented on #1667
@gowrishec have you resolved the issue or are you able to provide the additional information?

[2019-12-04 10:08] jayr713 opened #1684 "MasterLubeCenter"

[2019-12-04 20:25] kobulloc-MSFT commented on #1684
We are closing this issue in accordance with our code of conduct.

[2019-12-04 20:25] #1684 closed

[2019-12-05 15:13] SamaraSoucy-MSFT commented on #1667
@gowrishec I hope that you were able to resolve your issue. I am going to proceed to close this thread due to non-response. If you need additional assistance you can post your question on Microsoft Q&A or Stack Overflow. This repository is specifically for issues with the documentation.

[2019-12-05 15:13] #1667 closed

[2019-12-07 16:50] calvinwonghk opened #1689 "Windows MSI System Path"
after installation, i tried to type az login it is not in system path, i need to manually go to path "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin" to type this az command !!!!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-

[2019-12-07 18:31] MonikaReddy-MSFT commented on #1689
@calvinwonghk ,Thanks for your question. We will investigate it further and update you shortly.

[2019-12-09 07:33] fengzhou-msft commented on #1649
I set up a vsonline VM following the [doc](https://docs.microsoft.com/en-us/visualstudio/online/how-to/vscode#install) and can not reproduce this issue.
`lsb_release -cs` gives me `stretch`. `uname -a` gives me `Linux 08633513c3c0 5.0.0-1027-azure #29~18.04.1-Ubuntu SMP Mon Nov 25 21:18:57 UTC 2019 x86_64 GNU/Linux`.

There's a discrepancy in these two commands, I think `uname` is wrong. The syste

[2019-12-09 09:27] stan-sz opened #1691 "Missing file-based and env-variable information for setting the default cloud name"
Upon code inspection, the config file has

[code]

This leads to the fact that `AZURE_CLOUD_NAME` environment variable allows to set the default cloud name, without the need to call `az cloud set --name <cloud name>`. This information is missing from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb4

[2019-12-09 10:06] ManojReddy-MSFT commented on #1691
@stan-sz We are looking into this and will get back to you shortly.

[2019-12-09 16:37] SamaraSoucy-MSFT commented on #1689
@calvinwonghk I have a few questions for you to try to track down the cause of the issue:

1. Which OS are you using? (7, 8, or 10)
2. What method did you use to install the package?
3. Is "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin" in your path variable?
4. Did you restart Powershell after installing the CLI?
5. Does uninstalling/reinstalling or manually adding it to the path resolve

[2019-12-11 08:21] stan-sz commented on #1691
For more context, the fact that `AZURE_CLOUD_NAME` works comes from this line: https://github.com/Azure/azure-cli/blob/3fa3de4fe7ddff0f58a33eb6ae62e358c91718e6/src/azure-cli-core/azure/cli/core/cloud.py#L312 and the way `knack` handles setting config values in the config file.

[2019-12-11 13:22] stilren opened #1695 "az login command above does not work (Invalid Client Secret is provided)"
Hi - using the az login command above does not work in my case. Error message is "Invalid Client Secret is provided". This is the code (ofc tenantId, appId etc is made up). When running the ps script below its possible to auth with Connect-AzAccount (proving that the credentials are correct) but not with az login. I have also tried running az login without having credentials in variables to the sa

[2019-12-11 16:30] SamaraSoucy-MSFT commented on #1695
@sptramer thank you for your feedback. I will investigate and get back with you shortly.

[2019-12-11 21:04] SamaraSoucy-MSFT commented on #1689
@calvinwonghk I'm going to close this thread due to lack of response. If reinstalling or manually updating the path variable doesn't work, you can ping me in your comment and I will try to assist you further.

[2019-12-11 21:04] #1689 closed

[2019-12-12 17:21] SamaraSoucy-MSFT commented on #1695
Please do not include passwords or secrets in your post.

I'm not able to reproduce your issue. Can you provide some additional information?

1. Try regenerating the secret for your service principle. There are sometimes issues logging in to AAD when the secret contains special characters depending on how a given tool handles them.
2.  Make sure your copy of the CLI is up to date. You can run `az

[2019-12-12 19:26] mathieugravil opened #1696 "az network application-gateway url-path-map create: error: 'Namespace' object has no attribute 'firewall_policy'"
Hello
Since new version it failed:
mathieu@Azure:~$ az network application-gateway url-path-map create --resource-group rg-total-hp2-we-msapprd --gateway-name MSAPPRD-APGA-WE-HP2 --name msa-api-pprodmyPathMap --paths '/document/*'  --subscription tototot--address-pool "msa-pprod-document-service-backendpool"  --default-address-pool "MSAPPRD-HP2-AKS"  --default-http-settings "msa-pprod-document-ser

[2019-12-13 07:15] kobulloc-MSFT commented on #1696
@mathieugravil Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2019-12-13 09:22] SubhashVasarapu-MSFT commented on #1696
@mathieugravil , Thanks for your feedback. Could you please share the document link here in the description that you are referring to.

[2019-12-17 18:39] SamaraSoucy-MSFT commented on #1695
@sptramer I'm going to close this thread due to lack of response. Please tag me if you have a followup questions or utilize [the forums](https://social.msdn.microsoft.com/forums/en-US/home?forum=azurescripting) to ask product questions.

[2019-12-17 18:39] #1695 closed

[2019-12-19 13:21] ChrisGibson1982 opened #1707 "the --output option none is not listed on the doc page"
The --output option "none" is not listed on docs page (https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli?view=azure-cli-latest).

https://github.com/Azure/azure-cli/pull/8198/files shows the text
'No output, except for errors and warnings.'

 It would be helpful to have this in the doc
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-12-19 14:52] MonikaReddy-MSFT commented on #1707
@ChrisGibson1982 ,Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2019-12-19 16:31] SamaraSoucy-MSFT commented on #1707
I've submitted a pull request to update the table. It will go live once the doc author has approved it.

[2019-12-19 16:31] #1707 closed

[2019-12-19 19:06] thegreatpeon opened #1710 "Upgrade Request"
It seems like it would be pretty straight forward to simply put an "az -update" command in the program that does this for you. That would be a much less confusing process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
*

[2019-12-20 00:58] kobulloc-MSFT commented on #1710
@thegreatpeon I agree, that would be a lot more intuitive.  The best place for suggestions to be seen is https://feedback.azure.com/forums/216665-scripting-and-command-line-tools.  Let us know when you post feedback, so that we can vote on it.

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will b

[2019-12-20 00:58] #1710 closed

[2019-12-20 17:17] MonikaReddy-MSFT commented on #1691
@stan-sz - Thank you for bringing this to our attention. And apologies for the delay here.
I'm going to assign this to the document author so they can update the document accordingly.

[2019-12-24 17:18] edervaldonetoMS opened #1717 "Version of the Azure CLI is 2.0.77"
Hello,
Just to update the document. The current version of the Azure CLI is 2.0.78.
Thanks

---
#### Detalhes do Documento

⚠ *Não edite esta secção. É necessário para a ligação de problemas docs.microsoft.com ➟ GitHub.*

* ID: fe1526a9-7f22-504e-484c-0f3edc11b178
* Version Independent ID: c5dec108-efcd-aa77-04b5-803b6b894dba
* Content: [Instalar a CLI do Azure no Linux com o apt](https://docs.mic

[2019-12-24 19:55] kobulloc-MSFT commented on #1717
@edervaldonetoMS Thank you for bringing this to our attention!  We'll investigate this and update the document shortly.

[2019-12-30 22:39] kobulloc-MSFT commented on #1717
@edervaldonetoMS Thank you again for bringing this to our attention!  Since this is a localized version that will require a new release notes link, I'm going to assign this to the document author to make sure that everything gets updated appropriately.

[2020-01-03 13:58] MrBill2U opened #1732 "az vm image list errors out if it sees Symantec.test.ru4mp1.latest"
When issuing the following command the list of images is not returned due to an error with Symantec.test.ru4mp1.latest.

[code]

This is preventing Terraform from creating VMs in eastus2.  The Terraform error returned is:

`'Error message: 'The Publisher: Canonical does not make available Offer: UbuntuServer, Plan: 18.04-LTS in your Subscription/Azure account’s region: US.''`

Edit:  In looking ar

[2020-01-03 15:51] SamaraSoucy-MSFT commented on #1732
Thank you for reporting this issue. This forum is indeed for the docs only. The CLI repo can be found here: https://github.com/Azure/azure-cli

I'll reach out to the product team and the engineer assigned to your support case and see if we can find a solution for you.

[2020-01-03 21:27] dcaro commented on #1717
@kobulloc-MSFT please assign this issue to @achandmsft

[2020-01-07 09:50] InitionsJulius opened #1741 "Debian Azure CLI Repository Error"
As of today, the **Azure CLI debian software repository** seems to have an error, since there seems to be a file size (or checksum?) mismatch. This error seems to be related to the new release (v 2.0.79), since last week everything was working fine.

The **error message** reads:
Failed to fetch https://packages.microsoft.com/repos/azure-cli/dists/bionic/main/binary-amd64/Packages.bz2  File has une

[2020-01-07 12:03] #1741 closed

[2020-01-07 15:12] SamaraSoucy-MSFT commented on #1732
I'm going to close this thread as it is not a doc related issue. The product team has acknowledged the bug in the product repo and you can subscribe to that thread for updates: https://github.com/Azure/azure-cli/issues/11767

The command works without the --all flag, so that is the best workaround until the issue is addressed.

[2020-01-07 15:12] #1732 closed

[2020-01-07 19:55] stan-sz commented on #1691
I see https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest is updated with the necessary wording. Thanks!

[2020-01-07 19:55] #1691 closed

[2020-01-07 19:57] MonikaReddy-MSFT commented on #1691
@stan-sz , Thanks again for bringing this to our attention. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-01-13 22:25] kalyankadiyala-Microsoft opened #1752 "Additional data point - Section "Sign in with a service principal""
While the resources to be gathered is clear, it helps to add a caution where the PEM should have both the Private Key and the Certificate information as a bundle, in the following format.

	-----BEGIN PRIVATE KEY-----
	...
	-----END PRIVATE KEY-----
	-----BEGIN CERTIFICATE-----
	...
	-----END CERTIFICATE-----

This will help folks generating the private key and the certificate (DER formats for exa

[2020-01-13 22:34] kalyankadiyala-Microsoft commented on #1752
Following is the link to the comment on Azure-Cli/Issues by yugangw-msft commented on Jul 20, 2019, which helped me fix the error described above in my attempts to setup and sign-in to Azure using SPN + Self-signed Certificate.

https://github.com/Azure/azure-cli/issues/9970

[2020-01-14 02:27] kobulloc-MSFT commented on #1752
@kalyankadiyala-Microsoft Thank you for the feedback!  We will assign this to the document author so that they can update the documentation accordingly.

[2020-01-14 02:41] KrishnaG-MSFT commented on #1741
@InitionsJulius Glad to know that the issue is resolved. Thanks for the update.
For the benefit of broader audience who might face similar issue, do you mind sharing information on what was done to resolve the issue. Thanks.

[2020-01-14 07:36] InitionsJulius commented on #1741
The problem was resolved by Microsoft developers upon contacting them.

[2020-01-21 14:36] githnt commented on #1329
Hi,
I have Windows 10.0.17134, WSL 1 and Ubuntu 18.04 (bionic). Does it mean that there is no way to make it work on this configuration? I keep getting the error:
-----
gpg: connecting dirmngr at '/tmp/apt-key-gpghome.ljJpIgUmcc/S.dirmngr' failed: IPC connect call failed
gpg: keyserver receive failed: No dirmngr
-----

[2020-01-23 09:22] cepcruzz opened #1767 "No window is showing when az login"
Team, please help why I get this error message everytime I try to run az login

christianepcruz@SSCE-9073BZN-LX:~$ az login
'\\wsl$\Ubuntu-18.04\home\christianepcruz'
CMD.EXE was started with the above path as the current directory.
UNC paths are not supported.  Defaulting to Windows directory.

[2020-01-24 02:53] MohitVerma-MSFT commented on #1767
Hello @cepcruzz ,

Thank you for your feedback! Since this channel is for driving improvements towards MS Docs, could you provide the URL of the specific documentation that your feedback is applicable to? That way, we are able to make sure your feedback is addressed by the right team.

[2020-01-24 09:36] cepcruzz commented on #1767
Hi Mohit,

Please refer to this link for the documentation.

https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest

Thanks!

On Fri, Jan 24, 2020 at 10:53 AM Mohit Verma <notifications@github.com>
wrote:

--
Thanks and regards,

*Christian Emmanuel Cruz*
Email: christianemmanuel.cruz@gmail.com
Mobile: +639052880948

[2020-01-26 01:21] YanaShetko opened #1772 ""Insufficient privileges to complete the operation.""
can you help me please!
I was invited to some  Azure subscription. And now using and working in this subscription, I want to create  an Azure service principal. But when i try to do it with this command  - az ad sp create-for-rbac, i always get this error - "Insufficient privileges to complete the operation."
Tell me, please, am I correct in assuming
does this appear because I was invited by a reg

[2020-01-26 03:40] BharathNimmala-MSFT commented on #1772
Thank you @YanaShetko for reaching out. We will further look into this and get back to you at the earliest. Thanks

[2020-01-26 04:10] MohitVerma-MSFT commented on #1772
Hello @YanaShetko ,

Are you the Azure AD administrator or Azure administrator? To create an Azure service principal, the Azure AD administrator or Azure administrator role is required.

If your account doesn't have permission to create a service principal, az ad sp create-for-rbac will return an error message containing "Insufficient privileges to complete the operation." Contact your Azure AD ad

[2020-01-27 03:30] BhargaviAnnadevara-MSFT commented on #1767
@cepcruzz Thanks for bringing this to our attention! Please know that this has already been reported [here](https://github.com/Azure/azure-cli/issues/11927) and a fix is in the works. Please follow the mentioned GitHub issue to know the latest update in this regard.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag

[2020-01-27 03:30] #1767 closed

[2020-01-27 06:52] MohitVerma-MSFT commented on #1772
Hello @YanaShetko ,

Just wanted to check if you got a chance to check my previous response.

[2020-01-27 14:30] NoNameProvided opened #1774 "--output none not documented"
The `--output none` flag is not documented on this page. I see there have been an issue for this already which was closed a month ago, but the none option still not visible on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48273ba7-da5a-95f0-7ffc-8c6d5282313d
* Version Independent ID: 83d348f9-fd1f-1041-0304-

[2020-01-28 01:29] Mike-Ubezzi-MSFT commented on #1774
@NoNameProvided Thank you for bringing this to our attention. I will have this issue investigated and an update will be made as appropriate.

[2020-01-28 05:10] MohitVerma-MSFT commented on #1772
Hello @YanaShetko ,

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue. Thanks for bringing this to our attention. We will now close
 this issue. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussi

[2020-01-28 05:10] #1772 closed

[2020-01-28 05:31] BhargaviAnnadevara-MSFT commented on #1774
@NoNameProvided Thanks for following up on the change! I've reached out to our internal Teams to approve the pull request for the same.

Also, please know that we welcome public contributions to the Azure CLI documentation from the community! Please feel free to submit a PR as you see fit the next time you stumble upon a bug or an enhancement. :)

[2020-01-28 22:54] stewartadam opened #1777 "Detail how to non-interactively configure settings"
The documentation and help strings are entirely unclear on how to configure defaults non-interactively (i.e. scripting).

The `az configure --help` string shows:

    --defaults -d      : Space-separated 'name=value' pairs for common argument defaults.
    --list-defaults -l : List all applicable defaults.  Allowed values: false, true.

However `az configure -l` doesn't appear to output anything o

[2020-01-29 17:50] #1774 closed

[2020-01-29 19:43] Mike-Ubezzi-MSFT commented on #1777
@stewartadam Thank you for bringing this to our attention. This is being evaluated and any updates and corrections will be made and reflected in the published version of the document as appropriate.

[2020-01-29 19:56] codepoet80 commented on #1326
Another vote for Raspberry Pi binaries, please. The NodeJS samples are broken, and without the CLI, the Python Quickstart is useless too. The Pi has to be the most common IOT device out there...

[2020-01-30 09:51] MohitVerma-MSFT commented on #1777
Hello @stewartadam ,

Thanks for reaching out !!

I tried to reproduce the scenario which you mentioned. For setting up the **`default output`** to **table** , you can try below command:

`az configure --defaults core.output=table`

I tried the same thing and it worked for me , and for getting the defaults entry i tried the below command:

`az configure --list-defaults -l`

Here is the output for

[2020-01-31 06:15] MohitVerma-MSFT commented on #1777
Hello @stewartadam ,

Just wanted to check if you got a chance to check my previous response.

[2020-01-31 07:16] stewartadam commented on #1777
Hi @MohitVerma-MSFT, perhaps it doesn't behave the same way on Unix-like OS -- here is my current `~/.azure/config`, as configured via the interactive `az configure` command for default table output:

[code]

`az configure --list-defaults -l` produces no output when I call it, despite `output = table` default being present in the config file.

If I run `az configure --defaults core.output=table`,

[2020-02-05 12:41] atbagga opened #1794 "Long summary is not part of the auto generated documentation"
We have got multiple issues of missing help when people are referring to the docs.microsoft.com documentation for the command.

Even when the same is present in the long summary of the command.
e.g.
![image](https://user-images.githubusercontent.com/11888714/73842612-eb3e6e00-4842-11ea-8317-7c8da364dc25.png)

[2020-02-05 16:39] BhargaviAnnadevara-MSFT commented on #1794
@atbagga Thanks for the feedback! We're investigating this and will get back to you shortly.

[2020-02-06 14:24] BhargaviAnnadevara-MSFT commented on #1794
@atbagga I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-02-06 22:38] mhunter77 opened #1797 "az login --service-principal with PEM is failing."
**QUESTION**   by mhunter@microsoft.com. I have a related service desk case for this issue
--------------
- What is the following command failing?

 az login --service-principal --username XXXXXX-XXXX-46c2-b330-801ed0a72f02 --tenant XXXXXXXX-XXXX-466e-a7af-4ad1a1b79713 --password AF-non-prod.pem

Customer is getting the same error as in https://github.com/MicrosoftDocs/azure-docs-cli/issues/1752 .

[2020-02-07 00:01] YutongTie-MSFT commented on #1797
@mhunter77 Hi, thanks for reaching out to us. Are you referring to https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest#sign-in-with-a-service-principal ?

[2020-02-07 10:21] jiasli commented on #1777
Hi @stewartadam, I am the developer for `az configure`. `az configure --defaults` only works for the ` [defaults]` section in `~/.azure` file, as stated in [CLI configuration with az configure](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-with-az-configure). Currently for other sections, we need manually edit the file.

[2020-02-10 21:44] LyalinDotCom opened #1802 "Running "az vm list -g QueryDemo --query '[].{Name:name..." causes error"
Running command below leads to error.

Command:
C:\&gt;az vm list -g QueryDemo --query '[].{Name:name, OS:storageProfile.osDisk.osType, Admin:osProfile.adminUsername}' --output table

Error reported back:
az vm list: error: argument --query: invalid jmespath_type value: "'[].{Name:name,"
usage: az vm list [-h] [--verbose] [--debug]
                  [--output {json,jsonc,table,tsv,yaml,none}]

[2020-02-10 22:11] LyalinDotCom commented on #1802
So a few more comments:

1. Playing more with this I realized that "QueryDemo" is the resource group name, this was very confusing perhaps we should replace this with something that stands out as a value the real query should replace.
2. It seems some of the column names might have changed in Azure causing errors that they cant be found in the path. This makes me think the docs need to be scrubbed

[2020-02-11 02:13] mhunter77 commented on #1797
Hi YutongTie-MSFT,

I also work at Microsoft.com.  What are your normal working hours and time zone.  I can reach out to you via MSFT Teams to discuss.

a.)

It is.  However, I like the following article better.

Create an Azure service principal with Azure CLI
https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/create-an-azure-service-principal-azure-cli.md
Sign in usi

[2020-02-11 13:38] BhargaviAnnadevara-MSFT commented on #1802
@LyalinDotCom The exact same command gives me the expected output similar to what is mentioned in the doc.

Few things to note:
- The "-g" switch in the command denotes that the following parameter is the name of the resource group. This is also documented in the `az vm list` command [reference](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-list).
- The az vm list comma

[2020-02-13 00:31] BhargaviAnnadevara-MSFT commented on #1802
@LyalinDotCom Just following up to check if you've had a chance to verufy the above.

[2020-02-14 04:06] BhargaviAnnadevara-MSFT commented on #1802
@LyalinDotCom Please let us know if you're still blocked and we can troubleshoot further.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-14 04:06] #1802 closed

[2020-02-18 19:33] jude-chen opened #1812 "Is the repo URL correct?"
The repo URL in this document is "https://packages.microsoft.com/yumrepos/azure-cli" which is for YUM, is this correct? Should it be "https://packages.microsoft.com/opensuse/15/prod"?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26961ab6-af63-1bb9-53d1-566e4acc2896
* Version Independent ID: 2c26a785-ca52-321a-ba33-46

[2020-02-18 19:40] jude-chen commented on #1812
looks like the opesuse repo URL is not for azure-cli.

[2020-02-18 19:40] #1812 closed

[2020-02-19 03:41] KrishnaG-MSFT commented on #1812
@jude-chen Thanks for the update. If there are further questions regarding this matter or feedback on the referred Azure documentation, please do let us know and we will gladly continue the discussion.

[2020-02-20 01:46] pmozbert opened #1815 "cannot find way to install python36 dependency"
I'm trying to find a way to install python36 on a RHEL 3.6 VM (publish RedHat, offer RHEL, sku 7.6, version latest), but can't find a way to do it aside from building from source.  Can you link to instructions that have been tested and are known to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9f55d23-7802-e0da

[2020-02-20 05:44] kobulloc-MSFT commented on #1815
@pmozbert Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-02-20 19:01] nani1211 commented on #768
I have anaconda installed on mac. after that install azcli using pip

[2020-02-20 22:18] jamesosb-msft commented on #1291
So, we should use a locally stored .pfx?  I tried this, but Azure CLI just barfs up this:
The command failed with an unexpected error. Here is the traceback:

'charmap' codec can't decode byte 0x8f in position 196: character maps to <undefined>
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-3pnsb50r\knack\knack\cli.py", line 206, in invoke
  File "C:\Us

[2020-02-21 01:56] pmozbert commented on #1815
Thanks.  I'm using packer to create custom images and am trying to bake in some basic utilites like the azure cli.   The most recent package for python that i can find to install with yum on RHEL is 3.4.

[2020-02-21 19:19] asinn826 commented on #1815
@pmozbert - Which commands are you running? The steps here worked for me: https://developers.redhat.com/blog/2018/08/13/install-python3-rhel/

I ran `yum -y install rh-python36` and then `scl enable rh-python36 bash` on a RHEL 7.6 VM (RedHat:RHEL:7.6:7.6.2019102813)

[2020-02-21 20:47] pmozbert commented on #1815
I believe you need to be logged in to a RH subscription in order to install rh-* and to use scl.  But I'm using Packer to run commands on the vm when creating custom image.  How would I do it in that case?

[2020-02-24 11:16] dariuszbz opened #1827 "az <sub-command> list --query - won't work"
az group list --query "[].{Name:name}?contains(Name,'EU')"

an error is:
az group list: error: argument --query: invalid jmespath_type value: "[].{Name:name}?contains(Name,'EU'"

in error message, there is no closing bracket - but it is in the command.

[2020-02-24 11:24] dariuszbz commented on #1827
and the following:
az group list --query "[].{Name:name}[?contains(Name,'EU')]" -o json

] was unexpected at this time.

[2020-02-24 11:26] dariuszbz commented on #1827
but it works fine from azure cloud shell (Powershell)m and won't work from visual studio code integrated terminal (my laptop)

[2020-02-24 17:44] SamaraSoucy-MSFT commented on #1827
@dariuszbz thank you for reporting the issue. I will take a look and get back with you shortly.

[2020-02-25 20:19] SamaraSoucy-MSFT commented on #1827
It's a known issue with Powershell itself unfortunately ([fairly long explanation here](https://stackoverflow.com/questions/562038/escaping-double-quotes-in-batch-script), and [similar issue with the cli here](https://github.com/Azure/azure-cli/issues/11320)). In particular, you'll notice it is stripping out the quotes in the query parameter. This means that when it is passed into the script that

[2020-02-25 20:19] #1827 closed

[2020-02-25 20:38] SamaraSoucy-MSFT commented on #1815
@pmozbert I found an example that includes logging into and out of a RH subscription inside a Packer script: [https://github.com/ansiblejunky/packer-rhel](https://github.com/ansiblejunky/packer-rhel )

Is that something you could incorporate into your own scripts?

[2020-02-26 09:21] Katja2 opened #1829 "The script can also be downloaded"
A more detailed explanation of how and where to download the script from would be nice. Managed to download it anyhow.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI for Linux manually](

[2020-02-26 11:45] BhargaviAnnadevara-MSFT commented on #1829
@Katja2 Thanks for the question. The [install or update](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest#install-or-update) section of the doc describes this.

Is there anything specific you'd like to see added?

[2020-02-26 22:07] pmozbert commented on #1815
Hi, I was able to install python 3.6 from RHN by following the RHN registration example in [https://github.com/ansiblejunky/packer-rhel](https://github.com/ansiblejunky/packer-rhel)  but I'm still having problems.

summary
[code]

I verified that I can use python 3 like this
[code]
The script called from Packer does this
[code]
And this is the output from the above
[code]
This is what I find on th

[2020-02-27 03:16] SamaraSoucy-MSFT commented on #1815
@pmozbert I will continue to work with you on this issue, but because the problem isn't docs related, I'm going to close it. You should still be able to comment here, or if you would prefer, you can send an email to azcommunity(at)microsoft.com with a link to this thread and we can continue there.

[2020-02-27 03:16] #1815 closed

[2020-02-27 09:34] BhargaviAnnadevara-MSFT commented on #1829
@Katja2 Any update here?

[2020-02-27 13:43] pmozbert commented on #1815
Your doc states that python 3.6 is a prerequisite, without offering a way to satisfy this prerequisite.  Instructions for installing the CLI on Linux ought to work.  Have you verified that azure CLI can be installed on any of your Linux base image types?

[2020-02-27 16:18] lamek commented on #1815
I followed these instructions to install python 3 (although I think I already had it because python3 -V worked.
https://developers.redhat.com/blog/2018/08/13/install-python3-rhel/#tldr

Yum still wouldn't work, but I was then able to manually download and install the azure-cli with some yum tools I had not heard of.
https://github.com/Azure/azure-cli/issues/11418

[2020-02-27 17:41] pmozbert commented on #1815
Hi, the 11418 ticket you reference doesn't actually give a resolution, though they closed it as resolved.
Taking a guess here, but is this the thing you did?
[code]

[2020-02-27 18:44] lamek commented on #1815
@pmozbert yes, those are the steps I followed. Re-reading this ticket I'm not sure if you can automate those commands in packer or not. Also, I'm on a RHEL 7 laptop with a subscription, but I did already have python3 installed, I think the output from yum just made me assume I didn't.

[2020-02-27 20:44] pmozbert commented on #1815
I got this to work.  for the azure CLI i did this
[code]
but then the cli doesn't just work as-is.
[code]
you need to go into the RH python3 collection first
[code]
so there's considerable finesse involved to get Azure CLI to work on RHEL.
1. you need to log in to a RHN subscription in order to install python 3.6
2. you need to run special commands to install the Azure CLI RPM
3. you need to use s

[2020-02-27 22:32] SamaraSoucy-MSFT commented on #1815
@pmozbert It sounds like you have gotten this working, can you confirm whether or not this is the case?

Unfortunately, we can't test or document how to use the CLI for every version of Linux or every scenario. In this case, the `yum` installation instructions were verified with RHEL 7.7, RHEL 8, Fedora 24+, CentOS 7 and CentOS 8.

We do try to assist with scenarios not expressly defined in the do

[2020-02-28 09:14] BhargaviAnnadevara-MSFT commented on #1829
@Katja2 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-02-28 09:14] #1829 closed

[2020-03-02 11:12] alextuncu opened #1836 "The steps "Update the zypper package index and install" should be updated"
Running the indicated commnad in Suse Enterprise Server 12 fails.
As per the following post https://github.com/Azure/azure-cli/issues/9665#issuecomment-535304323 the new step is:
- Remove the -y option when install:
sudo zypper install --from azure-cli azure-cli
-  then input 2 to continue install.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-03-02 11:16] BhargaviAnnadevara-MSFT commented on #1836
@alextuncu Thanks for the question! We're investigating this and will get back to you shortly.

[2020-03-05 16:31] katlimruiz opened #1842 "This works in Ubuntu, but not in Elementary OS"
If you can add to documentation, would be best, but if not at least this comment will be public.

EOS fails to install azure cli, because lsb_release returns HERA (which is EOS release name, not Ubuntu).

The solution is to fix the file `/etc/apt/sources.list.d/azure-cli.list`  and change from `hera` to `bionic`.

`deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ hera main`

to

`d

[2020-03-05 18:45] BhargaviAnnadevara-MSFT commented on #1836
@alextuncu Thank you for bringing this to our attention! I have submitted a PR to fix the issue, the change is awaiting review and will reflect once merged.

[2020-03-06 00:27] SamaraSoucy-MSFT commented on #1842
@katlimruiz I'm going to assign this to the doc author to update the documentation.

[2020-03-06 01:01] BhargaviAnnadevara-MSFT commented on #1836
@alextuncu We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-03-06 01:01] #1836 closed

[2020-03-16 06:02] Juliehzl opened #1860 "[Feature Request] Add extension install instruction"
CLI team need install instruction for each extension to provide guidance for users.

Taking `db-up` for example, currently there is no instruction for extensions, as you can see in https://docs.microsoft.com/en-us/cli/azure/ext/db-up/?view=azure-cli-latest.

But to use the commands inside the extension, users have to install the extension with `az extension add` command as shown in https://docs.mi

[2020-03-16 22:10] MarileeTurscak-MSFT commented on #1860
@Juliehzl
Thanks for your feedback! We will investigate and update as appropriate.

[2020-03-18 10:53] myselfme0194 commented on #1689
I do have the same concern.DO i have to restart anything after Msi installation being done?..I can see the path is already updated via the installer.
But az --version doesnt get recogininze from any other path

[2020-03-19 17:28] dbradish-microsoft commented on #1860
Hello @juliehzl, this information is explained in **Use extensions with Azure CLI** --> https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview.  I can see how this gets missed, however, so I am going to put this on my list for Reference and Extensions Reference enhancements.  Your suggestion would definitely add value to the Azure CLI reference content.

[2020-03-19 17:28] #1860 closed

[2020-03-19 19:29] pbstrein opened #1867 "Make it Clear that Certificates for Service Principals need both Public and Private Key"
There is no clear indication that Certificates uploaded to Azure need a public (certificate) and private key section to them.

For example, in this [issue](https://github.com/Azure/azure-cli/issues/9970), one of the comments made it clear the format of the cert and how to generate the cert to show the proper format. This should be added to the documentation.

---
#### Document Details

⚠ *Do not e

[2020-03-19 23:29] kobulloc-MSFT commented on #1867
@pbstrein ty,,

[2020-03-20 19:00] dbradish-microsoft commented on #1867
Hello @pbstrein , I agree and the updated articles are almost ready for publish.

[2020-03-24 03:03] DreamRivulet opened #1891 "az aks browse change missed in the release note: March 10, 2020"
There was an implement change for the az aks browse command in the 2.2.0 release:
https://github.com/Azure/azure-cli/pull/11804/commits/83397287f5bfb7d79154286ab17b85d77cf7920d#

which changed the az aks browse command to use kube proxy for accessing k8s dashboard.
We should document this change since it will impact RBAC permissions to login k8s dashboard, as now it requires permissions on "servic

[2020-03-24 03:14] MonikaReddy-MSFT commented on #1891
@DreamRivulet , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-03-25 19:18] shweta-sah commented on #1290
@SteveBurkettNZ Your workaround worked like a charm!

[2020-03-27 21:40] dbradish-microsoft commented on #1752
I am closing this issue as both [Create an Azure service principal with Azure CLI ](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest) and [Sign in with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest) documents have been updated with additional information to provide better clarity.  Thes

[2020-03-27 21:40] #1752 closed

[2020-03-27 21:41] dbradish-microsoft commented on #1867
I am closing this issue as both [Create an Azure service principal with Azure CLI ](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest) and [Sign in with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest) documents have been updated with additional information to provide better clarity.  Thes

[2020-03-27 21:41] dbradish-microsoft commented on #1797
I am closing this issue as both [Create an Azure service principal with Azure CLI ](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli?view=azure-cli-latest) and [Sign in with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest) documents have been updated with additional information to provide better clarity.  Thes

[2020-03-27 21:41] #1797 closed

[2020-03-27 21:42] #1867 closed

[2020-03-27 22:07] eugen-nw commented on #1636
bionic did not work for me it complains about libsane-common:

[code]

[2020-03-28 09:30] BhargaviAnnadevara-MSFT commented on #1636
@eugen-nw Thank you for letting us know. I suggest you open a new issue [here](https://github.com/MicrosoftDocs/azure-docs-cli/issues) so we can track and address it separately.

[2020-03-28 10:47] ussantos opened #1899 "Certificate error"
Hi, there is a problem with the certificate used on https://packages.microsoft.com, see bellow (I'm using opensuse leap 15.1 in wsl):

usantos@ussantos-sp3:/mnt/c/Users/uelli&gt; sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
curl: (60) SSL certificate problem: self signed certificate in certificate chain
More details here: https://curl.haxx.se/docs/sslcerts.html

curl failed

[2020-03-28 11:12] ussantos commented on #1899
To solve the problem It was necessary run sudo update-ca-certificates before import Microsoft Key, may be this tip could be an observation on documentation.

[2020-03-29 01:22] BharathNimmala-MSFT commented on #1899
@ussantos Thank you for your question, our team will further look into it and get back to you at the earliest.

[2020-03-29 02:04] uffehellum opened #1900 "additional required info"
In order to manage pipelines, you also need:

`az extension add -n azure-devops`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d09ed623-c83f-6bae-639e-a5f9a31fe3bb
* Version Independent ID: c5d0d722-aacd-47a3-3fcf-982c02c4d0e9
* Content: [Install the Azure CLI for macOS](https://docs.microsoft.com/en-us/cli/azure/inst

[2020-03-29 14:41] PramodValavala-MSFT commented on #1900
@uffehellum Thanks for the feedback! We will review and update accordingly.

[2020-03-30 02:06] MonikaReddy-MSFT commented on #1891
@DreamRivulet ,
Thanks again for bringing this to our attention. We have created an [Issue](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1701872) in our backlog to get it taken care of and it should be added once it is approved.

So We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue th

[2020-03-30 02:06] #1891 closed

[2020-03-30 17:37] SamaraSoucy-MSFT commented on #1899
@ussantos I'm glad you were able to resolve the issue. I'm going to assign this to the doc author to update appropriately.

[2020-03-30 18:19] dbradish-microsoft commented on #1842
@katlimruiz , thank you for your feedback on this issue.  Your comments have been added to the article and will publish on Tuesday evening PST, March 31st.

[2020-03-30 18:19] #1842 closed

[2020-03-31 06:31] BhargaviAnnadevara-MSFT commented on #1900
@uffehellum This doc details only the installation of Azure CLI on macOS.

Is your feedback to add this information here?

[2020-03-31 06:39] BhargaviAnnadevara-MSFT commented on #1900
@uffehellum This doc details only the installation of Azure CLI on macOS.

Adding the `azure-devops` extension is better suited and mentioned in [this](https://docs.microsoft.com/en-us/azure/devops/cli/?view=azure-devops) document.

[2020-04-01 06:53] BhargaviAnnadevara-MSFT commented on #1900
@uffehellum At this point, it appears that there are no edits or updates needed to the document in question. Hence closing this issue for now. If there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-01 06:53] #1900 closed

[2020-04-02 18:03] SidShetye opened #1911 "Instructions to update an existing installation?"
How does one update an older `az` cli installation? Is there an `az update` command that's x-platform?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7bd326-07b2-caaa-7155-5852fc2dfa3f
* Version Independent ID: c44d0547-d5cd-8934-00f8-79e2f4df53ac
* Content: [Install the Azure CLI](https://docs.microsoft.com/en-us/cl

[2020-04-02 19:26] Karishma-Tiwari-MSFT commented on #1911
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-04-03 19:13] MonikaReddy-MSFT commented on #1911
@dbradish-microsoft - Thank you for providing the links and details here.

@SidShetye - I hope the solution provided by @dbradish-microsoft is helpful.
Thanks again for bringing this to our attention.
Since, there are no Doc updates at this moment,  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2020-04-04 00:56] SidShetye commented on #1911
@dbradish-microsoft - so what is the actual command to update the CLI? It seems like just a bunch of links thrown together from a google search with little research done.

@MonikaReddy-MSFT - whatever the command it from which ever resources pointed out by @dbradish-microsoft from across the internet - why isn't that documented as part of the documentation?

[2020-04-08 15:56] lucazav opened #1919 "Link not working"
The link [Create an Azure service principal with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli.md) is not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93174b3a-3e97-8304-83fc-807be75198fe
* Version Independent ID: 1155045b-ce8c-2def-7b0e-043283f8be01
* Conte

[2020-04-08 16:02] MonikaReddy-MSFT commented on #1919
@lucazav , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-08 23:38] dbradish-microsoft commented on #1911
@SidShetye / @MonikaReddy-MSFT , Currently to upgrade you need to reinstall the Azure CLI following the steps documented for Windows, macOS or Linux.  An `az upgrade` reference is in development and upon release, the Azure CLI landing page will be updated with instructions.

[2020-04-09 13:30] MonikaReddy-MSFT commented on #1919
@lucazav , the broken link is fixed now and should be published by EOD today.

Thanks again for bringing this to our attention. We have updated the correct link and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-04-09 13:30] #1919 closed

[2020-04-11 21:42] alexmlopez commented on #1552
this tutorial does not work on a regular, linux box,or regular shell that should be explained, with more detail .
AWS does a great explanation on CLIs.
Trying to learn Azure , but most of the tutorials all full of bugs
hope it helps

[2020-04-12 11:49] WebAzOps opened #1926 "Webazopsdocs"

[2020-04-12 13:53] RohitMungi-MSFT commented on #1926
@WebAzOps It would be great if you could update the issue with more details to help you better.

[2020-04-14 03:27] BhargaviAnnadevara-MSFT commented on #1926
@WebAzOps Any update here? Please elaborate your issue so we can troubleshoot further.

[2020-04-14 10:40] estensen opened #1929 "Breaking changes in minor releases"
Not sure if this is the right place to file this issue, but from looking at the [release notes](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md) it seems that minor releases contain breaking changes.
Is there any reason for this?

[2020-04-14 22:14] TravisCragg-MSFT commented on #1929
@estensen Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-04-15 04:07] BhargaviAnnadevara-MSFT commented on #1926
@WebAzOps We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-04-15 04:07] #1926 closed

[2020-04-22 16:15] dbradish-microsoft commented on #1929
@chenlomis, please respond with product management insight.  Thank you.

[2020-04-22 16:34] chenlomis commented on #1929
Hi @estensen, thank you for your inquiry

One major reason of why the CLI team doesn't bump up the major version of every breaking change is because we release fairly frequently - every 3 weeks . And each release often contains breaking changes. In fact, due to our frequent release, in the past we'd only been bumping patch version for each release such as 2.066 to 2.067

Another reason is that we

[2020-04-23 06:42] estensen commented on #1929
@chenlomis using [semver](https://semver.org/) for versioning you imply that there's a contract of not introducing breaking changes on minor updates. It is implied that new features are added, but that it's safe to upgrade without making code changes. It greatly decreases the mental overhead of keeping dependencies up-to-date. I would appreciate if it was added an explicit note that semver is not

[2020-04-23 08:06] roshinirevindranathan opened #1945 "I love your documentation!"
I am a Java developer using Azure for the first time. I have some professional experience using AWS and Openstack. By far, yours is the best documentation I have ever come across in comparison to the other cloud vendors. Well done! Keep up the good work!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d09ed623-c83f-6bae

[2020-04-23 13:47] BhargaviAnnadevara-MSFT commented on #1945
@roshinirevindranathan Thank you so much for the feedback!

[2020-04-23 14:12] BhargaviAnnadevara-MSFT commented on #1945
@roshinirevindranathan Thank you so much for sharing your feedback! We are glad you found the document helpful! :)

[2020-04-23 14:12] #1945 closed

[2020-04-27 16:22] chenlomis commented on #1929
Thank you for the elaboration @estensen , our team will work together on a a more explicit communication plan/solution and get back to you

[2020-04-28 12:18] zumiek opened #1954 "How do I install older versions of the cli?"
Working on a project where previous developer used an older version of the cli, but now when I try to run the scripts he created it's not working.
I fully understand the ramifications of running an older cli, but the costs incurred for customer for me to fix all the issues is not acceptable, and I can't really find where the older versions of the installers are?

---
#### Document Details

⚠ *Do n

[2020-04-28 13:09] MonikaReddy-MSFT commented on #1954
@zumiek , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-28 20:19] omertuc opened #1955 "Does not work on Focal Fossa (Ubuntu 20.04)"
Does not work on Focal Fossa (Ubuntu 20.04)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1526a9-7f22-504e-484c-0f3edc11b178
* Version Independent ID: c5dec108-efcd-aa77-04b5-803b6b894dba
* Content: [Install the Azure CLI on Linux with apt](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-

[2020-04-28 20:20] omertuc commented on #1955
I tried running this command:
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
And got the following error:
The repository 'https://packages.microsoft.com/repos/azure-cli focal Release' does not have a Release file.

[2020-04-28 20:28] omertuc commented on #1955
Here is how I fixed it myself for now (worked for my use-case, can't guarantee it's perfect):
First download the script without running it:
curl -sL https://aka.ms/InstallAzureCLIDeb > install_azcli.sh
chmod +x install_azcli.sh

Now modify the line that starts with CLI_REPO=... to look like this:
CLI_REPO=eoan

Save the file

Run ./install_azcli.sh

Good luck

[2020-04-28 22:11] MonikaReddy-MSFT commented on #1955
@omertuc , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-04-30 05:58] abhishek1319 commented on #1140
I have tried hard in the Setting environment variable part. However, I am not sure how to do it? This does not explains the out of it. I tried running az vm show --name .... --resource-group .... --query 'networkProfile.network.Interfaces[].id' --output tsv

Its just does not give any output at all. And prints the networkProfile.network.Interfaces[].id as is. Please suggest.

[2020-04-30 20:09] Krullet commented on #1717
Still wrong version of Azure CLI. Should be 2.5.1 not 2.4.0. Thanks

[2020-05-05 02:42] MonikaReddy-MSFT commented on #1954
Hello @zumiek ,
Thanks for reaching out to us and for being patient.
Can you please provide the specific version that you are looking for? So, we can try to find the old MSI and share it with you.

I have opened up a new issue in PG CLI Repo, so they can track your issue and get it taken care of.

At this moment, I will go ahead and close this request but I will work with you until your issue is r

[2020-05-05 02:42] #1954 closed

[2020-05-05 02:47] MonikaReddy-MSFT commented on #1955
@omertuc ,
Thanks again for bringing this to our attention.
I have raised an issue in PG CLI Repo and they will be looking at it and update the doc accordingly.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-05 02:47] #1955 closed

[2020-05-05 07:48] zale1983 opened #1966 "Az-cli raises a SyntaxWarning after upgrade to Fedora 32"
after upgrade Fedora32, run az command wil raises SynataxWarning

/usr/lib64/az/lib/python3.6/site-packages/jmespath/visitor.py:32: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if x is 0 or x is 1:
/usr/lib64/az/lib/python3.6/site-packages/jmespath/visitor.py:32: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if x is 0 or x is 1:
/usr/lib64/az/lib/python3.6/site-packages/jmes

[2020-05-05 13:11] MonikaReddy-MSFT commented on #1966
@zale1983 , Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-05-10 22:31] ShadSterling opened #1972 "Incompatible with Macports?"
I use macports.  After having to deal with macports and fink I'm not going to get into using macports and homebrew.  Since there's no macports package for azure-cli, I tried the manual install.  The install seemed to work, tho it did warn about chardetect, pyjwt, tabulate, pygmentize, inv, fab, humanfriendly, amd pkginfo being `installed in '/Users/polyergic/Library/Python/3.8/bin' which is not on

[2020-05-10 22:45] beatcracker opened #1973 "Invalid "Azure CLI Terms of Use" link"
`Azure CLI Terms of Use` link returns 404: https://aka.ms/AzureCliLegal

Possibly related to https://github.com/Azure/azure-cli/issues/7825

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb42002e-9aa3-233d-9832-353235b7cd0f
* Version Independent ID: e8b320b1-5805-67ba-46b2-48111861facc
* Content: [Azure CLI configurati

[2020-05-10 23:38] SamaraSoucy-MSFT commented on #1973
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2020-05-10 23:39] SamaraSoucy-MSFT commented on #1972
Thanks for the feedback! We will review and get back to you shortly.

[2020-05-11 12:11] MonikaReddy-MSFT commented on #1966
@zale1983 -  Raised a PR, Once the PR is approved it should merge the changes.

Thanks again for bringing this to our attention. We have updated the Doc and We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-05-11 12:11] #1966 closed

[2020-05-12 03:54] BhargaviAnnadevara-MSFT commented on #1972
@ShadSterling Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-12 19:59] dbradish-microsoft commented on #1973
@beatcracker , thank you for bringing this to our attention.  This link is being fixed and will publish on Thursday, May 14th, 2020.

[2020-05-12 19:59] #1973 closed

[2020-05-14 00:09] markvogt commented on #1326
HERE IT IS MAY 2020...
... and while the RaspberryPi (I used RPi4) is far-and-AWAY the MOST POPULAR "Edge Device" on the PLANET...
... MICROSOFT (yeah - the "Microsoft <heart> Linux" Microsoft) still HASN'T created an AzureCLI with binaries for the RPi4's ARM64 architecture.

WHAT WILL IT TAKE Microsoft ?????

FYI, I TRIED the github.com project from 2 years ago, and it WORKS, but it's MISSING the

[2020-05-14 11:05] Philmon22 commented on #1326
I have azure kicking off a Jenkins job on my pi so i guess I am fine with it.

[2020-05-14 17:52] porrascarlos802018 opened #1979 "Roles Clarification required."
For assigning any roles to the service principal
as per this article only owner can do it Because
the contributor even if it is network contributor
shouldnt be able to do any other assigment.

Access assigment by design its reserved only to
Subscription owners.

aks requires aks network contributor role
but who can assign it , someone with the right
access level to deal with permissions, meaning t

[2020-05-14 19:43] sensei-wu commented on #1360
if this is a known limitation, then why is the documentation not updated? (I just raised it in SO before noticing this thread https://stackoverflow.com/questions/61802199/azure-login-with-service-principal-using-certificate-from-keyvault)

[2020-05-14 22:19] kobulloc-MSFT commented on #1979
@porrascarlos802018 Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-05-14 23:04] kobulloc-MSFT commented on #1979
@porrascarlos802018 This is a good question but outside of the scope for this document.  I would start off with the AKS documentation:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal

Additionally, you'll want to check out the Active Directory documentation on service principals:
https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-princip

[2020-05-15 22:09] kobulloc-MSFT commented on #1979
@porrascarlos802018 We are going to close this thread as resolved but if there are any further questions regarding this documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-15 22:09] #1979 closed

[2020-05-16 12:46] pankaj-pal commented on #1955
@MonikaReddy-MSFT it seems repo is still not added for focal and the script is focal. Though changing the release to eoan works, but the repo should have be updated.

[2020-05-19 12:41] arvidcarlander opened #1987 "Obsolete?"
Hi, has not the Azure CLI been deprecated and replaced with az? If so, please note that on this page so people don't confuse the two.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d43769b4-5d99-c581-1f13-659bfabaf9ee
* Version Independent ID: a888b71c-7600-2cc6-bd4e-606107205c96
* Content: [What is Azure CLI?](https:/

[2020-05-19 13:04] BhargaviAnnadevara-MSFT commented on #1987
@arvidcarlander I suppose you have mistaken Azure CLI with the [Az module](https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-3.8.0) in PowerShell.
Please note that Azure CLI is still active and being updated regularly. In fact, the latest release happened as latest as a few hours ago. :)

Release notes are [here](https://docs.microsoft.com/en-us/cli/azure/release-no

[2020-05-19 22:31] awentzel opened #1989 "Question on formatting to return a single value"
example statement fails in Bash script:
[code]
I'm not sure if it's my formatting of the "( )" or if I cannot accept variables inside this statement?  Do we have documentation on this?

Thanks,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60c12ef-d293-5626-c7aa-c7e9241bf975
* Version Independent ID: 7acca1dd-b735-7e

[2020-05-19 22:41] kobulloc-MSFT commented on #1989
@awentzel Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-05-20 00:14] awentzel commented on #1989
The issue appears to be that when wrapping "( )" into new lines it breaks the formatted and variables are no longer recognized.  When in the same line the issue no longer exists.  The error was generic and seemingly unrelated so I didn't realize this until trying a few different things.  It might be nice to update documentation if it does not already exist to show a couple more complex examples.

[2020-05-20 05:19] BhargaviAnnadevara-MSFT commented on #1987
@arvidcarlander Any additional questions here?

[2020-05-20 08:25] Juliehzl opened #1991 "Azure CLI install page information is not correct in zh-cn language."
The version in https://docs.microsoft.com/zh-cn/cli/azure/install-azure-cli?view=azure-cli-latest
and https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest are not the same.

[2020-05-20 10:38] BhargaviAnnadevara-MSFT commented on #1991
@Juliehzl Thank you very much for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-20 13:36] munseym opened #1992 "Updating Azure CLI"
I would like to be able to update to the latest version by typing
az update

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Install the Azure CLI for Windows](https://docs.microsoft.com/en-us/cli/azure/install

[2020-05-20 14:06] SamaraSoucy-MSFT commented on #1992
@munseym Thank you for your feedback! This repository is specifically related to the Azure documentation. The product team is active on their repo and would be the appropriate place to request new features.

[2020-05-21 03:30] BhargaviAnnadevara-MSFT commented on #1987
@arvidcarlander Hope the above response helped. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-21 03:30] #1987 closed

[2020-05-21 15:07] #1992 closed

[2020-05-22 19:38] kobulloc-MSFT commented on #1989
@awentzel Thank you for your feedback and thank you again for posting your solution!  Since the CLI covers so much ground in Azure, it can sometimes be challenging to track down specific examples.  For multi-line commands you can use the "\" character like this:

https://docs.microsoft.com/en-us/azure/batch/scripts/batch-cli-sample-run-job#example-script

[code]

Additionally, I believe there are

[2020-05-22 19:49] kobulloc-MSFT commented on #1989
@awentzel We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-05-22 19:49] #1989 closed

[2020-05-26 12:56] MonikaReddy-MSFT commented on #1955
@pankaj-pal - Focal package released for azure-cli 2.6.0. Please try again.

[2020-05-27 09:35] bowlerma opened #2000 "Error handling"
Hi,

I think it would be helpful if the documentation was updated with some details on how errors are reported/handled with Azure CLI, for example exit codes, use of stderr, etc.  There is a brief mention of exit codes https://github.com/Azure/azure-cli#exit-codes but would be useful if this was added to the documentation and expanded upon.

Thanks,

Mark

---
#### Document Details

⚠ *Do not edit

[2020-05-27 10:48] BhargaviAnnadevara-MSFT commented on #2000
@bowlerma Thank you for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-05-28 03:59] SeaDude commented on #1341
Users could really benefit from the command `az --upgrade`. There is probably a good reason why this is omitted, but nonetheless thought I'd mention it in this thread.

[2020-05-28 17:01] MonikaReddy-MSFT commented on #1954
@zumiek , PG has responded with the following :

Package | Install Specific Version Command
-- | --
RPM | yum --showduplicates list azure-cli; sudo yum install azure-cli-2.2.0-1.el7
DEB | apt-cache policy azure-cli; sudo apt-get install azure-cli=2.2.0-1~bionic
MSI | Invoke-WebRequest -Uri https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.2.0.msi -OutFile .\AzureCLI.msi; Start-Process msi

[2020-06-02 14:23] elliot-resdiary commented on #1290
Also seeing this error **gpg: keyserver receive failed: Connection timed out** when running `sudo gpg --keyserver packages.microsoft.com --recv-keys 52E16F86FEE04B979B07E28DB02C46DF417A0893` in cloud-init.

[2020-06-04 22:27] pegstr opened #2011 "Invoke-WebRequest Install Method"
Powershell needs to be restarted after executing the Invoke-WebRequest command. Docs should maybe mention this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Install the Azure CLI for Windows](https://docs.m

[2020-06-05 04:28] BhargaviAnnadevara-MSFT commented on #2011
@pegstr Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-09 04:15] swethaps511 opened #2019 "Package to download and install azure cli"
Hi,
I see the link to install azure cli by curl | bash here : https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest&source=docs

We have a requirement in our setup where we need a versioned downloadable packagee.
Is there is a downloadable package with specific version to download the same in .tar.gz or .zip format?

[2020-06-09 08:01] BhargaviAnnadevara-MSFT commented on #2019
@swethaps511 Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-09 09:44] cepcruzz opened #2020 "No Window is prompting after az login"
[Team,

No window is prompting after executing az login for me to login interactively on az cli. Using ubuntu 18.04.4]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93174b3a-3e97-8304-83fc-807be75198fe
* Version Independent ID: 1155045b-ce8c-2def-7b0e-043283f8be01
* Content: [Sign in with the Azure CLI](https://docs.m

[2020-06-09 10:55] BhargaviAnnadevara-MSFT commented on #2020
@cepcruzz Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-11 13:43] BhargaviAnnadevara-MSFT commented on #2019
@swethaps511 Depending on the distribution and package manager you're working with, you can get the specific version from https://packages.microsoft.com.

For example, for Linux distributions with yum such as RHEL, Fedora, or CentOS, you can get the required version from https://packages.microsoft.com/yumrepos/azure-cli/ and then install with the `yum install` command.

The same assets in `.zip` a

[2020-06-11 14:42] BhargaviAnnadevara-MSFT commented on #2020
@cepcruzz If for some reason the CLI cannot open your default browser, it should still let you login using the old authentication flow based on device code.

You can run the command: `az login --use-device-code` to not default to interactive login. You can then browse to https://aka.ms/devicelogin and enter the authorization code displayed in your terminal.

If it is not a Microsoft account or doe

[2020-06-12 16:33] BhargaviAnnadevara-MSFT commented on #2019
@swethaps511 Hope the above inputs help. Are there any further questions here?

[2020-06-12 16:33] BhargaviAnnadevara-MSFT commented on #2020
@cepcruzz Hope the above inputs help. Are there any further questions here?

[2020-06-14 02:32] kennetherland opened #2028 "Download MSI link is broken. Please fix."

[2020-06-14 10:44] BhargaviAnnadevara-MSFT commented on #2028
@kennetherland Thank you for letting us know. In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-06-14 10:52] BhargaviAnnadevara-MSFT commented on #2019
@swethaps511 We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-14 10:52] #2019 closed

[2020-06-14 10:53] BhargaviAnnadevara-MSFT commented on #2020
@cepcruzz We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-14 10:53] #2020 closed

[2020-06-15 07:43] BhargaviAnnadevara-MSFT commented on #2028
If it is the MSI installer for Azure CLI for Windows, I've verified that both links work on this page: [Install Azure CLI on Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest)

Please give it another try, and do let us know if you see issues.

[2020-06-16 10:10] BhargaviAnnadevara-MSFT commented on #2028
@kennetherland We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-06-16 10:10] #2028 closed

[2020-06-16 16:06] MicheleHope opened #2030 "Last two links on this page are redirecting to German web pages"
When I tried to click on the last two links on this page (in the last sentence), they redirected me to German web pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93174b3a-3e97-8304-83fc-807be75198fe
* Version Independent ID: 1155045b-ce8c-2def-7b0e-043283f8be01
* Content: [Sign in with the Azure CLI](https://docs

[2020-06-16 23:00] BryanTrach-MSFT commented on #2030
@MicheleHope Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-06-16 23:05] dbradish-microsoft commented on #2000
@bowlerma , I think this is a great idea and have created a work item for a conceptual doc that just talks about error handling in the Azure CLI.  Thank you for taking the time to help make the Azure CLI even better.

[2020-06-16 23:05] #2000 closed

[2020-06-16 23:52] dbradish-microsoft commented on #2011
Hello, @pegstr

There is a statement in the Install doc which reads "After the installation is complete, you will need to reopen PowerShell to use the Azure CLI."  Was there something else you had to do after installing the Azure CLI to get PowerShell to work for you?

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest#install-or-update

[2020-06-17 00:08] dbradish-microsoft commented on #2030
@MicheleHope , I tested the last two URLs on the [Sign in with the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli?view=azure-cli-latest):

Note that this URL is specifying /**en-us**/

This is the last sentence in the doc containing two URLS:
"
To learn more about managed identities for Azure resources, see [Configure managed identities for Azure resources](https://do

[2020-06-17 00:18] MicheleHope commented on #2030
@dbradish-microsoft -- This issue seems to have been transient and has since been resolved upon refresh. Thanks for looking into it. Strange!

[2020-06-17 00:18] #2030 closed

[2020-06-17 00:29] dbradish-microsoft commented on #1929
@estensen / @chenlomis ,

I am closing this issue as this concern has been brought to the attention of the engineering team.  While the Azure CLI continues its rapid growth (over 100 new Azure CLI commands were released last week), we have to mix all types of changes in our bi-weekly releases.  As with all Microsoft products, this is not a common or desired scenario, and we anticipate settling int

[2020-06-17 00:29] #1929 closed

[2020-06-17 02:24] dbradish-microsoft commented on #1972
Hello, @ShadSterling ,

Azure CLI currently only provides macOS support through Homebrew.  Macports is not supported at this time.

Kindly,

Delora

[2020-06-17 02:24] #1972 closed

[2020-06-17 06:22] mohamednazar opened #2039 "after installing azurecli through powershell az command not working"
[after installing azurecli through powershell az command not working]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Install the Azure CLI for Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure

[2020-06-17 10:11] pegstr commented on #2011
No sorry my bad, somehow I missed the sentence. I can see it now. Restarting Powershell was the only action I needed to take in order for the Az CLI commands to start working.

[2020-06-17 10:11] #2011 closed

[2020-06-17 10:41] BhargaviAnnadevara-MSFT commented on #2039
@mohamednazar Thanks for the question! We're investigating this and will get back to you shortly.

[2020-06-17 16:36] BhargaviAnnadevara-MSFT commented on #2039
@mohamednazar Could you please elaborate the steps you've followed and error you see, possibly including a screenshot?

[2020-06-18 19:17] BhargaviAnnadevara-MSFT commented on #2039
@mohamednazar Any update here?

[2020-06-18 22:35] dbradish-microsoft commented on #2039
@mohamednazar , after the installation is complete, you will need to reopen PowerShell to use the Azure CLI.  With PowerShell restarted, are you still experiencing the issue?

[2020-06-19 05:54] mohamednazar commented on #2039
The installation was not success in my earlier approaches. Now all looks good. Thanks, you can close this.

[2020-06-19 05:54] #2039 closed

[2020-06-25 01:06] tapatel opened #2052 "Not able to retrieve azure service principal password using azure sdk for python"
Is there a way to retrieve azure service principal password using azure sdk for python? I am creating service principal using following but service principal create response has empty password.

    def create_azure_service_principal(self, app_name=None):

        app = self.graphrbac_client.applications.create({
            'available_to_other_tenants': False,
            'display_name': app_name

[2020-06-25 03:11] MonikaReddy-MSFT commented on #2052
@tapatel - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-27 04:49] drdamour opened #2054 "RSS/Atom Feed"
Is there an RSS/Atom feed of release WITH the version notes, we like to have them appear in our MS Teams channels.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0e8d9ef-f25b-bb46-7f1a-bd3588be3343
* Version Independent ID: cd392600-a90d-0145-5ea6-6b01ab8f4ab9
* Content: [Azure CLI release notes](https://docs.microsof

[2020-06-27 05:21] BharathNimmala-MSFT commented on #2054
@drdamour Thank you for reaching out to us, our team will look into your query and get back to you at the earliest.

[2020-06-29 13:35] ehsf973 opened #2056 "https://azurecliprod.blob.core.windows.net/ bad uri ?"
https://azurecliprod.blob.core.windows.net/
the url to download the azure cli package give me that, instead :
[Enter feedback here]
This XML file does not appear to have any style information associated with it. The document tree is shown below.
<Error>
<Code>InvalidQueryParameterValue</Code>
<Message>Value for one of the query parameters specified in the request URI is invalid. RequestId:ca7583e3

[2020-06-29 14:14] MonikaReddy-MSFT commented on #2056
@ehsf973 ,  Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-06-29 16:58] dbradish-microsoft commented on #2056
Hello, @ehsf973, could you please provide the first URL you are executing? -- "https://azurecliprod.blob.core.windows.net/" is not part of the source code on the Windows Install page, so the URL you provided must be a redirect.  If you are unable to get to the two URLs provided below, something in your ISP, VPN or company Internet rules may be blocking you.

To download the Azure CLI current versi

[2020-06-29 17:02] MonikaReddy-MSFT commented on #2052
@tapatel - Thanks for bringing this to out attention.
This question belongs to Azure SDK For Python, hence I have moved this to the right repo to get the better visibility for your question.
Since there are no doc updates for this doc at the moment, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue t

[2020-06-29 17:02] #2052 closed

[2020-06-29 17:07] tapatel commented on #2052
@MonikaReddy-MSFT : Thank you...Can you please send me the github issue link you open for Azure sdk?

[2020-06-29 17:23] ehsf973 commented on #2056
i don't know this is a click button in the doc page i do not have an
explicit url before rhe uri below and the xml parsing error.

Le lun. 29 juin 2020 à 18:58, Delora Bradish <notifications@github.com> a
écrit :

[2020-06-29 18:25] MonikaReddy-MSFT commented on #2052
@tapatel - Its linked above. But here is the link - https://github.com/Azure/azure-sdk-for-python/issues/12246

[2020-06-29 18:44] tapatel commented on #2052
@MonikaReddy-MSFT Thank you...Got it.

[2020-06-30 15:25] dbradish-microsoft commented on #1991
@juliehzl, our Microsoft docs language translation team has informed me that this has been corrected.  Thank you very much for bringing this to our attention.

[2020-06-30 15:25] #1991 closed

[2020-06-30 15:28] dbradish-microsoft commented on #2054
Hello, @drdamour, I have double-checked with the Azure CLI engineering team and we do not have a RSS feed for our release notes or reference content.  However, they have made a note of your request.

[2020-06-30 15:28] #2054 closed

[2020-06-30 16:11] dbradish-microsoft commented on #1899
@ussantos , The [Install Azure CLI with zipper](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper) article has been updated to reflect your findings.  Changes will publish no later than Thursday of this week.  We appreciate your feedback.

[2020-06-30 16:11] #1899 closed

[2020-07-02 00:20] kaycoinsUSA opened #2060 "Update Cli"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Install the Azure CLI for Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cl

[2020-07-02 02:52] MonikaReddy-MSFT commented on #2060
@kaycoinsUSA - Thanks for reaching out to us. Can you provide more details on the issue ?

[2020-07-02 15:20] dbradish-microsoft commented on #2056
@ehsf973 , If you are clicking on either Install button in [Install the Azure CLI for Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli) article and are receiving an error, the issue is with your ISP, VPN or company Internet rules.  Both links on the page have been tested and provide the intended result.  I suggest navigating to http

[2020-07-02 15:20] #2056 closed

[2020-07-02 17:18] MonikaReddy-MSFT commented on #2056
@dbradish-microsoft - Thank you for providing your insights.
@ehsf973 - Thanks again for bringing this to our attention.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-06 13:27] MonikaReddy-MSFT commented on #2060
@kaycoinsUSA - Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-07-06 13:27] #2060 closed

[2020-07-13 12:53] DreamRivulet opened #2076 "Old Service Principal Credentials can still login after AKS SP is reset"
How to reproduce the issue?
- Create an AKS cluster on azure portal(let AKS creates a new SP automatically):
![image](https://user-images.githubusercontent.com/11328236/87306593-d29d5700-c54a-11ea-84ca-e9217c6bc162.png)

-  Follow the document https://docs.microsoft.com/en-us/azure/aks/update-credentials#reset-existing-service-principal-credential to reset the AKS cluster SP:
    $ SP_ID=$(az aks

[2020-07-13 13:19] BhargaviAnnadevara-MSFT commented on #2076
@DreamRivulet Thanks for the question! We're investigating this and will get back to you shortly.

[2020-07-20 04:53] jiasli commented on #2076
This is a known issue that `az ad sp credential reset` doesn't take effect immediately because **AAD service needs some time to propagate**.

@DreamRivulet, does the password expire eventually after several seconds (sometimes several minutes)?

[2020-07-21 14:26] MarcAir opened #2093 "device login details need more info"
bash terminal
ProductName:	Mac OS X
ProductVersion:	10.15.6
BuildVersion:	19G73

azure-cli                          2.9.1
command-modules-nspkg              2.0.3
core                               2.9.1
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/usr/local/Cellar/azure-cli/2.9.1/libexec/bin/python'
Extensions directory '/Users/<usrnm>/.azur

[2020-07-21 15:58] MonikaReddy-MSFT commented on #2093
@MarcAir - Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2020-07-23 02:00] jiasli commented on #2093
On MacOS, `az login` will open the default browser and wait for the login process to finish.

Previously `az login` will show a message indicating a browser has been opened:

But that warning was removed later in https://github.com/Azure/azure-cli/pull/10851. Perhaps it is not a good idea to remove that warning.

I am considering perhaps we need to add it back. @achandmsft @chenlomis

[2020-07-24 00:02] code2mars opened #2100 "Tips for using CLI effectively link goes to a page not found"
Clicking on **Tips for using CLI effective** takes to a page saying Not found. seems like the link is broken

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60c12ef-d293-5626-c7aa-c7e9241bf975
* Version Independent ID: 7acca1dd-b735-7e1f-afd9-2b5b6ea06b1c
* Content: [Query command results with Azure CLI](https://docs.m

[2020-07-24 03:18] kobulloc-MSFT commented on #2100
@code2mars Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-07-24 18:21] rido-min commented on #1911
any updates? I found very frustrating to need to uninstall/reinstall everytime there is an update available.

@dbradish-microsoft  any updates RE the `az upgrade` command?

[2020-07-24 19:37] kobulloc-MSFT commented on #2100
@code2mars Thank you for bringing this to our attention!  It looks like the page in question was named using underscores instead of dashes.  I'll get this updated but for the time being, you can access the page at:

https://docs.microsoft.com/en-au/cli/azure/use_cli_effectively

[2020-07-24 20:41] kobulloc-MSFT commented on #2100
@code2mars The fix for the link on the navigation bar should be updated shortly.  Thank you again for bringing this to our attention!

We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-07-24 20:41] #2100 closed

[2020-07-27 12:11] MonikaReddy-MSFT commented on #2093
@MarcAir -
Thanks again for bringing this to our attention. We have raised a PR and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-07-27 12:11] #2093 closed

[2020-08-02 05:24] blessedwithsins opened #2116 "Service Principal Association With Resources"
[Enter feedback here]

Hi Team,

Is there a way to find associated resources with a Service Principal?

We're getting several support requests where customer isn't aware where a Service Principal is in use. Please let me know if we have something regarding it.

Please get in touch with me [pigaur@microsoft,com](url).

Regards,
Piyush Gaur

---
#### Document Details

⚠ *Do not edit this section. It

[2020-08-02 13:31] BhargaviAnnadevara-MSFT commented on #2116
@blessedwithsins Thanks for the question! We're investigating this and will get back to you shortly.

[2020-08-05 17:49] BhargaviAnnadevara-MSFT commented on #2116
@blessedwithsins That's an interesting question!

As such, resources themselves are not associated to Service Principals (SPs), but the operations performed by SPs are, i.e., when any CUD-like action is performed, it is recorded in the [Administrative category](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/activity-log-schema#administrative-category) under [Azure Activity Logs](htt

[2020-08-06 10:55] BhargaviAnnadevara-MSFT commented on #2116
@blessedwithsins We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

Also, on a side note, I'd like to let you know that this channel (the [azure-docs-cli](https://github.com/MicrosoftDocs/azure-docs-cli) repository) is only for driving improvements

[2020-08-06 10:55] #2116 closed

[2020-08-06 13:53] carlowahlstedt commented on #1360
If someone lands here in the future, here's a quick discussion that got me going: https://github.com/Azure/azure-cli/issues/7489

[2020-08-07 03:45] jiasli commented on #2116
@blessedwithsins, Thank you for reaching Azure CLI team.

The way @BhargaviAnnadevara-MSFT provided is great for checking Activity Logs which contains the operations initiated by a Service Principal.

As for (static) permissions, you may also use `az role assignment list` to check the permissions the Service Principal has.

For example, first create a Service Principal and assign it the **contribu

[2020-08-07 03:50] blessedwithsins commented on #2116
@jiasli Thank you for sharing the information. However, I were looking more information on how to get a list of resources associated with a Service Principal via Command Line or Azure Portal.

Activity Log details will capture if action is performed via a Service Principal. If it's performed by a person having Owner/Contributor access, it logs the activity with your credential, not for Service Pri

[2020-08-07 16:02] jeremyfiel opened #2129 "How to use --content-types-to-compress AZ CDN ENDPOINT CREATE"
- name: --content-types-to-compress
    summary: List of content types on which compression applies. The value should be a valid MIME type.
    description: ''

Can you please provide an example of how to use this option flag in the docs?
I'm trying to create an endpoint to optimize video on demand streaming. I can see the value "optimizationType" created when I generate the endpoint from the port

[2020-08-07 21:40] NavtejSaini-MSFT commented on #2129
@jeremyfiel The Github feedback is for improving the Github Documentation. Please provide the document link this feedback is associated with so that we can check and correctly route the issue.

If it is general product question please ask it on Microsoft Q&A platform.Please let us know if you need any further information

[2020-08-07 22:01] jeremyfiel commented on #2129
This is related to AZ-204 Developing Solutions for Microsoft Azure instructor led training course.

Lab 13.  https://github.com/jeremyfiel/AZ-204-DevelopingSolutionsforMicrosoftAzure/blob/master/Instructions/Labs/AZ-204_13_lab_ak.md

[code]

I was following along in the course and using the CLI to execute the commands. The instructions for "Exercise 2: Task 5" indicate to use the portal option to

[2020-08-10 22:46] TravisCragg-MSFT commented on #2129
@jeremyfiel This is not the correct repo for CLI requests, your best bet is to [create this issue Here and choose 'Feature Request](https://github.com/Azure/azure-cli/issues/new/choose)', as this is not possible in the current iteration of the Azure CLI.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly cont

[2020-08-10 22:46] #2129 closed

[2020-08-19 21:42] sjalali123 opened #2243 "AZURE CLI Installer never asks which Drive to install"
Hi Azure CLI Team
          [Enter FBack Line]
AZURE CLI Installer never asks which Drive to install, and contributes with other such installers to quickly fill up the C: Drive. It is annoying of many programs to force themselves to go to bed with the OS Drive, and become less manageable for backups and recovery purposes.
Sush
---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-08-23 03:53] diepnt90 opened #2148 "sign in without listing all subscriptions"
[Enter feedback here]

Hi,

My account has lots of subscriptions so listing up all subscription after signing will take time and occupies all my screen.

Any argument to ignore that?

Thank you.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93174b3a-3e97-8304-83fc-807be75198fe
* Version Independent ID: 1155045b-ce8c-2d

[2020-08-23 05:16] yum-feng opened #2149 "Installed .msi, but 'az' is not recognized as the name of a cmdlet, function, script file, or operable program."
I ran the command as instructed, `Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'; rm .\AzureCLI.msi` and the installation seems to have worked without errors.

I restarted powershell, and tried run "az login" but PowerShell does not recognize this command. Same thing on Command Prompt.

I'

[2020-08-24 07:37] HarshitaSingh-MSFT commented on #2149
@yum-feng , 'az login' is an Azure CLI command. It is not an Azure Powershell command.

- Yes, you are right, I have validated by running this command and it does not work as expected :
[code]
  I have raised a query about this to the product's team.

  You can meanwhile download Azure CLI .msi file from [here](https://aka.ms/installazurecliwindows) - I have verified and it works and recognizes "A

[2020-08-24 09:43] HarshitaSingh-MSFT commented on #2148
@diepnt90 , could you please share a screenshot of this issue which you are facing?

[2020-08-25 05:39] HarshitaSingh-MSFT commented on #2148
@diepnt90, Just checking in to see if you have had a chance to see the previous response.

[2020-08-25 05:39] HarshitaSingh-MSFT commented on #2149
@yum-feng , Just checking in to see if you have had a chance to see the previous response.

[2020-08-25 16:42] vairakkumar-vairaperumal opened #2151 "Incorrect parameter specified in examples - no url only uri available for az rest"
https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#rest-api-command---az-rest
Incorrect parameter specified in examples - no url only uri available for az rest
For example, the following is correct using uri instead of url as documented.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-08-25 18:16] Grace-MacJones-MSFT commented on #2151
Hi @vairakkumar-vairaperumal, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-08-26 03:25] diepnt90 commented on #2148
@HarshitaSingh-MSFT Please check the screenshot. I just want to login. no need to list all my subscriptions (~300). It needs time and I don't want to wait. So if any agreement to ignore the listing is great.
![Capture](https://user-images.githubusercontent.com/18731180/91251859-8454b800-e786-11ea-82d3-9f6a036a3c4e.JPG)

[2020-08-26 04:45] HarshitaSingh-MSFT commented on #2149
@yum-feng , Just checking in to see if you have had a chance to see the previous response.

[2020-08-26 04:51] HarshitaSingh-MSFT commented on #2148
@diepnt90 , we do not have a parameter for this reference that will suppress the default Azure CLI output.

[2020-08-26 17:16] dbradish-microsoft commented on #2148
@fengzhou-msft , please note customer request for engineering consideration.  Thank you.

[2020-08-27 02:11] fengzhou-msft commented on #2148
@diepnt90 you can use `az login --output none`

[2020-08-27 02:20] jiasli commented on #2148
If you only want to ignore the output, you may use

[code]

If you want to skip the whole **listing tenants** and **listing subscriptions** operations, the current version of Azure CLI doesn't support it.

In the [Beta release](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli#azure-cli-beta-version) which uses MSAL, we added a new parameter

[2020-08-27 05:35] HarshitaSingh-MSFT commented on #2149
@yum-feng , since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-08-27 05:35] #2149 closed

[2020-08-27 05:37] HarshitaSingh-MSFT commented on #2148
Thank you @jiasli for responding and creating the issue!
CC: @diepnt90

[2020-08-27 05:38] HarshitaSingh-MSFT commented on #2148
@diepnt90 , can we close this issue? Are you happy with the resolution?

[2020-08-27 16:03] olivierpons opened #2154 "What is a tenant? How to configure it?"
You may add a description with the `The following tenants don't contain accessible subscriptions. Use 'az login --allow-no-subscriptions' to have tenant level access.` problem (I guess I'm not the only one who has ever had this).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 93174b3a-3e97-8304-83fc-807be75198fe
* Vers

[2020-08-27 17:55] kobulloc-MSFT commented on #2154
@olivierpons The official answer to those questions ("What is a tenant? How do I configure it?") is in our Active Directory documenation:

https://docs.microsoft.com/en-us/azure/active-directory/develop/quickstart-create-new-tenant

Tenants and subscriptions can be a confusing topic for people who are just starting out with Azure.  I'll update this with a better description but the short answer is

[2020-08-28 04:55] HarshitaSingh-MSFT commented on #2148
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2020-08-28 04:55] #2148 closed

[2020-08-28 07:02] kobulloc-MSFT commented on #2154
@olivierpons I would encourage you to look over the links above as they should give you a better understanding of tenants in Azure.  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-08-28 07:02] #2154 closed

[2020-08-31 14:20] MonikaReddy-MSFT commented on #2151
@vairakkumar-vairaperumal -
Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2020-09-01 03:28] diepnt90 commented on #2148
@HarshitaSingh-MSFT Thank you all.

[2020-09-01 18:49] #2151 closed

[2020-09-09 09:37] mikeblakeuk opened #2174 "Should I use the CLI MSI installer or `Install Modules`"
For Windows 10, PowerShell 7.
As a developer, should I use the CLI msi installer or Install Modules?
What is the difference?
https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.6.1#install-the-azure-powershell-module

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441

[2020-09-09 10:00] BhargaviAnnadevara-MSFT commented on #2174
@mikeblakeuk Thanks for the question! We're investigating this and will get back to you shortly.

[2020-09-14 04:19] BhargaviAnnadevara-MSFT commented on #2174
@mikeblakeuk I understand from the [referenced doc](https://docs.microsoft.com/en-us/powershell/azure/install-az-ps?view=azps-4.6.1#install-the-azure-powershell-module) that you intend to install the **Azure PowerShell** module, and not Azure CLI.

However, the recommended way to install Azure PowerShell is with **PowerShellGet**. The MSI installer is provided for environments where the PowerShell

[2020-09-15 07:21] BhargaviAnnadevara-MSFT commented on #2174
@mikeblakeuk Hope the above inputs helped.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-15 07:21] #2174 closed

[2020-09-23 07:18] z003smvh opened #2197 "Azure Load Balancer Read Access using the Policy"
Hi Team,

I have posted my query on Azure Q&A and got no response yet from Azure Policy team.

https://docs.microsoft.com/en-us/answers/questions/102039/azure-load-balancer-read-access-using-azure-policy.html?childToView=103568#answer-103568

I suggest your response on the below query once again.

"parameters": {},
 "policyRule": {
 "if": {
 "field": "type",
 "equals": "Microsoft.Network/LoadBalan

[2020-09-23 11:56] SwathiDhanwada-MSFT commented on #2197
@z003smvh Thanks for your comment. We will review the issue and get back to you shortly.

[2020-09-23 15:53] pratapscil opened #2198 "Tab Completion in Azure CLI does not work"
Tab Completion in Azure CLI does not work as it used to work on Azure PowerShell or PowerShell. Tab completion provides automatic help when you are typing in the command pane and  pressing TAB will automatically complete a command. I am using latest version of Azure CLI on Windows 10.

azure-cli                         2.12.0
core                              2.12.0
telemetry

[2020-09-23 17:20] BhargaviAnnadevara-MSFT commented on #2198
@pratapscil Thanks for the feedback. Azure CLI's Intellisense or auto-complete feature is not supported on Windows. It only works with Linux Bash as of today.

Having said that, you could use auto-complete with Azure CLI commands on [WSL](https://docs.microsoft.com/en-us/windows/wsl/install-win10) or on **VS Code** using [WSL Bash](https://code.visualstudio.com/docs/remote/wsl#_opening-a-terminal-

[2020-09-24 17:18] BhargaviAnnadevara-MSFT commented on #2198
@pratapscil Hope the above inputs help. Are there any further questions here?

[2020-09-25 05:37] jiasli commented on #2198
We are currently experimenting with enabling auto-complete in PowerShell (https://github.com/Azure/azure-cli/pull/13576). Fortunately, this is not amongst our high-priority work items and we can't provide a solid ETA.

[2020-09-26 03:55] stliu opened #2206 "how to config default acr name?"
[Enter feedback here]

it has "The default container registry name to use for az acr commands." at first of the page but not mention acr in the table at the bottom
and having no idea which section this acr should be
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb42002e-9aa3-233d-9832-353235b7cd0f
* Version Independent

[2020-09-26 05:12] BhargaviAnnadevara-MSFT commented on #2206
@stliu Thanks for the question. We're investigating this and will get back to you shortly.

[2020-09-27 12:23] pratapscil commented on #2198
Thank you for the update.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Jiashuo Li<mailto:notifications@github.com>
Sent: Friday, September 25, 2020 11:07 AM
To: MicrosoftDocs/azure-docs-cli<mailto:azure-docs-cli@noreply.github.com>
Cc: pratapscil<mailto:pratap_scil@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-do

[2020-09-27 12:23] pratapscil commented on #2198
Thank you for the quick response.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: BhargaviAnnadevara-MSFT<mailto:notifications@github.com>
Sent: Thursday, September 24, 2020 10:48 PM
To: MicrosoftDocs/azure-docs-cli<mailto:azure-docs-cli@noreply.github.com>
Cc: pratapscil<mailto:pratap_scil@hotmail.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re:

[2020-09-28 04:53] SwathiDhanwada-MSFT commented on #2197
@z003smvh As mentioned in Q&A post, you can use [Dynamic Groups](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-dynamic-membership) feature of AD to achieve your requirement.

As there are no further documentation changes, we will close the issue here. If there are further questions , please revert and we can continue our conversation on the Q&A post.

[2020-09-28 04:53] #2197 closed

[2020-09-28 05:24] BhargaviAnnadevara-MSFT commented on #2198
@pratapscil Thanks for the response.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-09-28 05:24] #2198 closed

[2020-09-30 10:44] BhargaviAnnadevara-MSFT commented on #2206
@stliu Thanks for bringing this to our attention. I've worked up a PR to add the missing configuration keys to the table. The changes are in review and should reflect soon post the merge.

Meanwhile, please know that `acr` should be added to the `[defaults]` section of the configuration file. You can use the `az configure` command as:

`az configure -d acr=myacr`

after which the config file may l

[2020-10-01 00:03] lorenmaxwellbutler opened #2217 "azure-cli on ParrotSec4.10"
[404  Not Found [IP: 13.93.152.112 443]
Hit:4 https://mirror.parrot.sh/mirrors/parrot rolling InRelease
Hit:5 https://mirror.parrot.sh/mirrors/parrot rolling-security InRelease
Reading package lists... Done
**E: The repository 'https://packages.microsoft.com/repos/azure-cli n/a Release' does not have a Release file.**
N: Updating from such a repository can't be done securely, and is therefore disa

[2020-10-01 03:49] BhargaviAnnadevara-MSFT commented on #2217
@lorenmaxwellbutler Thanks for the question. We're investigating this and will get back to you shortly.

[2020-10-01 03:57] lorenmaxwellbutler commented on #2217
Thanks! Its seems something isn't registering with gpg-keys and/or Microsoft Servers. Parrot uses Debian "testing" and its a "rolling" distribution, and I see "testing" isn't yet supported for azure-cli.

[2020-10-01 04:37] BhargaviAnnadevara-MSFT commented on #2217
@lorenmaxwellbutler As called out in the docs, the one-shot install script is only verified for Ubuntu 16.04+ and Debian 8+, and may not work on other distributions. Let me check with our Product group and circle back on this.

[2020-10-01 04:44] BhargaviAnnadevara-MSFT commented on #2217
@lorenmaxwellbutler Could you please help me with the contents of the `/etc/apt/sources.list.d/azure-cli.list` file on your machine?

[2020-10-01 05:31] #2206 closed

[2020-10-01 05:52] lorenmaxwellbutler commented on #2217
Certainly,

`deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ n/a main`

So, its trying to find a distro, and can't becuase `testing` isn't supported  at "https://packages.microsoft.com/repos/azure-cli/dists/"

We can call this closed I think.

Thanks much for your time and help @BhargaviAnnadevara-MSFT

[2020-10-01 05:52] #2217 closed

[2020-10-01 05:54] BhargaviAnnadevara-MSFT commented on #2206
Thanks again for the feedback. The changes have been merged and should reflect in the docs shortly.

[2020-10-01 06:16] BhargaviAnnadevara-MSFT commented on #2217
@lorenmaxwellbutler Thanks for the details. I suppose you could set the value of `AZ_REPO` manually when [adding the repository](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#set-release) as Parrot OS seems to be based on Debian. More on this detailed in the [Troubleshooting](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-la

[2020-10-01 06:59] lorenmaxwellbutler commented on #2217
Well, it never hurts to try the easy thing
`sudo apt install azure-cli`

installs `azure-cli` out of the box 🥇
Sorry to waste your time-- I'm thankful someone in the community did the hard-work already of setting `AZ_REPO` manually,
but this is something to watch out for using an odd distro, so I appreciate the guidance.

Take care, and thank you again 😅

[2020-10-01 14:54] BhargaviAnnadevara-MSFT commented on #2217
@lorenmaxwellbutler Sure, thanks for sharing. Glad I could help. :)

If you encounter a distro-specific problem again, please feel free to log an issue with the [Azure/azure-cli](https://github.com/Azure/azure-cli/issues) repo so our Product group can also take a look.

[2020-10-05 14:45] mtaylorfsmb opened #2220 "Az CLI Update Instructions should clarify permissions"
I have version 2.3.1 of the CLI installed from a while back. I needed to use an extension and wanted to ensure everything was up to date. The current instructions do not work for older versions and so I believe some notes should be added.

1. The instructions for MSI with Command where you can copy the IWR command and run it should clarify that you need admin privileges to do so. If you don't have

[2020-10-05 18:14] kobulloc-MSFT commented on #2220
@mtaylorfsmb Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-10-08 18:16] kobulloc-MSFT commented on #2220
@mtaylorfsmb To address your first issue, we've got a note requiring admin permissions to run the Invoke-WebRequest command.  In combination with this GitHub issue (which remains visible and will be quite helpful for anyone else who runs into this) I believe other readers will be well equipped to troubleshoot this scenario if need be.

![image](https://user-images.githubusercontent.com/37556655/95

[2020-10-09 08:14] Brucius opened #2227 "Still not able to do azlogin after setting environment variable"
[Enter feedback here]
Hello, I've been trying to do login using azcli from WSL v2 as per the documentation.

I've verified that the environment variable is set correctly in the terminal.
[code]

When I tried to login again, same error is observed. Please advise.
[code]

Below are other useful information.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micro

[2020-10-09 09:50] BhargaviAnnadevara-MSFT commented on #2227
@Brucius Thanks for the question. We're investigating this and will get back to you shortly.

[2020-10-09 12:05] BhargaviAnnadevara-MSFT commented on #2227
@Brucius Could you please confirm if you are trying to use Azure CLI behind a proxy? If yes, please do run through this troubleshooting step: [Proxy blocks connection](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt#proxy-blocks-connection), [CLI fails to install or run on Windows Subsystem for Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt#cli-fails-to-in

[2020-10-09 18:45] kobulloc-MSFT commented on #2220
@mtaylorfsmb Thank you again for bringing this to our attention.  It looks like the `az upgrade` command was introduced in version 2.11.0 and is intended for use with versions 2.11.0 and later.  We've updated our documentation and the changes should go live shortly.  Thank you for helping to improve our documentation!

We are going to close this thread as resolved but if there are any further ques

[2020-10-09 18:45] #2220 closed

[2020-10-12 00:10] pwehland opened #2230 "Platform architecture is hard coded in the shell script"
The script at https://aka.ms/InstallAzureCLIDeb hard codes the processor platform as amd64.  Although on Raspberry Pi, the install succeeds.  However, when we run "az version", it fails as we need arm64 processor architecture.  Error message is: "
/usr/bin/az: line 2: /opt/az/bin/python3: cannot execute binary file: Exec format error"

The script at https://aka.ms/InstallAzureCLIDeb should check t

[2020-10-12 03:22] BhargaviAnnadevara-MSFT commented on #2230
@pwehland Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-10-12 04:19] Brucius commented on #2227
Thanks @BhargaviAnnadevara-MSFT , I just checked it out again and it seems like it was due to the time drift between WSL 2 container and host windows system. I managed to solved the issue by running the below command to sync the time and updating the cli.
[code]

[2020-10-12 04:19] #2227 closed

[2020-10-12 06:17] BhargaviAnnadevara-MSFT commented on #2227
@Brucius Glad to know, thanks for sharing what worked for you!

[2020-10-16 16:55] exmello opened #2237 "Windows installation process"
I followed the installation steps for the powershell command on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-powershell.

I ran the following command but the azure CLI was not installed: Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'; rm .\AzureCLI.msi

T

[2020-10-16 18:49] BhargaviAnnadevara-MSFT commented on #2230
@pwehland Currently we only build and test the package on **amd64** which covers majority of the package use cases. To support a new architecture, we need to set up corresponding machines and testing in our pipeline besides changing the script.

Our team is tracking this in their backlog and will evaluate it further. The docs will also be updated appropriately once implemented. Please feel free to

[2020-10-16 18:49] #2230 closed

[2020-10-16 21:52] dbradish-microsoft commented on #1794
Working through open GitHub issues, this issue has been open since Feb 5.  @fengzhou-msft, is this still a problem?  Here are screenprints of the current state on 10/16/2020:

**The link that is referenced in the --help:**
https://docs.microsoft.com/en-us/azure/devops/cli/service-endpoint?view=azure-devops#create-service-endpoint-using-configuration-file

**Screenprint of auto-generated reference

[2020-10-16 21:57] dbradish-microsoft commented on #1717
@Krullet, the current version of the Azure CLI is 2.13.0 which is now correctly reflected in https://docs.microsoft.com/pt-pt/cli/azure/install-azure-cli-apt?view=azure-cli-latest.
![image](https://user-images.githubusercontent.com/58762114/96312047-a963eb00-0fbf-11eb-99d4-9648d5c9d263.png)

I am closing this GitHub issue as it is resolved.  Thank you for bringing this to our attention and followi

[2020-10-16 21:57] #1717 closed

[2020-10-17 03:30] Mike-Ubezzi-MSFT commented on #2237
@exmello Thank you for bringing this issue to our attention. I am going to have an engineer review this and have the issue addressed.

[2020-10-19 05:23] #2076 closed

[2020-10-19 05:28] jiasli commented on #1777
We are glad to announce a new versatile command group [`az config`](https://docs.microsoft.com/en-us/cli/azure/config?view=azure-cli-latest). Also see our blog [_Azure CLI - az config and the new dynamic extension installer are now live_](https://techcommunity.microsoft.com/t5/azure-tools/azure-cli-az-config-and-the-new-dynamic-extension-installer-are/ba-p/1611913). Please check if this works for

[2020-10-19 05:28] #1777 closed

[2020-10-19 09:28] #1794 closed

[2020-10-19 09:33] fengzhou-msft commented on #1649
Close as the issue is caused by the underlying image.

[2020-10-19 09:33] #1649 closed

[2020-10-19 09:58] haroldrandom commented on #1696
Hi, @mathieugravil . This is Harold from the [Azure CL](https://github.com/Azure/azure-cli)I team and responsible for network-related commands.

I noticed that the feature was added since https://github.com/Azure/azure-cli/pull/11421 on Dec 11, 2019, and the corresponding release for it was on [12/11/2019](https://github.com/Azure/azure-cli/milestones?direction=asc&sort=title&state=closed).
![imag

[2020-10-19 13:20] pwehland commented on #2230
@BhargaviAnnadevara-MSFT
Why do you say that you only build for AMD64?

Here we can see packages for buster (Debian 10.6) for Arm, Arm64, ArmHF, Armv7HL: https://packages.microsoft.com/repos/azure-cli/dists/buster/

For Eoan, (Ubuntu 19.10) we see Arm64, and ArmHF:
https://packages.microsoft.com/repos/azure-cli/dists/eoan/

And for Focal (Ubuntu 20.04) we see Arm64, and ArmHF:
https://packages.mic

[2020-10-19 17:02] BhargaviAnnadevara-MSFT commented on #2237
@exmello Thanks for the feedback. I noticed something similar happen when I tried to run the PowerShell cmdlet without elevated privileges.

Could you please confirm if the following were performed?
- Ensure to Start PowerShell as administrator
- Once the cmdlet finishes execution, you will need to reopen PowerShell to use the Azure CLI.

[2020-10-19 17:08] exmello commented on #2237
I can confirm that I reopened PowerShell, but I believe I did not start PowerShell as administrator.  I don't have a clean environment to test that this works.  I am already set up by manually installing now.  Thank you.  I didn't notice the /quiet flag.

[2020-10-19 17:54] BhargaviAnnadevara-MSFT commented on #2237
@exmello Thanks for the quick response. Yes, the execution happens silently because of the `/quiet` argument being passed to the cmdlet. You can run:
[code]
if you want to install interactively.

Just to save you some time and trouble, I tested it all by uninstalling the old Azure CLI version that I already had on my machine and verified that the installation happens successfully when PowerShell i

[2020-10-20 18:27] BhargaviAnnadevara-MSFT commented on #2237
@exmello Hope the above inputs help.

We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-10-20 18:29] #2237 closed

[2020-10-21 16:36] dbradish-microsoft commented on #2243
@sjalali123, that you for contacting the Azure CLI team with your feedback.

@fengzhou-msft , can you please provide insight as to why we must use the C:\ drive for a local Azure CLI install?

Here are two screen prints of the current installation process:
![image](https://user-images.githubusercontent.com/58762114/96750446-cb26ee80-1380-11eb-8ced-8130ff29acb2.png)

![image](https://user-images.gi

[2020-10-21 16:50] dbradish-microsoft commented on #1588
@daveRendon , This GitHub issue is resolved, I believe, by either the new [az upgrade](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_upgrade) command or by the new Azure CLI extension feature that prompts users to install needed extensions upon first use.  If you are still having issues with upgrading or installing the Azure CLI, please open a new issue and we

[2020-10-21 16:50] #1588 closed

[2020-10-21 16:56] dbradish-microsoft commented on #1326
@fengzhou-msft , is "an AzureCLI with binaries for the RPi4's ARM64 architecture." in the backlog, or has this CLI product request been delivered in a different way?

[2020-10-21 17:06] daveRendon commented on #1588
Thank you @dbradish-microsoft

[2020-10-21 17:17] dbradish-microsoft commented on #1561
@Roblarson , the following links have been added to the Azure CLI article and are being given here for your reference.

* [Application and service principal objects in Azure Active Directory](/azure/active-directory/develop/app-objects-and-service-principals)
* [How to: Use the portal to create an Azure AD application and service principal](/azure/active-directory/develop/*owto-create-service-prin

[2020-10-21 17:17] #1561 closed

[2020-10-21 17:29] dbradish-microsoft commented on #1628
@nccurry , this issue was moved to the [Azure/azure-cli](https://github.com/Azure/azure-cli/issues/11348) repo on Nov 29, 2019 and was resolved there on Dec 11, 2019.  Consequently, I am closing the issue reported here.

[2020-10-21 17:29] #1628 closed

[2020-10-21 17:36] mohsinaliayub opened #2245 "Command az --version does not work on macOS Catalina"
[Enter feedback here]

The command **az --version** at the end of second paragraph of main heading does not work. I installed Azure CLI with Homebrew, and when I tried to run the above command it gave me this error: **RequiredArgumentMissingError: the following arguments are required: _command_package**

I think the proper command is **az version**. I tested it on macOS Catalina 10.15.6.

![Screen

[2020-10-22 00:25] YutongTie-MSFT commented on #2245
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

@dbradish-microsoft Hi Delora, could you please check this issue and update the document if need. Thanks.

[2020-10-24 02:13] ttmc opened #2251 "Incorrect command to remove the Microsoft signing key"
Near the bottom of the page, it says, "3. If you use no other packages from Microsoft, remove the signing key:"

`sudo rm /etc/apt/trusted.gpg.d/microsoft.gpg`

but that command doesn't work. It should say:

`sudo rm /etc/apt/trusted.gpg.d/microsoft.asc.gpg`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe1526a9-7f22-

[2020-10-24 04:19] BhargaviAnnadevara-MSFT commented on #2251
@ttmc Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-10-26 03:28] fengzhou-msft commented on #2243
The Azure CLI MSI installer currently does not support customized install location. A similar request is tracked here: https://github.com/Azure/azure-cli/issues/14593

[2020-10-26 03:32] fengzhou-msft commented on #1326
@dbradish-microsoft it's tracked here: https://github.com/Azure/azure-cli/issues/7368

[2020-10-26 14:37] bkarlen opened #2252 "AKS deployment"
Running our AKS deployment has created dial out issues to the cluster.
Our deployment command is a:
kubectl apply -f [FILENAME]

2020-10-23T16:02:25.9375398Z Unable to connect to the server: dial tcp [CLUSTERIP]: i/o timeout
2020-10-23T16:02:25.9494281Z ##[error]Script failed with error: Error: The process '/bin/bash' failed with exit code 1
2020-10-23T16:02:25.9508675Z [command]/usr/bin/az accoun

[2020-10-26 19:04] JayaChatterjee-MSFT commented on #2252
Thank you for your question! We will review and update as appropriate.

[2020-10-27 07:57] BhargaviAnnadevara-MSFT commented on #2252
@bkarlen Thank you for the question! In order to best address your question, could you provide us with the URL of the MS Doc that you were following, if any?

[2020-10-27 09:47] Svijay-msft commented on #2251
Hello @ttmc,

Can you please share more information on the OS and the version you are using this on ? I happen to try it on my Ubuntu 18.04.4 and unfortunately was not able to replicate the issue.

Also, based on my research, when you are installing the signing key as per below command :

[code]
You are naming it as "microsoft.gpg"

![image](https://user-images.githubusercontent.com/66949976/97284

[2020-10-27 15:16] ttmc commented on #2251
I was running the latest (updated) Ubuntu 20.04.
It was running under WSL2 on a Windows 10 machine, but that shouldn't matter.

I installed the Azure CLI using this one-liner:

`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

probably on the same day as I posted this issue, or maybe the day before. I got that one-liner from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt#

[2020-10-27 16:33] ehm-wehb opened #2256 "The repository 'https://packages.microsoft.com/repos/azure-cli bionic Release' does not have a Release file."
I've researched this error and it typically only seemed to apply to people using unsupported releases.  I am using Ubuntu 18.04 on WSL.

I followed the guide here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt

The error I get is when running an apt update is:
E: The repository 'https://packages.microsoft.com/repos/azure-cli bionic Release' does not have a Release file.
N: Updat

[2020-10-27 22:38] Makovec opened #2259 "Defaults not accepted for all commands"
When I set defaults, I assume, that if will work for all commands, but it is not true.

Try this:

[code]

It will return error:

[code]

I just updated to the latest version 2.14.0

[2020-10-28 00:15] ChaitanyaNaykodi-MSFT commented on #2256
Hello @ehm-wehb,  Thank you for your feedback! We will review and update as appropriate.

[2020-10-28 04:11] BhargaviAnnadevara-MSFT commented on #2259
@Makovec Thanks for the question. We're investigating this and will get back to you shortly.

[2020-10-28 09:02] BhargaviAnnadevara-MSFT commented on #2252
@bkarlen Just following up here to check if you have any updates on this.

[2020-10-28 09:25] Svijay-msft commented on #2251
Thanks for getting back. I did further check. When I checked the deb_install.sh file (https://aka.ms/InstallAzureCLIDeb)

![image](https://user-images.githubusercontent.com/66949976/97417084-44988100-192d-11eb-8368-74ed95f26dd8.png)

There is a difference i could observe (microsoft.gpg & microsoft.asc.gpg)

[code]

I am further checking with my team on this. I'll keep you posted.

[2020-10-28 14:23] bkarlen commented on #2252
https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-application

I have API server authorized IP ranges on for the cluster I am deploying to as well as RBAC. When I deploy to the cluster, I update the IP ranges with the following command.
az aks update --resource-group $(aks.RG) \
 --name $(aks.name) \
 --api-server-authorized-ip-ranges "$(THISIP)"

I also get the credentials of

[2020-10-29 15:43] BhargaviAnnadevara-MSFT commented on #2252
@bkarlen Thanks for the response. I see that this issue relates more to deploying applications on AKS than Azure CLI. I've opened an issue here: MicrosoftDocs/azure-docs#65228 for one of our Engineers to check.

I'd like to let you know that this channel (the [Azure CLI Docs](https://github.com/MicrosoftDocs/azure-docs-cli) repository) is only for driving improvements related to the Azure document

[2020-10-29 15:43] #2252 closed

[2020-10-29 17:56] BhargaviAnnadevara-MSFT commented on #2259
@Makovec Yes, I see the same behavior as well. This seems to be a bug with the CLI.

I've opened a bug with the Azure CLI repo for our Engineering Team to look at. Please track the issue here: Azure/azure-cli#15724

We will now proceed to close this thread as this channel (the [Azure CLI Docs](https://github.com/MicrosoftDocs/azure-docs-cli) repository) is only for driving improvements related to

[2020-10-29 17:56] #2259 closed

[2020-11-02 11:17] HarshitaSingh-MSFT commented on #2256
Hello @ehm-wehb, after circling back to the doc owner, I got to know that this install process had come up a lot in Issues in the past. We either need our install to be enhanced and/or the doc to give more details.

I will try to get some conclusion on this internally and consequently keep you posted. Thanks in advance for understanding.

[2020-11-02 19:01] Svijay-msft commented on #2251
Hello @ttmc

 Currently, one line installer is installing the signing key as **microsoft.asc.gpg**. The intended name for the signing key **microsoft.gpg**.

I have got a confirmation from the engineering team there will be fix done in this week to the one line command installer script (https://aka.ms/InstallAzureCLIDeb).

Having said that, I shall proceed with the closure of this thread if there

[2020-11-02 20:17] ttmc commented on #2251
Okay thanks for the update, you can go ahead and close this thread.

[2020-11-02 23:03] HarshitaSingh-MSFT commented on #2256
Assigning this issue to @dbradish-microsoft to take this issue further.

[2020-11-03 04:38] Svijay-msft commented on #2251
We will close this out, but if you feel you need more information please just let us know.

[2020-11-03 04:39] #2251 closed

[2020-11-05 02:50] fengzhou-msft commented on #2256
The issue was caused by signing service delay in the Linux Repo and the `Release` file is not in sync with the latest package after the release. It has been resolved. Please try again.

The Linux Repo team is working on a new API to solve the file unsync issue.

[2020-11-08 07:56] AwdotiaRomanowna opened #2273 "typo "postgre" instead of postgres used"
in here: "az network private-endpoint-connection: Support mysql, postgre and mariadb types"

---
#### 문서 세부 정보

⚠ *이 섹션을 편집하지 마세요. docs.microsoft.com ➟ GitHub 문제 연결에 필요합니다.*

* ID: c0e8d9ef-f25b-bb46-7f1a-bd3588be3343
* Version Independent ID: cd392600-a90d-0145-5ea6-6b01ab8f4ab9
* Content: [Azure CLI release notes](https://docs.microsoft.com/ko-kr/cli/azure/release-notes-azure-cli?tabs=azure-cli-

[2020-11-08 15:52] BhargaviAnnadevara-MSFT commented on #2273
@AwdotiaRomanowna Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-11-08 16:18] BhargaviAnnadevara-MSFT commented on #2273
@AwdotiaRomanowna Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

[2020-11-10 09:01] BhargaviAnnadevara-MSFT commented on #2273
@AwdotiaRomanowna Thank you for catching that error in the docs! The change is merged internally and will go-live in the public docs shortly.

[2020-11-11 09:28] #2273 closed

[2020-11-12 10:39] speculatrix opened #2282 "use "sudo tee" to create a file, like this"
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9f55d23-7802-e0da-6d12-b71f6da8a1d4
* Version Independent ID: 192846d7-baae-bcba-698b-22bdcdae468a
* Content: [Install the Azure CLI on Linux with yum](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum)
* Content Source: [docs-ref-conceptual/install-

[2020-11-12 10:57] BhargaviAnnadevara-MSFT commented on #2282
@speculatrix Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-11-12 19:57] dbradish-microsoft commented on #2245
@mohsinaliayub , **az --version** is not the correct syntax.  Use **az version** instead.  Here is a link to the **az version** command: https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_version

[2020-11-12 19:57] #2245 closed

[2020-11-12 19:59] dbradish-microsoft commented on #2243
@sjalali123, please see [Azure/azure-cli#14593](https://github.com/Azure/azure-cli/issues/14593) for continued follow-up from our engineering team.  Thank you.

[2020-11-12 19:59] #2243 closed

[2020-11-12 20:01] dbradish-microsoft commented on #2256
@ehm-wehb, were you able to follow-up on @fengzhou-msft 's comment to you on November 4th?

[2020-11-17 09:23] BhargaviAnnadevara-MSFT commented on #2282
@speculatrix Thanks for the feedback. I have submitted a PR to update the command that's in review. The changes should reflect post the merge.

We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-17 09:23] #2282 closed

[2020-11-17 10:04] BhargaviAnnadevara-MSFT commented on #2282
@speculatrix Are you seeing an issue with the current command?

[code]

[2020-11-17 10:19] MartinAbadie opened #2292 "CentOS CA bundle location for working behind a proxy section"
Hi,

At **Work behind a proxy** section, step 1, for CentOS CA bundle location is `/usr/lib64/az/lib/python3.6/site-packages/certifi/cacert.pem` not `/opt/az/lib/python3.6/site-packages/certifi/cacert.pem`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e51daa3-30c5-f449-36a1-9f33c70ca2fc
* Version Independent ID: a21e

[2020-11-17 14:05] BhargaviAnnadevara-MSFT commented on #2292
@MartinAbadie Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-11-17 16:02] speculatrix commented on #2282
Hi,
the command workls but is ugly, and inconsistent with other documentation where you do have sudo tee in use.

[2020-11-18 12:30] BhargaviAnnadevara-MSFT commented on #2292
@MartinAbadie Thanks for bringing this to our attention. `/opt/az/lib/python3.6/site-packages/certifi/cacert.pem` is actually the location for Ubuntu/Debian. I've updated the doc to reflect the location for other Linux distros as well.

I have submitted a PR to fix the issue that's in review.

[2020-11-18 17:18] #2292 closed

[2020-11-19 16:10] ehm-wehb commented on #2256
@fengzhou-msft I just attempted this again, but get the same error.  I removed the azure repo and ran a:

curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

Unfortunately i then get a
_E: The repository 'https://packages.microsoft.com/repos/azure-cli bionic Release' does not have a Release file._

[2020-11-19 16:46] marisaparker opened #2298 "Hyperlink leads to 404 - Page not found"
Page: [Overview: Azure CLI references types and status](https://docs.microsoft.com/en-us/cli/azure/reference-types-and-status#feedback)

Section: Referenct Status > Stability > Public Preview
Hyperlink: [Microsoft Azure Previews](https://docs.microsoft.com/en-us/support/legal/preview-supplemental-terms/) leads to a 404 page

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-11-19 18:13] BhargaviAnnadevara-MSFT commented on #2298
@marisaparker Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-11-19 18:25] BhargaviAnnadevara-MSFT commented on #2298
@marisaparker Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

Meanwhile, here is the doc you may be looking for: [Microsoft Azure Previews](https://azure.microsoft.com/support/legal/preview-supplemental-terms/). :)

[2020-11-20 06:33] fengzhou-msft commented on #2256
@ehm-wehb I tried the command but cannot reproduce your issue. Can you simply run `sudo apt update && sudo apt install azure-cli -y` to see if you can refresh the repo and install azure-cli?

[2020-11-20 23:08] oddsrule opened #2307 "Mistake in the delete command"
[Enter feedback here]
Doc shows this:
az config param-persist delete --name resource_group_name
should be this
az config param-persist delete resource_group_name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99d3dc67-acbe-08d6-73b3-667aa84002a2
* Version Independent ID: fa911143-aa1e-961f-afa4-6d04c3bf2f30
* Content:

[2020-11-21 05:56] BhargaviAnnadevara-MSFT commented on #2307
@oddsrule Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-11-21 08:10] BhargaviAnnadevara-MSFT commented on #2298
@marisaparker The changes should reflect post the merge.

We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-11-21 08:10] #2298 closed

[2020-11-24 06:17] ItalyPaleAle opened #2311 "Wrong link to privacy"
In the page https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration the table lists the various configuration options, including `collect_telemetry`. The explanation for that is:

Which links to https://github.com/Azure/azure-cli/blob/dev/LICENSE

The link doesn't seem correct as the page linked to contains only the Azure CLI license and nothing about the privacy policy.

---
#### Docum

[2020-11-24 08:04] BhargaviAnnadevara-MSFT commented on #2311
@ItalyPaleAle Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-11-24 11:02] BhargaviAnnadevara-MSFT commented on #2311
@dbradish-microsoft Do we have any other docs to link here?

[2020-11-25 07:34] BhargaviAnnadevara-MSFT commented on #2307
@oddsrule Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect post the merge.

[2020-11-25 07:34] #2307 closed

[2020-11-26 05:03] BhargaviAnnadevara-MSFT commented on #2282
@speculatrix Thanks again for the feedback. We've made some changes to the doc in question for it to be consistent with the other  docs. The change is merged internally and will go-live in the public docs shortly.

[2020-11-27 13:36] BhargaviAnnadevara-MSFT commented on #2311
@ItalyPaleAle Thanks again for the feedback. I have assigned the issue to the content author to evaluate this further and update as appropriate.

[2020-11-30 12:39] dbradish-microsoft commented on #2311
Hello, @ItalyPaleAle , the Azure CLI uses Microsoft's data privacy statement as described here:

3. DATA. The software may collect information about you and your use of the software, and send that to Microsoft. Microsoft may use this information to provide services and improve our products and services.You may opt-out of many of these scenarios, but not all, as described in the product documentati

[2020-12-10 16:33] ianychoi opened #2338 "Translated web pages do not work now which operated well previously"
Translated web pages had been published but they do not work currently, while seems that translations are being updated to corresponding repositories (e.g., https://github.com/MicrosoftDocs/azure-docs-cli.ja-jp - upload 7 hours ago, https://github.com/MicrosoftDocs/azure-docs-cli.ko-kr - uploaded 22 hours ago).

Would someone help to investigate in this? Let me share example of screenshots:

- Eng

[2020-12-10 17:41] kobulloc-MSFT commented on #2338
@ianychoi Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2020-12-14 11:50] ITSTord opened #2342 "Wrong syntax"
[Enter feedback here]
@https://docs.microsoft.com/en-us/cli/azure/update-azure-cli
![image](https://user-images.githubusercontent.com/54802153/102078079-a001ce00-3e0a-11eb-8879-d7d5e17a528f.png)
Should be:
"az config set auto-upgrade.all=no"
and
![image](https://user-images.githubusercontent.com/54802153/102084331-4e127580-3e15-11eb-98e2-9da7b6085f08.png)
Should be:
"az config set auto-upgrade.pro

[2020-12-14 13:58] HarshitaSingh-MSFT commented on #2342
@ITSTord , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-14 15:11] dbradish-microsoft commented on #2342
Thank you for bringing this to our attention, @ITSTord.  The doc was indeed incorrect but has been fixed.  You will see the change reflected late afternoon Tuesday, December 15th.

[2020-12-14 15:11] #2342 closed

[2020-12-17 16:43] davidbIQ opened #2350 "Should add also how to change default subscription"
whenever I open a new cloudshell it defaults to a sub that I don't want it to default to.  This I think would be a good place to add it.  I found it one day but am struggling to refind it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21632cd2-aec0-1521-a9b0-f96f69ab15ed
* Version Independent ID: d6ab81e8-1aba-b922-99

[2020-12-17 17:20] BhargaviAnnadevara-MSFT commented on #2350
@davidbIQ Thanks for the feedback. We're investigating this and will get back to you shortly.

[2020-12-18 06:11] BhargaviAnnadevara-MSFT commented on #2350
@davidbIQ The current active subscription can be changed with the [az account set](https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az_account_set) command:
[code]
which is mentioned as part of the section: [Change the active subscription](https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli#change-the-active-subscription)

Could you please elabor

[2020-12-21 04:02] BhargaviAnnadevara-MSFT commented on #2350
@davidbIQ Hope the above inputs help. Are there any further questions here?

[2020-12-21 15:16] davidbIQ commented on #2350
Sure, when I first login I open to beamportal for my subscription.  I’m doing a lot of work in visual studio subscription for exam prep.
Everytime I open the cloud shell though I get put back to beamportal and I need to change it using the az account set command.  If I forget I’m making changes in beam portal.  I know it’s possible to change as I did modify it to beam portal but I don’t recall how

[2020-12-21 16:37] dbradish-microsoft commented on #2350
@davidblQ, have you tried using [az configure](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_configure) to set your default subscription?

az configure --defaults sbuscription='your-subscription-name'
az configure --list-defaults

[2020-12-21 16:46] davidbIQ commented on #2350
I just tried it but it didn’t work,
I ran az configure --defaults subscription=’Visual Studio Professional Subscription'
Then ran
Az configure –list-defaults
And it returns Visual Studio Professional Subscription

But if I press cntl-f5 to relaunch my portal.azure.com and then reopen my cloudshell and run
Az account show it will still show beamportal subscription as the default (instead of the Vis

[2020-12-22 05:55] BhargaviAnnadevara-MSFT commented on #2350
@davidbIQ Thanks for the details. I believe there isn't an out-of-the-box way to set the default tenant/subscription upon Azure Cloud Shell startup. @dbradish-microsoft Please correct if my understanding is amiss.

One workaround would be to add the `az account set -s "<your-subscription>"` command to the `~/.bashrc` file, so that the default Subscription is selected every time you start Azure Clo

[2020-12-22 15:49] davidbIQ commented on #2350
Thanks for looking,
I found the command that I was hunting for, its `cloudshell unmount` this will kill your old session and ask you to create a new one on next login & ask you to choose the subscription, and then the default is that one after.
I thought this doc it would be a good place to mention how to change the default.  I think if you choose your old sub that you were on you get your old fil

[2020-12-22 15:51] davidbIQ commented on #2350
Apologies I ment to say `clouddrive unmount`
Thanks,
David

From: David Bollman
Sent: December 22, 2020 9:50 AM
To: MicrosoftDocs/azure-docs-cli <reply@reply.github.com>; MicrosoftDocs/azure-docs-cli <azure-docs-cli@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [MicrosoftDocs/azure-docs-cli] Should add also how to change default subscription (#2350)

Thanks for looking,

[2020-12-23 04:16] BhargaviAnnadevara-MSFT commented on #2350
@davidbIQ Ah ok. Although the `clouddrive unmount` command is primarily used to [unmount a file share](https://docs.microsoft.com/en-us/azure/cloud-shell/persisting-shell-storage#unmount-clouddrive) that's mounted to Cloud Shell, I'll let the content author evaluate the enhancement further. Thanks for the feedback. @dbradish-microsoft FYI.

We will now proceed to close this thread, but if there ar

[2020-12-23 04:16] #2350 closed

[2020-12-28 14:35] awkto opened #2359 "Typo 'cul' instead of 'curl'"
Typo in page.

'cul' instead of 'curl'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI for Linux manually](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)
*

[2020-12-28 16:15] BhargaviAnnadevara-MSFT commented on #2359
@awkto Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-12-29 04:43] BhargaviAnnadevara-MSFT commented on #2359
@awkto Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review. The changes should reflect shortly after it is merged.

We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2020-12-29 04:43] #2359 closed

[2021-01-07 16:07] kunthar opened #2378 "why virtualenv method is not provided as an alternative?"
$ python -m venv venv
$ python --version
Python 3.8.6
$ source venv/bin/activate
(venv)$ pip install azure-cli

Successfully installed PyJWT-1.7.1 adal-1.2.5 antlr4-python3-runtime-4.7.2 applicationinsights-0.11.9 argcomplete-1.12.2 azure-appconfiguration-1.1.1 azure-batch-10.0.0 azure-cli-2.17.1 azure-cli-core-2.17.1 azure-cli-telemetry-1.0.6 azure-common-1.1.26 azure-core-1.9.0 azure-cosmos-3.2.

[2021-01-07 19:28] KranthiPakala-MSFT commented on #2378
@kunthar
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-01-07 22:30] realnikhilkumar opened #2380 "kubectl Unable to connect to the server Azure Kubernetes Service"
Hi,

I am getting below error when using kubectl with MS AKS. I had followed all Microsoft documentation and Kubernetes documentation.

kubectl get nodes
Unable to connect to the server: x509: certificate signed by unknown authority

Azure CLI 2.17.1

Resolution:

Follow thread at https://github.com/kubernetes/kubectl/issues/1000

Hi,

In my case this error was very misleading. It has nothing to d

[2021-01-07 23:04] KranthiPakala-MSFT commented on #2380
@realnikhilkumar
Thank you feedback. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-08 22:42] jeremypointer7 opened #2382 "Issue"
Test

[2021-01-08 22:43] jeremypointer7 commented on #2382
Thank you in advance

[2021-01-08 23:23] KranthiPakala-MSFT commented on #2382
@jeremypointer7 Since this looks like a test post, we will go head and close this issue. If you have feedback or suggestions to docs then please feel free file a new issue.

Thank you

[2021-01-08 23:23] #2382 closed

[2021-01-11 05:57] BhargaviAnnadevara-MSFT commented on #2380
@realnikhilkumar Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-11 08:47] AwdotiaRomanowna opened #2384 "dnf instead of yum?"
hi,
maybe worth to update yum do dnf?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI for Linux manually](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt&vie

[2021-01-11 08:58] BhargaviAnnadevara-MSFT commented on #2384
@AwdotiaRomanowna Thanks for the question. We're investigating this and will get back to you shortly.

[2021-01-11 23:57] yungezz commented on #2378
hi @fengzhou-msft could you pls help to have a look? thanks

[2021-01-12 22:05] Svijay-msft commented on #2384
@AwdotiaRomanowna  I am further checking with my team on this. I'll keep you posted on the updates.

[2021-01-13 09:23] sicklittlemonkey opened #2390 "Make common problems and their workarounds more discoverable"
Today I spent the whole morning wrestling with the following problem:
![image](https://user-images.githubusercontent.com/4393005/104431724-f3b33300-55d3-11eb-9754-450af76b3694.png)

The code is arbitrary, but the problem is apparently well known: https://github.com/Azure/azure-cli/issues/12084

It's amazing that this gotcha exists, but even more amazing that it's not documented where someone might

[2021-01-13 10:45] BhargaviAnnadevara-MSFT commented on #2390
@sicklittlemonkey Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-01-13 15:35] fengzhou-msft commented on #2378
@kunthar We will plan a new doc for installing `azure-cli` with pip in virtualenv for all platforms.

[2021-01-13 17:19] MonikaReddy-MSFT commented on #2378
@yungezz - Thank you for providing your insights.
@kunthar - I hope @yungezz has answered your question.
At this moment, Since there is no doc update required for this particular doc, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.