[2021-01-13 17:19] #2378 closed

[2021-01-13 18:50] BhargaviAnnadevara-MSFT commented on #2390
@sicklittlemonkey Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-01-15 08:12] Svijay-msft commented on #2384
@AwdotiaRomanowna  -

Thanks for bringing this to our attention.  We are in plans to update the document to reflect dnf as a package manager to install Azure CLI.  There will be considerable time involved to go through internal reviews and finally reflect in the public documentation. Rest assured, there are steps taken towards updating document with **dnf**.

Having said that, we will proceed with

[2021-01-15 18:28] #2384 closed

[2021-01-19 14:11] samsammurphy opened #2403 "see also Azure Cloud Shell."
In the **See Also** section of this page it would be helpful to include a link to

- [Azure Cloud Shell](https://azure.microsoft.com/en-gb/features/cloud-shell/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8b7bd326-07b2-caaa-7155-5852fc2dfa3f
* Version Independent ID: c44d0547-d5cd-8934-00f8-79e2f4df53ac
* Content:

[2021-01-19 15:02] BhargaviAnnadevara-MSFT commented on #2403
@samsammurphy Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2021-01-19 23:51] dbradish-microsoft commented on #2403
Hello, @samsammurphy , Did you see the [Run in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart) link?

![image](https://user-images.githubusercontent.com/58762114/105107936-2d2de780-5a87-11eb-81b4-98a08aafd3bb.png)

Were you looking for something other than this?  We try not to duplicate links on a page.

[2021-01-20 00:01] dbradish-microsoft commented on #2311
Closing issue per comments given on November 30th.

[2021-01-20 00:01] #2311 closed

[2021-01-20 13:04] nemobis opened #2407 "Note whether azure-cli really needs an old version of Python"
The documentation currently states, on the python3 requirement:

Following the instructions on Fedora 33, I'm prompted to install an old version of Python, 3.6:

[code]

I instead chose to ignore the python3.6 dependency and I got an older version of azure-cli instead, which states it's using Python 2.7. Is this intended?

[code]

---
#### Dettagli del documento

⚠ *Non modificare questa sezione.

[2021-01-20 13:26] nemobis commented on #2407
This is not the same as https://github.com/MicrosoftDocs/azure-docs-cli/issues/1815 because I *could* install python3.6, I just don't think it's wise to have it alongside or instead of my current python3.9.

[2021-01-20 14:29] MonikaReddy-MSFT commented on #2407
@nemobis -
Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-01-20 17:46] MonikaReddy-MSFT commented on #2407
@nemobis - This as an engineering and not a docs issue.  Hence I have raised an issue in Azure CLI Repo and the engineering team will look into this issue further.

At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reop

[2021-01-20 17:46] #2407 closed

[2021-01-21 20:49] BhargaviAnnadevara-MSFT commented on #2403
@samsammurphy Agree with @dbradish-microsoft on not duplicating links. Please let us know if you were looking for something more than this.

[2021-01-24 17:49] BhargaviAnnadevara-MSFT commented on #2403
@samsammurphy We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-01-24 17:49] #2403 closed

[2021-02-25 13:39] rrjavadev opened #2455 "az login throwing proxy error"
Whenever I use Azure cli to login, I get this following warning.

C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\urllib3\connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
Connection verification disabled by envi

[2021-02-25 19:57] josh-stevens commented on #2256
@fengzhou-msft Hello, I'm running Ubuntu 18.04 on WSL and I'm receiving this same error as of today.

[2021-02-26 02:50] SamaraSoucy-MSFT commented on #2455
Thanks for the question! We will review and get back to you shortly.

[2021-02-26 04:20] fengzhou-msft commented on #2256
@josh-stevens did you run `sudo apt update` first? The latest package should be fine, I just verified it on Ubuntu 18.04 WSL.

[2021-02-26 22:05] SamaraSoucy-MSFT commented on #2455
There are a large number of scenarios where the `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` does not resolve this issue.

Your best source of information for getting the certificate information is your corporate IT department. The reason there is no additional information on where to get the certificate is that there is a huge variety in configurations and it's not possible to tell you how to do s

[2021-03-01 22:49] SamaraSoucy-MSFT commented on #2455
@rrjavadev Has this adequately answered your question and I can close this thread or do you have any follow-up issues?

[2021-03-02 07:40] rrjavadev commented on #2455
Dear Samara, thanks for your response.  Unfortunately i could not resolve the issue. It would be nice if you could give some pointers on why this issue occurs and what is Azure expecting as a public key. Your documents are not covering in detail about this. So far I have downloaded the public key from Azure portal and added it to the Azure cli pem file. However this did not have any impact. Withou

[2021-03-03 05:51] SamaraSoucy-MSFT commented on #2455
The certificate needed is probably from your corporate network and has nothing to do with any azure.com certs. If your security policies allow it, logging in from outside your corporate network should also clear the error.

I'm not sure what your level of existing knowledge is, so I may be overexplaining- my goal is only to clear up confusion about why this is happening. I am going to assign this

[2021-03-03 21:17] ianychoi commented on #2338
@kobulloc-MSFT Any progress updates on this?

[2021-03-03 21:26] vboctor opened #2461 "Suggest restarting Windows Terminal after installing CLI"
After installing Azure CLI, the "AZ" command won't be found if the terminal / console is already open. Opening a new tab won't help, the whole app needs to be closed and re-opened. It may be a good to add a reminder to do so in the Azure CLI install instructions page.

[2021-03-03 21:33] kobulloc-MSFT commented on #2461
@vboctor Thank you for the feedback!  We are investigating this and will get back to you shortly.

[2021-03-03 21:41] kobulloc-MSFT commented on #2338
Adding @dbradish-microsoft for visibility.

[2021-03-04 03:52] kobulloc-MSFT commented on #2461
@vboctor Is this the documentation that you were following?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-powershell

You are correct, if you try to use AZ commands before closing and reopening PowerShell they won't be recognized.

![image](https://user-images.githubusercontent.com/37556655/109908451-26cf8580-7c59-11eb-89ea-d257f7b81046.png)

![image](https://user

[2021-03-04 06:29] vboctor commented on #2461
This is the page that I was referring to:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli

(Same as you shared, but I was using the regular command console and not powershell)

I expect the comment to apply to case of running "az" after install from PowerShell or Command prompt. In both cases, user has to completely close the console/terminal app and re-run it t

[2021-03-04 06:53] kobulloc-MSFT commented on #2461
@vboctor Thank you for the clarification!  I'll go through the documentation and see where we can make this more clear.

[2021-03-05 05:10] kobulloc-MSFT commented on #2461
@vboctor Thank you for calling this out.  If the command console is open when the Microsoft Installer is run, it will need to be restarted before you can use az commands.  I'm going to add a reminder which should go live in a day or two.

![image](https://user-images.githubusercontent.com/37556655/110070003-e5f57080-7d2d-11eb-9ade-b9812819870d.png)

![image](https://user-images.githubusercontent.c

[2021-03-05 19:27] bennage opened #2465 "`az config` is no longer a valid command"
I'm using 2.2.0 and `az config` is not recognized.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ba27fa77-7839-ce9c-862a-96f72b01ee87
* Version Independent ID: e3f2fc59-4dd6-5016-967e-657319f749b6
* Content: [Azure CLI Extensions](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview)
* Cont

[2021-03-05 19:29] #2465 closed

[2021-03-05 19:30] bennage commented on #2465
:-P
I was using an older version.

[2021-03-05 23:37] kobulloc-MSFT commented on #2465
@bennage Happy to hear that you were able to resolve this :)  If you have any other questions about the documentation, just open a new issue and we would be happy to help you.

[2021-03-09 04:16] cjmakwana opened #2469 "Issue with either documentation or the command for az cli"
Just verified this to upgrade az cli. To set the flag, I followed as per this page. There is no command called 'config'. However, there is a command 'configure' which doesn't allow me to set auto upgrade flag!

![image](https://user-images.githubusercontent.com/23075550/110417768-1cc7df80-80bc-11eb-806c-a3b98c2405b3.png)

Looks like Microsoft releases and documentations are not in tune.

---
####

[2021-03-09 06:49] kobulloc-MSFT commented on #2469
@cjmakwana Thank you for pointing this out.  The documentation notes that `az upgrade` requires version 2.11.0 or later and it looks like the assumption is made that version 2.11.0 or later is being used for the rest of the page.

`az config` was added [August 4th, 2020 in version 2.10.0](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#august-04-2020) however we'r

[2021-03-09 18:38] kobulloc-MSFT commented on #2461
@vboctor The PR has been merged and the changes should go live shortly.  Thank you again for bringing this to our attention!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-03-09 18:38] #2461 closed

[2021-03-11 16:30] kobulloc-MSFT commented on #2469
@cjmakwana Thank you again for pointing this out.  Anyone using a version of CLI prior to 2.11.0 can use the [MSI installer](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#install-or-update).  We are working to make this clearer moving forward and this is being tracked in [GitHub Issue 17261](https://github.com/Azure/azure-cli/issues/17261).  We're going to clo

[2021-03-11 16:30] #2469 closed

[2021-03-11 18:43] edernucci opened #2475 "Remove command recommendation with side effects"
Please never encourage a user to run the command `sudo apt remove azure-cli -y && sudo apt autoremove -y`.

When describing this command, the author assumes that the user does not have any pending removal packages. If he has any pending packages that he did not remove for personal reasons, when executing the recommended command he will have all pending removal packages on his system removed, and n

[2021-03-11 18:52] kobulloc-MSFT commented on #2475
@edernucci Thank you for bringing this to our attention.  We are investigating this and will get back to you shortly.

[2021-03-25 12:06] byronverz opened #2493 "Azure CLI ML extension version misalignment"
The azure cli machine learning extension version in the [documentation](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) does not correspond to the available versions when running `az extension list-available --output table` (version returned with this is 1.24.0).

Also installing an older version of the extension is not available. When using `az extensio

[2021-03-26 03:18] BhargaviAnnadevara-MSFT commented on #2493
@byronverz Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-03-29 10:21] BhargaviAnnadevara-MSFT commented on #2493
@byronverz Thanks for the feedback. I have assigned the issue to the content author to evaluate and update the document as appropriate.

[2021-03-30 10:35] minnieshi opened #2497 "possibility of having multiple config file"
[can multiple configuration file be used. example if one has multiple resource group(hence multiple storage account, 1 each under each resource group), it would be possible to switch environment dev/prod]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb42002e-9aa3-233d-9832-353235b7cd0f
* Version Independent ID: e8b32

[2021-03-30 15:09] MonikaReddy-MSFT commented on #2497
@minnieshi -
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-03-30 17:46] ForrestTrepte opened #2498 "how to upgrade versions prior to 2.11.0"
This note was very helpful to me: `The az upgrade command was added in version 2.11.0 and will not work with versions prior to 2.11.0.`

However, at first I was unsure what to do. I had the older version and had no idea how to get to the new version. I eventually decided to run the install at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli and that worked for me

[2021-03-30 18:23] kobulloc-MSFT commented on #2498
@ForrestTrepte Thank you for reaching out!

This is a recent addition. I'm happy to hear that it is helpful!

I'm looking at the note right now and I agree, update instructions would be really useful here.  I'll submit a PR to address this.

[2021-03-30 18:25] ForrestTrepte commented on #2498
I just submitted a PR with my suggestion for addressing it: #2499. Feel free to use this or close it if you want to take a different approach.

[2021-03-30 20:31] #2498 closed

[2021-03-30 22:50] stevenbrix opened #2501 "what to do with private key from cert created by Azure CLI"
I followed the instructions to create a service principal using Azure Key Vault like this:
[code]

The docs then say to use the `az keyvault secret show` command to get the private key, which I did and saved it to a file that looks like this:

[code]

But from there I'm not sure what to do. When I try to login with the key like this:

[code]

I get the following error:

[code]

---
#### Document D

[2021-03-30 23:42] dbradish-microsoft commented on #2497
@minnieshi, Thank you for this suggestion.  Regardless of the active subscription, the CLI configuration information is located at $AZURE_CONFIG_DIR/config. The default value of AZURE_CONFIG_DIR is $HOME/.azure on Linux and macOS, and %USERPROFILE%\.azure on Windows.  So when switching between environments with `az account set --subscription mySubName`, the stored values in the config file and loc

[2021-03-31 04:44] ksadineni13 opened #2503 ""az postgres flexible-server create" getting misspelled error"
az postgres flexible-server create --public-access all
**'create' is misspelled or not recognized by the system.**

az postgres flexible-server firewall-rule create
**'firewall-rule' is misspelled or not recognized by the system.**

Running below version
az version
{
  "azure-cli": "2.21.0",
  "azure-cli-core": "2.21.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "db-up": "0.2.1",

[2021-03-31 06:01] Svijay-msft commented on #2501
Thanks for the question! We are taking a look into this and will get back to you soon.

[2021-03-31 07:43] Svijay-msft commented on #2501
I tried steps mentioned in the document, unfortunately I was not able to reproduce the issue at my end. The below is the code I used to export the file in .PEM Format
[code]

Also, In your question - I see you are seeing the RSA Private key - meaning it could be a different format certificate.

Like the note suggests, a PEM certificate should contain Certificate and Private Key.

![image](https://

[2021-03-31 15:37] MartinJaffer-MSFT commented on #2503
Thank you for bringing this to our attention, @ksadineni13  .  To better assist you, could you please identify which document this is in reference to?

[2021-04-02 21:19] philtweir opened #2510 "GPG BADSIG for Ubuntu Cosmic packages.microsoft.com repo"
Ahead of fetching the azure-cli package from https://packages.microsoft.com/ubuntu/18.10/prod/dists/cosmic/, `apt update` complains that the signature is bad.

[code]

This occurred today in a stable, fairly regularly run build-script that first runs:

[code]

before an apt clean and update.

To isolate the issue, I have imported the `microsoft.gpg` key locally, downloaded the Release* files from

[2021-04-03 01:29] ram-msft commented on #2510
@philtweir Thanks for the question. We are investigating the issue and will update you shortly.

[2021-04-03 15:24] kgopi1 opened #2512 "Azure-CLI Installation using Powershell is not working"
Hi,

I tried installing the Azure CLI using PowerShell command as per the below link and it is not working.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-powershell#install-or-update

Command used: Start-Process msiexec.exe -Wait '/i /lv log.txt AzureCLI.msi /quiet '

Log file for installation failure :

=== Verbose logging started: 03/04/2021  16:14:24  Build ty

[2021-04-03 21:39] MartinJaffer-MSFT commented on #2512
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2021-04-05 15:40] MonikaReddy-MSFT commented on #2497
@dbradish-microsoft - Thank you for providing your insights.
@minnieshi - I hope @dbradish-microsoft has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-04-05 15:40] #2497 closed

[2021-04-05 23:33] kobulloc-MSFT commented on #2501
@stevenbrix It looks like this has been resolved so we are going to close this thread as resolved but if there are any questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-05 23:33] #2501 closed

[2021-04-06 03:49] MonikaReddy-MSFT commented on #2503
@ksadineni13 -  Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2021-04-06 09:41] Svijay-msft commented on #2512
Can you please confirm the size of the download AzureCLI.msi file and existence of the AzureCLI.msi file ?  This error usually when the file/package is not present or corrupt - or simply when the package AzureCLI.msi is un-openable.

If the file is already present, remove it manually or using the command `rm .\AzureCLI.msi` , run the below command  :

    Invoke-WebRequest -Uri https://aka.ms/inst

[2021-04-06 17:38] BhargaviAnnadevara-MSFT commented on #2510
@philtweir Thanks for reaching out. I've reached out to our Product group about this issue and will keep you posted as I have more details.

[2021-04-07 02:10] ksadineni13 commented on #2503
Thank you for getting back to me on this. Sorry was out for few days. So the issue I am having is when running
< _**az postgres flexible-server create**_ >    I keep getting below error and I know I am using latest version for az cli "2.21.0". Not sure what else I am missing.
**'create' is misspelled or not recognized by the system.**
![Uploading Screen Shot 2021-04-06 at 7.09.20 PM.png…]()

[2021-04-07 02:14] ksadineni13 commented on #2503
https://docs.microsoft.com/en-us/cli/azure/postgres/flexible-server?view=azure-cli-latest#az_postgres_flexible_server_create

That is the documentation I am referring to.

[2021-04-07 03:27] BhargaviAnnadevara-MSFT commented on #2510
@philtweir Cosmic has reached its end-of-life on July 18, 2019 (See https://wiki.ubuntu.com/Releases). We no longer support it with newer versions of CLI.

Please consider using one of the following tested distros for Ubuntu:

![image](https://user-images.githubusercontent.com/44050820/113805912-04acb400-977f-11eb-953d-7cd975ff449a.png)

[2021-04-07 04:37] Svijay-msft commented on #2512
Just checking in to see if you have had a chance to see the previous response. Kindly let us know if you need further assistance on this issue or is good to be closed.

[2021-04-08 05:02] Svijay-msft commented on #2512
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and we will gladly continue the discussion.

[2021-04-08 05:02] #2512 closed

[2021-04-08 09:15] BhargaviAnnadevara-MSFT commented on #2510
@philtweir Hope the above inputs help. We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-04-08 09:15] #2510 closed

[2021-04-09 02:53] MonikaReddy-MSFT commented on #2503
@ksadineni13 - Sure, thank you for the info. I will get back to you shortly.

[2021-04-09 14:07] dbradish-microsoft commented on #2503
@ksadineni13, Can you please share a screen print of your full command-line syntax and resulting error so we can replicate the problem?  Also please kindly share the operating system and tool you are using: command line, PowerShell, Azure Cloud Shell on Windows, Linux, macOS etc.

In testing this reference command via Azure Cloud Shell, I am receiving expected results, so we need a similar screen

[2021-04-09 16:06] kobulloc-MSFT commented on #2338
@ianychoi I reached out to our localization team and they report that the ko-kr version of the page you linked is displaying as intended.  There have been changes to the loc feedback process so this request will have to go through the new channels:

On-demand feedback of localized content:
https://aka.ms/devrellocfeedback

Provide Feedback to DevRel Localization Team:
https://review.docs.microsoft

[2021-04-09 16:06] #2338 closed

[2021-04-09 17:37] ksadineni13 commented on #2503
Thank you for taking a look at this. Yes it works for me on azure cloud shell, but it does not work from my local machine. I am using Mac, I get the same error when running form mac terminal and also VS code terminal. Attaching screen shots.
![Screen Shot 2021-04-09 at 10 30 56 AM](https://user-images.githubusercontent.com/40213688/114219183-3066a000-991f-11eb-80bb-47876665755b.png)
![Screen Shot

[2021-04-13 15:43] etiennetremel commented on #1290
@elliot-resdiary the following command seems to do the trick:
[code]

[2021-04-27 05:52] DaeunYim commented on #2503
Hi @ksadineni13
Thanks for reaching out to us.
Unfortunately, I couldn't reproduce the same error in Mac OS.

Could you try out these things?
- Run az upgrade
- re-install azure-cli
- Remove extensions

Also, try running
"az postgres --help"
"az postgres flexible-server --help" to see what commands groups are there?

[2021-04-29 02:20] MonikaReddy-MSFT commented on #2503
@daeunyim - Thank you for providing your insights.
@ksadineni13 - I hope @daeunyim has answered your question. Please try the above and see if it helps.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue

[2021-04-29 02:20] #2503 closed

[2021-04-29 14:40] Sumtin opened #2569 "Incorrect parameter value in az login command example"
az login command when using Service Principal is asking for "app-url" instead of ClientID as per https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli.

This page shows:
az login --service-principal -u **app-url** -p password-or-cert --tenant tenant

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-04-29 15:51] SaurabhSharma-MSFT commented on #2569
@Sumtin Thanks for your feedback! We will investigate and update as appropriate.

[2021-05-03 08:55] grisu48 opened #2572 "Installation for Leap 15.2 not working"
Hi,

the current installation Instructions don't work on Leap 15.2. I've been following the recommended steps as follows:

    rpm --import https://packages.microsoft.com/keys/microsoft.asc
    zypper addrepo --name 'Azure CLI' --check https://packages.microsoft.com/yumrepos/azure-cli azure-cli
    zypper install --from azure-cli azure-cli

Then even a simple `az login` already fails:

    az logi

[2021-05-03 09:06] grisu48 commented on #2572
Hmmm, I've tried to reproduce the issue in a clean environment where it looks like it is not occurring. Could be that there were some remnants of a previous installation which caused this issue. If anyone can confirm that we could close this issue.

[2021-05-03 11:20] JayaChatterjee-MSFT commented on #2572
@grisu48  Thank you for the question. We will review and get back to you.

[2021-05-03 13:07] Svijay-msft commented on #2572
@grisu48 I tested it at my end.  Unfortunately, I was not able to reproduce the issue at my end. I was able to install and run the az commands by following the steps in the document.

![image](https://user-images.githubusercontent.com/66949976/116879603-75d86d80-ac3e-11eb-9da6-f56fd1d8393b.png)

[2021-05-03 13:08] grisu48 commented on #2572
Thank you for looking into it. Then it must be indeed some remnants from a previous install. Guess we can close the issue then.

[2021-05-03 13:08] grisu48 commented on #2572
Closing as invalid.

[2021-05-03 13:08] #2572 closed

[2021-05-06 13:58] cornelhuman opened #2577 "The slowest download on the internet"
There is noting on the internet that downloads more slowly than this azurecli msi. It would be faster driving 1000km with a memory stick and copy it from someone that has it, drive back and install it. btw I have a 1gig internet line...

https://azcliprod.blob.core.windows.net/msi/azure-cli-2.23.0.msi

Is blob storage on vacation, or hosted on mars?

---
#### Document Details

⚠ *Do not edit this

[2021-05-06 16:19] MarileeTurscak-MSFT commented on #2577
@cornelhuman thank you for the feedback and I am sorry that the download is so slow for you!

If you would like to make an official feature request around this you can do so here: https://feedback.azure.com/forums/34192--general-feedback

[2021-05-06 16:20] #2577 closed

[2021-05-10 14:49] cicorias commented on #2256
numerous `apt update` does not help.

I see the IP address changing so there is some round robin DNS in front of these servers -- but there is no success here.

This is Ubuntu 18.04 under WSL2.

[code]

[2021-05-12 08:26] jotolo commented on #2256
Receiving this error when trying to install `libreoffice`.
Does anyone know what the problem is?

[code]

[2021-05-13 00:20] singhparveen opened #2587 "Install Instructions Update Required"
Install Options -> Option 2 -> Code Section 3 is using incorrect package name reference.
Package name should be '**lsb-release**' instead of 'lsb_release'

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content:

[2021-05-13 00:45] #2587 closed

[2021-05-24 06:05] archerzz opened #2603 "Better to download installers to temp folder instead of current folder"
Normally there should be `temp` environment variable which points to the temp folder of the current user. So it would be better if the installation script can be changed to use `temp`, like below:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd2

[2021-05-24 09:41] HarshitaSingh-MSFT commented on #2603
Hello @archerzz , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-05-25 06:43] SwathiDhanwada-MSFT commented on #2587
@singhparveen Hope your issue is resolved. Kindly revert if you have any questions.

[2021-05-26 16:13] pradeepradyumna opened #2609 "Error while running a command to clone multiple repositories"
I'm trying to clone multiple repositories using the below command in using Powershell, but I'm getting an error. Can you help me with this?

Commnad:
(az repos list --query '[].{Name:name, Url:remoteUrl}' -o json | ConvertFrom-Json) | %{ git clone $_.Url }

Error:

ConvertFrom-Json : Invalid object passed in, ':' or '}' expected. (1): {
At line:1 char:63
+ (az repos list --query '{Name:name, Url:r

[2021-05-26 18:48] dbradish-microsoft commented on #2609
@pradeepradyumna, [az repos list](https://docs.microsoft.com/en-us/cli/azure/repos?view=azure-cli-latest#az_repos_list) does not clone a GitHub repository.  It just lists the repos in a team project. The Azure CLI has an [az repos create](https://docs.microsoft.com/en-us/cli/azure/repos?view=azure-cli-latest#az_repos_create) command, and [Cloning an existing Git repo](https://docs.microsoft.com/en

[2021-05-27 03:40] BhargaviAnnadevara-MSFT commented on #2609
@pradeepradyumna Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-05-27 22:42] sandeepraichura opened #2613 "Export Output to a file in Azure CLI"
[Enter feedback here]
Does CLI support exporting output to a file similar to PowerShell ?  If it does, can you add examples ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48273ba7-da5a-95f0-7ffc-8c6d5282313d
* Version Independent ID: 83d348f9-fd1f-1041-0304-d8634e5526d4
* Content: [Output formats for Azure CLI](https

[2021-05-28 03:46] BhargaviAnnadevara-MSFT commented on #2613
@sandeepraichura Thanks for the question. We're investigating this and will get back to you shortly.

[2021-05-29 10:02] BhargaviAnnadevara-MSFT commented on #2609
@pradeepradyumna I was able to run the provided command as is without any errors. Here is what it looked like:

![image](https://user-images.githubusercontent.com/44050820/120066140-b044f700-c092-11eb-8b68-7d92b095031a.png)

The above is from running on **PowerShell 7.1.3**. What is the PS version/environment you are seeing this error with?

[2021-05-29 13:38] BhargaviAnnadevara-MSFT commented on #2613
@sandeepraichura Azure CLI does not support exporting to a file as an option with the `--output` parameter, if that was the intent of the question. The current supported formats are `json`, `jsonc`, `yaml`, `table`, `tsv` and `none`, as mentioned in the linked article.

However, since Azure CLI can be run across platforms, here are a few options you can use:
[code]
Adding @dbradish-microsoft for a

[2021-05-31 09:15] BhargaviAnnadevara-MSFT commented on #2609
@pradeepradyumna Any further updates here?

[2021-05-31 09:15] BhargaviAnnadevara-MSFT commented on #2613
@sandeepraichura Hope the above inputs help. Are there any further questions here?

[2021-05-31 13:16] pradeepradyumna commented on #2609
The Version of PowerShell I have is 5.1.19041.906

Best Regards,
Pradeep Pradyumna

On Mon, May 31, 2021 at 2:45 PM BhargaviAnnadevara-MSFT <
***@***.***> wrote:

[2021-05-31 17:28] BhargaviAnnadevara-MSFT commented on #2609
@pradeepradyumna Thanks for the response.

Did you try checking if the output of the following is as expected and well-formatted:
[code]
If yes, please share the output of the command here (removing any PII information) if you can so I can troubleshoot it further.

[2021-06-01 09:05] pradeepradyumna commented on #2609
Yes, the command works

Here is the output

[image: image.png]

But I wanted to run this command

(az repos list --query '[].{Name:name, Url:remoteUrl}' -o json |
ConvertFrom-Json) | %{ git clone $_.Url }

Basically, I have around 200 repositories, to clone which I want command
which can do it for me faster.

Best Regards,
Pradeep Pradyumna

On Mon, May 31, 2021 at 10:58 PM BhargaviAnnadevara-MSFT

[2021-06-01 12:56] BhargaviAnnadevara-MSFT commented on #2609
@pradeepradyumna Apologies, but I cannot see the image attached in your comment.

Nonetheless, you should be able to seamlessly execute run your commands on the improved [PowerShell 7.x](https://docs.microsoft.com/en-us/powershell/scripting/overview?view=powershell-7.1) and later (unless you have a specific requirement for PS 5.x), or get going with [Azure CLI on WSL](https://docs.microsoft.com/en

[2021-06-01 12:57] BhargaviAnnadevara-MSFT commented on #2609
@pradeepradyumna Also, on a side note, I'd like to let you know that this channel (the [Azure CLI Docs](https://github.com/MicrosoftDocs/azure-docs-cli) repository) is only for driving improvements related to the [Azure CLI documentation](https://docs.microsoft.com/en-us/cli/azure/). The best place for specific answers about implementations is going to be the [Microsoft Q&A](https://docs.microsoft

[2021-06-01 12:57] #2609 closed

[2021-06-01 13:03] BhargaviAnnadevara-MSFT commented on #2613
@sandeepraichura We will now proceed to close this thread as resolved, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-01 13:03] #2613 closed

[2021-06-01 14:34] HarshitaSingh-MSFT commented on #2603
This issue has been moved to Engineering repo as a Feature request.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-06-01 14:34] #2603 closed

[2021-06-10 16:30] lostmygithubaccount opened #2630 "YAML is machine readable?"
from this page: "YAML, a machine-readable alternative to JSON" - isn't JSON also machine-readable? should this say human-readable or friendly?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 48273ba7-da5a-95f0-7ffc-8c6d5282313d
* Version Independent ID: 83d348f9-fd1f-1041-0304-d8634e5526d4
* Content: [Output formats for

[2021-06-10 16:57] kobulloc-MSFT commented on #2630
@lostmygithubaccount Yeah, I would agree.  YAML is definitely human-readable (as hinted at in the name, YAML Ain't Markup Language).  I think the intention was to describe it as human-readable as is often used in the description of YAML.  I'll get that updated.

[2021-06-14 20:12] kobulloc-MSFT commented on #2630
@lostmygithubaccount Those changes have been merged and should go live soon.  Thank you again for helping us improve the documentation!  We are going to close this thread as resolved but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-06-14 20:12] #2630 closed

[2021-06-15 20:08] dbradish-microsoft commented on #2569
@Sumtin, @SaurabhSharma-MSFT , This article has been corrected in PR [2640](https://github.com/MicrosoftDocs/azure-docs-cli/pull/2640)

[2021-06-15 20:08] #2569 closed

[2021-06-22 13:28] fchouina commented on #2256
This issue is still not resolved.
I had not encountered it in quite some time, but it reappeared between 2021-06-14 and 2021-06-22 and we are now unable to upgrade the packages from the azure-cli repo.

**/etc/os-release:**
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL=

[2021-06-29 00:37] GlennWOW opened #2651 ""zypper rm -y --clean-deps azure-cli""
The fix for older version removal on SLES "zypper rm -y --clean-deps azure-cli", breaks sap scs/ers cluster deployments as removes libraries required for crm sap cluster support on azure namely  python3-azure-mgmt-compute.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Ind

[2021-06-29 14:21] kobulloc-MSFT commented on #2651
@GlennWOW Thank you for bringing this to our attention!  We've assigned this to the document author for review.

[2021-07-01 11:51] salvaguardia opened #2653 "Azure cli admits creating resource group names with non ascii chars that break the Portal Azure webapp"
Azure cli admits creating resource group names with non ascii chars ('Ó', for example) that break the Portal Azure webapp

I created a resource group named "FORMACIÓN" and I deployed successfully into it a VM machine and some others resources through 'az cli' .

As a consecuence, I'm able to manage these resources with az cli but the portal azure shows the resource group "FORMACIÓN" as void (I'm a

[2021-07-01 17:47] himanshusinha-msft commented on #2653
Hello @salvaguardia , Can you please share the link the of the coument which you are refering .?

[2021-07-02 06:40] salvaguardia commented on #2653
Hi!

The link was posted in my comment:

"I though it should be notified in oder to redact some clearer warning. At this moment the doc explains:"

See the "doc" link  in the "preface" (first lines).

Thank you.

[2021-07-12 15:00] nulltoken opened #2659 "[v2.26] az cli / acr purge crash: TypeError: 'NoneType' object is not callable"
This Azure Piepeline task was working fine in 2.25

[code]

Since the update to 2.26, it now crashes with the following output

[code]

[2021-07-12 15:02] SatishBoddu-MSFT commented on #2659
Hello @nulltoken What is the documentation link you have referred to in this case? Could you please provide that?

[2021-07-12 15:13] SatishBoddu-MSFT commented on #2659
Hello @nulltoken
I have assigned the issue to the content author for further review.

[2021-07-12 15:32] nulltoken commented on #2659
@SatishBoddu-MSFT Thanks a lot!

[2021-07-12 16:57] BhargaviAnnadevara-MSFT commented on #2659
@nulltoken Thanks for reaching out. I'd like to let you know that this channel (the [Azure CLI Docs](https://github.com/MicrosoftDocs/azure-docs-cli) repository) is only for driving improvements related to the [Azure CLI documentation](https://docs.microsoft.com/en-us/cli/azure/).

It looks like this issue is with the **Azure CLI Task** for Azure Pipelines. The right place to raise an issue with t

[2021-07-12 16:57] #2659 closed

[2021-07-16 03:21] PradeeDevananth opened #2663 "AZ CLI downloading very slow 64kpbs"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Install the Azure CLI for Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)
* Content Source: [

[2021-07-16 10:40] AshokPeddakotla-MSFT commented on #2663
@PradeeDevananth Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-16 12:04] HarshitaSingh-MSFT commented on #2663
@PradeeDevananth, can you please tell me what is the ask?

[2021-07-19 05:03] HarshitaSingh-MSFT commented on #2663
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-20 07:49] HarshitaSingh-MSFT commented on #2663
Hello!
Just checking to see if you have had a chance to see the previous response. Kindly let us know if it answers your question and if you need further assistance on this issue.

[2021-07-22 05:16] HarshitaSingh-MSFT commented on #2663
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-22 05:16] #2663 closed

[2021-08-03 18:17] edgreenberg opened #2679 "login when company uses third party"
My company requires me to log into azure by means of okta. In other words, azure portal opens okta and then we return to azure portal.

When following the instructions for az login, I got errors at the browser level. I decided it couldn't launch okta. Not sure of this.

So I entered portal.azure.com, logged in, then did az login at the command line and got success.

Perhaps a suggestion should be

[2021-08-03 20:38] kobulloc-MSFT commented on #2679
@edgreenberg Thank you for bringing this to our attention!  We'll look into this and get back to you shortly.

[2021-08-04 01:01] kobulloc-MSFT commented on #2679
@edgreenberg It looks like Okta uses the same command in their documentation with a reference to this page:
https://help.okta.com/oag/en-us/Content/Topics/Access-Gateway/deploy-msa-cli.htm

![image](https://user-images.githubusercontent.com/37556655/128105190-af4aa41c-79d6-4588-b162-3e849563d9c8.png)

There's also another reference on their developer blog:
https://developer.okta.com/blog/2020/09/0

[2021-08-04 01:03] edgreenberg commented on #2679
In my case, I believe I am squared away since I can just log into portal
via okta before using CLI commands.

I think that will work for me.

I was reporting this more so you could consider putting some sort of
warning in the documentation for others who use third party authentication.

Thanks for your attention.

On Tue, Aug 3, 2021, 21:01 kobulloc-MSFT ***@***.***> wrote:

[2021-08-04 01:09] kobulloc-MSFT commented on #2679
@edgreenberg Good to hear!  Third party documentation is a bit tricky because there are extra criteria for verification and it's easier for information to become outdated (making it less frequent as a result).  This thread is viewable for all readers of the documentation, however, and serves as a great resource for others who may run into this issue.  Thank you for helping to improve the docs!

[2021-08-04 15:52] kobulloc-MSFT commented on #2679
@edgreenberg Thank you again for helping to improve the docs.  We are going to close this thread as resolved but if there are any further questions or comments regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-08-04 15:52] #2679 closed

[2021-08-04 20:02] bsiegel opened #2682 "Install Azure CLI on macOS - python dependency information is wrong"
The documentation regarding the python dependency when installing azure-cli via Homebrew is incorrect.

1. There is no longer a `python3` package (though the name has been preserved as an alias for backwards compatibility) and this syntax for versioned formulae has been deprecated. The currently supported syntax for specifying a versioned formula is `python@3`, though the formula `python` (without

[2021-08-04 20:54] kobulloc-MSFT commented on #2682
@bsiegel Thank you for reporting this.  We've assigned this to the document author for review.

[2021-08-10 22:35] krishnaprabhat opened #2691 "Azure CLI - RHEL install, Yum repos is not accessible, generating 404"
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf

The Yum repos is not accessible, generating 404.

![Screen Shot 2021-08-10 at 6 35 09 PM](https://user-images.githubusercontent.com/50242680/128943614-0899753f-3bd3-4334-ae17-22e0db0c7889.png)
![Screen Shot 2021-08-10 at 6 34 45 PM](https://user-images.githubusercontent.com/50242680/128943615-acd29945-c937-47b8-a503-136

[2021-08-11 08:53] BhargaviAnnadevara-MSFT commented on #2691
@krishnaprabhat Thanks for bringing this to our attention. Do you still see this happening?

I'm able to access https://packages.microsoft.com/yumrepos/azure-cli without any issues:

![image](https://user-images.githubusercontent.com/44050820/128999908-d46df397-d7b1-44a6-8109-7f782ae04fe1.png)

Please check and let me know.

[2021-08-11 13:56] krishnaprabhat commented on #2691
I am able to access it now. Do we have any RCA for this issue.

[2021-08-13 18:39] bsiegel commented on #2682
Update: The Homebrew formula was updated today, it now depends on `python@3.9`. However I still think it’s incorrect to state that the formula always depends on the most recent version of Python available in Homebrew, since support for newly-released Python in azure-cli typically lags many months behind.

[2021-08-16 08:09] BhargaviAnnadevara-MSFT commented on #2691
@krishnaprabhat AFAIK, there wasn't a known incident for the noticed behavior on our side. That said, if you run into this issue again, please file an issue with [Azure/azure-cli](https://github.com/Azure/azure-cli/issues) repository so our Engineering Team can take a look.

Also, on a side note, I'd like to let you know that this channel (the [Azure CLI Docs](https://github.com/MicrosoftDocs/azur

[2021-08-16 08:09] #2691 closed

[2021-08-17 18:50] jenellea opened #2699 ""Try it!" login is convoluted"
Using the "try it!" launched 3 windows, 3 login attempts, and multiple questions which account I was using to login. All that AFTER providing the one time use "code" generated in the CLI window.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-5

[2021-08-18 03:09] CHEEKATLAPRADEEP-MSFT commented on #2699
@jenellea  Thanks for the question! We are investigating and will update you shortly.

[2021-08-18 18:36] jenellea opened #2702 "Unable to install using powershell command:"
https://aka.ms/powershell                                                                                               Type 'help' to get help.                                                                                                                                                                                                                        PS C:\Users\myid> Invoke-WebRequest -Uri

[2021-08-19 03:41] CHEEKATLAPRADEEP-MSFT commented on #2702
@jenellea  Thanks for the question! We are investigating and will update you shortly.

[2021-08-23 06:36] HarshitaSingh-MSFT commented on #2699
@jenellea, this did not happen to me. After providing code like in below line:

After providing code, I got login screen with my default login method screen and it successfully logged in. I would recommend you to "Try this!" in InPrivate/Incognito mode again. Also, if it still does not work, let me know other specifics with screenshots.

[2021-08-23 07:13] HarshitaSingh-MSFT commented on #2702
@jenellea , this is because your command has some letters missing and incorrect casing. Below is the right command:

`Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'; rm .\AzureCLI.msi`

[2021-08-23 07:13] HarshitaSingh-MSFT commented on #2702
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-08-23 07:13] #2702 closed

[2021-08-23 22:25] kobulloc-MSFT commented on #2699
@jenellea Hopefully you are not still running into issues with the "try it" feature of the documentation.  I suspect that there was a delay which caused 3 attempts to connect and that may have been responsible for the behavior you saw.  If you are still running into this issue, please tag @HarshitaSingh-MSFT in your reply and we will reopen this issue for further investigation.

[2021-08-23 22:25] #2699 closed

[2021-08-24 13:55] rsbuckles opened #2713 "Consider a name change for "Azure PowerShell""
That name is rather unfortunate and confusing, IMO.  It leads one to believe it is a shell for Azure when in fact it is a set of cmdlets, i.e., a module callable from a shell, i.e., PowerShell, not a shell itself.  Two different concepts.

Something like "Azure PS Cmdlets" or "Azure PSC" (like Azure CLI ) or really *anything* without the full word "PowerShell" in it would be helpful for disambigua

[2021-08-24 20:19] MarileeTurscak-MSFT commented on #2713
@rsbuckles Thanks for your feedback! I see your point and we have passed your message along to the product team.

CC @Duffney

[2021-08-24 20:19] #2713 closed

[2021-08-26 02:36] jiasli opened #2720 "[Feature Request] Show experimental/preview/deprecation info in docs"
Status tags like **experimental**/**preview**/**deprecation** should be shown in docs as CLI does (https://github.com/Azure/azure-cli/issues/12549).

Status tags can be applied to **command group**/**command**/**argument** levels.

- **Deprecation** tells the user that it is deprecated and it should redirect them to use the alternatives.
- **Experimental**/**Preview** tells the user that it is und

[2021-08-30 07:46] D3m1urg3 opened #2727 "Install Azure CLI from cmd does not work"
The instructions to install azure cli from command line does not work. The command provided in the official documentation:

$ powershell -Command "Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'; rm .\AzureCLI.msi"

Installs azure but does not adds it to registry making the installation wor

[2021-08-30 08:54] HarshitaSingh-MSFT commented on #2727
Hello @D3m1urg3 , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2021-08-30 10:05] D3m1urg3 commented on #2727
After installation the az command is not recognized. Does not matter that one opens a fresh cmd or powershell.

Mimicking the path entry when the az cli is installed by using ui instead of command line does not help either.

[2021-08-30 11:50] pkruesi opened #2728 "Repositories for Debian 11 aka bullseye is missing."
Repositories for Debian 11 aka bullseye is missing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

[2021-08-30 18:11] kobulloc-MSFT commented on #2728
@pkruesi Thank you for the feedback!  We've assigned this to the document author for review.

[2021-08-31 07:17] HarshitaSingh-MSFT commented on #2727
@D3m1urg3 , thanks for the information. I have verified this behavior and will reach out to the PG to rectify this. Thanks for reporting!

[2021-08-31 07:21] D3m1urg3 commented on #2727
Thanks!

[2021-09-02 03:13] jiasli commented on #2728
Please see https://github.com/Azure/azure-cli/pull/19370

[2021-09-02 03:13] #2728 closed

[2021-09-02 09:56] D3m1urg3 commented on #2727
I'm testing this in a vm.

- This is my path before installing azure cli:

PS C:\Users\IEUser> echo $env:PATH  C:\Windows\system32;C:\Windows;C:\Windows\System32\Wbem;C:\Windows\System32\WindowsPowerShell\v1.0\;C:\Windows\System32\OpenSSH\;C:\ProgramData\chocolatey\bin;C:\Program Files\Puppet Labs\Puppet\bin;C:\Program
Files\Perforce\;C:\Users\IEUser\AppData\Local\Microsoft\WindowsApps;

- Run the

[2021-09-03 09:41] jiasli commented on #2727
It is not that the `PATH` is not configured correct. The installation didn't happen at all.

I tested on Azure VM but couldn't repro. Could you double confirm if the PowerShell terminal is run as Administrator?

![image](https://user-images.githubusercontent.com/4003950/131985283-8c448e76-ecda-4cb2-8d4c-32f7ca6e6a6f.png)

[2021-09-03 09:55] D3m1urg3 commented on #2727
I just tried it as administrator with the same result :/

[2021-09-03 13:09] jiasli commented on #2727
I can repro. Tested on Windows Server 2019 VM. CLI's path is indeed added, but `PATH` doesn't take it:

![image](https://user-images.githubusercontent.com/4003950/132009689-01ef12b1-21c0-4b95-9731-3734f80381e1.png)

CMD meanwhile works fine:

![image](https://user-images.githubusercontent.com/4003950/132010076-6a0ca488-9916-4828-83b0-c1b5ddcab458.png)

I will investigate on this.

[2021-09-04 07:54] samuraifox1 opened #2737 "As a Linux Mint user, We need to find the base ubuntu image"
[As a Linux Mint user, We need to find the base ubuntu image. using `cat /etc/upstream-release/lsb-release` ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI on Linux](https://docs.micros

[2021-09-04 12:27] BhargaviAnnadevara-MSFT commented on #2737
@samuraifox1 Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-05 03:32] samuraifox1 commented on #2737
Please close this ticket, as the documentation mentions this step already. Thanks !

[2021-09-05 03:32] #2737 closed

[2021-09-06 06:25] jiasli commented on #2727
Actually in Windows Server, the PowerShell terminal is run as administrator by default. @D3m1urg3, what is the system you use in the VM?

The document says:

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-powershell#powershell-command

Does it work if you reopen the PowerShell terminal?

---

On Windows Server, there seems to be a bug with PowerShell when opened wi

[2021-09-06 06:29] D3m1urg3 commented on #2727
I´m using the vmware vm provided by microsoft: https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/

In my case az cli is not added to path neither in ps or cmd.

[2021-09-06 06:33] jiasli commented on #2727
The MSI will indeed add CLI to `PATH`:

https://github.com/azure/azure-cli/blob/c803a548ef820bd840eb08fec46d638eae27672a/build_scripts/windows/Product.wxs#L96-L102

[code]

Could you check the environment variable after installation in GUI? **Start -> Edit the system environment variables -> Environment Variables...**

[2021-09-06 07:04] D3m1urg3 commented on #2727
Path before install:

![image](https://user-images.githubusercontent.com/10133797/132173914-3c80e8d6-f625-469c-b6d2-0112aed7410b.png)

Path after install using GUI:
![image](https://user-images.githubusercontent.com/10133797/132174265-36a20d4c-a5d8-4e95-b77a-7b703b7909d0.png)

![image](https://user-images.githubusercontent.com/10133797/132174479-a17608e2-fbbe-4930-b520-8869a3a74819.png)

[2021-09-06 07:14] jiasli commented on #2727
Apparently the environment variable `PATH` is modified correctly:

![](https://user-images.githubusercontent.com/10133797/132174479-a17608e2-fbbe-4930-b520-8869a3a74819.png)

I tested with the image https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/ in Hyper-V. Here are my steps:

- Open PowerShell as administator
- Install Azure CLI with
[code]
- Run `az --version` -> ❌
[co

[2021-09-06 07:19] D3m1urg3 commented on #2727
Indeed it works now. I presume some changes in the scripts have been done as it was not working before.

[2021-09-06 07:32] jiasli commented on #2727
We didn't change anything recently. You only need to reopen the PowerShell terminal, nothing more.

[2021-09-06 07:41] jiasli commented on #2727
We didn't change anything recently. You only need to reopen the PowerShell terminal, nothing more.

Anyway, let me update the doc to make those steps more visible: https://github.com/MicrosoftDocs/azure-docs-cli/pull/2738

[2021-09-06 07:42] #2727 closed

[2021-09-06 07:57] HarshitaSingh-MSFT commented on #2727
Thanks a lot @jiasli for helping out here.

[2021-09-09 16:49] mdtro opened #2746 "Unable to create management group as of 2.27.1"
[code]

In version 2.27.0, creating a child management group. As of 2.27.1, the same command is failing with the error message:

To recreate this issue, you'll need the following:

- A management group, for example named "MyTestMG".
- A subscription (does not need to be a member of the above management group).
- A SPN with the following roles assigned:
  - _Reader_ at the subscription scope.
  - _

[2021-09-09 16:50] mdtro commented on #2746
Closing issue. I realize I'm on the docs repo. Sorry!

[2021-09-09 16:50] #2746 closed

[2021-09-10 08:28] mikeblakeuk opened #2749 "Please demo Error handling"
Please demo Error handling

What is the recommended way to handle errors in powershell with az commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e51daa3-30c5-f449-36a1-9f33c70ca2fc
* Version Independent ID: a21e188b-4ff4-0aca-531b-d4b179665be1
* Content: [Use Azure CLI effectively](https://docs.microsoft.com/en

[2021-09-10 10:32] BhargaviAnnadevara-MSFT commented on #2749
@mikeblakeuk Thanks for the question. We're investigating this and will get back to you shortly.

[2021-09-16 19:15] BhargaviAnnadevara-MSFT commented on #2749
@mikeblakeuk This would be an interesting scenario to handle. :)

Since Azure CLI commands escape PowerShell's `Try..Catch` mechanism, error handling here can be a little tricky. While running Azure CLI commands on PowerShell, I've found that checking on the [automatic variable](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_automatic_variables?view=powers

[2021-09-16 19:17] BhargaviAnnadevara-MSFT commented on #2749
@dbradish-microsoft @mikefrobbins - FYI.

[2021-09-16 19:55] mikefrobbins commented on #2749
By default, in PowerShell only terminating errors stop execution. For PowerShell code, specify the `ErrorAction` parameter with `Stop` as the value to turn a non-terminating error into a terminating one.

If you're using Azure CLI from PowerShell, you can't specify `ErrorAction` on the command itself. In that scenario, you would need to change the global `$ErrorActionPreference` variable as @Bharg

[2021-09-17 03:46] #1326 closed

[2021-09-24 01:41] dbradish-microsoft commented on #2749
@mikeblakeuk, Thank you for your suggestion.  @BhargaviAnnadevara-MSFT, I have added this request to the Azure CLI docs backlog with a request completion date of October 2021.  With such, I am closing this GitHub issue.

[2021-09-24 01:41] #2749 closed

[2021-10-07 14:22] mdelarosab opened #2777 ""invalid jmespath_type value" with boolean query"
The following command returns an error with the message: "invalid jmespath_type value":
[code]
It works with double ticks:
[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60c12ef-d293-5626-c7aa-c7e9241bf975
* Version Independent ID: 7acca1dd-b735-7e1f-afd9-2b5b6ea06b1c
* Content: [JMESPath query command results w

[2021-10-07 14:34] MonikaReddy-MSFT commented on #2777
@mdelarosab - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-10-07 14:34] #2777 closed, assigned to MonikaReddy-MSFT

[2021-10-11 17:32] vaacuavi-MSFT opened #2781 "Scope defined for this API configured by default to "http://appname/user_impersonation""
Hello team,

I would like to understand why when we are creating a Service Principal using the command "az ad sp create-for-rbac -n svcpname --skip-assignment" the scope defined for the API is set by default to "http://appname/user_impersonation".

![image](https://user-images.githubusercontent.com/92326587/136831418-bc123f54-b65a-4549-824b-3c1f8ef5d900.png)

Thanks

[2021-10-11 17:34] vaacuavi-MSFT opened #2782 "Scope defined for this API is configured by default to "http://appname/user_impersonation""
Hello team,

I would like to understand why when we are creating a Service Principal using the command "az ad sp create-for-rbac -n svcpname --skip-assignment" the scope defined for the API is set by default to "http://appname/user_impersonation".

![image](https://user-images.githubusercontent.com/92326587/136831418-bc123f54-b65a-4549-824b-3c1f8ef5d900.png)

Thanks

[2021-10-11 17:35] #2782 closed, assigned to BharathNimmala-MSFT

[2021-10-18 16:19] MonikaReddy-MSFT commented on #2781
@vaacuavi-MSFT Thank you for your query.

Also please note that we scope issues on this repo to feedback related to the docs. If you are following through any documentation and came across this issue, it would be great if you could share the doc link. That would help us to guide you accordingly.

[2021-10-19 12:35] #2781 closed

[2021-10-20 19:28] chasewilson opened #2792 "Add release cadence information"
Would it be good to add release cadence information to this page at the [Current Version Section](https://docs.microsoft.com/en-us/cli/azure/what-is-azure-cli#current-version)?

In my mind it will give the customer an expectatation of service.

If this is added, the scope of update should be noted. E.g. this doesn't include extensions and modules not owned by the team.

@dbradish-microsoft, @yonzh

[2021-10-21 04:25] SwathiDhanwada-MSFT commented on #2792
@chasewilson Thanks for your feedback.

Assigning to content author @dbradish-microsoft   for review.

[2021-10-21 16:20] JamieH-risual opened #2796 "az functionapp deploy failed with an unexpected error: 'str' object has no attribute 'value'"
This issue has started occurring today since my GitHub Actions runner has been updated to use Azure CLI version 2.29.0.

Step being executed:

Run azure/powershell@v1
  with:
    inlineScript: az functionapp deploy --resource-group ******* --name ********* --src-path *******/azure.parameters.json --type static --target-path parameters.json

ERROR: The command failed with an unexpected error. Here

[2021-10-21 16:26] #2796 closed

[2021-10-27 23:21] nathanlindorff opened #2804 "Homebrew warning when upgrading: "Warning: Calling bottle :unneeded is deprecated!""
Running az upgrade on macos now gives a homebrew warning:

[code]

Based on the timeframe of search results for `Warning: Calling bottle :unneeded is deprecated! `, It looks like there has been a change to homebrew that will require a change the the homebrew formula.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d09ed

[2021-11-01 23:00] bonzaii commented on #2256
My issue is resolved by using older version of the repository. The [Microsoft Docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) manual process of adding repo uses `AZ_REPO=$(lsb_release -cs)` to determine the Ubuntu version, which on newer versions will fail.

The "Install with one command" option forces "Focal" repo, which in my case is older than current mainst

[2021-11-05 08:31] gro1m opened #2818 "Could you add release notes for the Azure CLI extensions (and not only for Azure CLI itself)?"
Could you add release notes for the Azure CLI extensions (and not only for Azure CLI itself)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0e8d9ef-f25b-bb46-7f1a-bd3588be3343
* Version Independent ID: cd392600-a90d-0145-5ea6-6b01ab8f4ab9
* Content: [Release notes & updates – Azure CLI](https://docs.microsoft.com/en-

[2021-11-05 09:26] BhargaviAnnadevara-MSFT commented on #2818
@gro1m Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-11-05 16:34] dbradish-microsoft commented on #2818
@gro1m, Release notes for Azure CLI extensions are available from the [List of available Azure CLI extensions](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list?view=azure-cli-latest) page.  I appreciate your suggestion to have the release notes combined, and will pass your suggestion to the engineering team.

[2021-11-05 16:34] #2818 closed

[2021-11-05 21:39] gro1m commented on #2818
Thanks @dbradish-microsoft. Not all links seem to work, e.g. subscription and ml: Should I open a separate feedback for this?

[2021-11-08 05:41] adriancuadrado opened #2820 "yamlc output format not documented"
Running `az webapp list --help` shows this help:

[code]

As you can see, one of the valid output formats is yamlc, but I can't find any information about that format anywhere and after running the command with that option I can't understand the difference between it and normal yaml.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2021-11-08 22:44] SanderBlom commented on #2256
Same issue Pop OS 21.10.

`E: The repository 'https://packages.microsoft.com/repos/azure-cli impish Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N: See apt-secure(8) manpage for repository creation and user configuration details.
`

`
NAME="Pop!_OS"
VERSION="21.10"
ID=pop
ID_LIKE="ubuntu debian"
PRETTY_NAME=

[2021-11-10 15:59] diongerritzen opened #2822 ""az network bastion create" throws error when "scale-units" parameter is not given"
According to the [docs](https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest#az_network_bastion_create) the required parameters of the `az network bastion create` command are `--name`, `--public-ip-address`, `--resource-group` and `--vnet-name`. However, running the command with just these four parameters results in the following error:
`'<' not supported between instan

[2021-11-10 16:23] BhargaviAnnadevara-MSFT commented on #2822
@diongerritzen Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-11-10 18:42] dbradish-microsoft commented on #2818
Hello, @gro1m, I have opened an issue in the Azure/azure-cli-extensions repo.  It is issue #[4090](https://github.com/Azure/azure-cli-extensions/issues/4090).  Thank you for bringing this to our attention.

[2021-11-11 07:45] BhargaviAnnadevara-MSFT commented on #2822
@diongerritzen Thank you for bringing this to our attention. I'm able to reproduce the error you're seeing.

This is certainly not the expected behavior though. I've created a [bug report](https://github.com/Azure/azure-cli/issues/20289) with the **Azure/azure-cli** repository so our Azure CLI Engineering Team can take a look and fix. Please follow further updates to this issue on the same thread.

[2021-11-11 07:45] #2822 closed

[2021-11-11 09:02] BhargaviAnnadevara-MSFT commented on #2820
@adriancuadrado Thank you very much for bringing this to our attention. Just like how `json` has a colorized counterpart `jsonc`, `yamlc` is used to produce **colored YAML** formatted output. Note the differences in color in the snip below:

![image](https://user-images.githubusercontent.com/44050820/141268656-619155d0-f812-4683-b15a-881cdbc24f4a.png)

I've submitted a PR to add `yamlc` to the lis

[2021-11-11 09:05] BhargaviAnnadevara-MSFT commented on #2820
@dbradish-microsoft FYI.

[2021-11-12 15:23] tknerr opened #2825 "Is the search space for JMESPath queries via `--query` implicitly limited, or does it search across the entire collection of items?"
Hi @dbradish-microsoft ,

great documentation!

I was looking for one specific detail, which is not entirely clear to me. The docs say:

Does that mean that the query is executed on client side, after **all** data has been fetched?

I'm asking, because my intuitive expectation was that the JMESPath queries were evaluated on server side, and then would only return the filtered / queried json result

[2021-11-12 15:23] #2820 closed

[2021-11-12 15:25] BhargaviAnnadevara-MSFT commented on #2820
@adriancuadrado Thanks again for the feedback. The change is merged internally and will go-live in the public docs shortly.

[2021-11-12 16:13] tknerr commented on #2825
This seems to have been reported in https://developercommunity.visualstudio.com/t/az-pipelines-build-list-does-not-properl/1513703 already -- cross-linking both for reference here

[2021-11-14 11:21] goutam1206 opened #2826 "SSL handshake error on using az universal package publish"
Hello Team,

I'm using az cli version 2.8.0, and facing SSL Handshake errors while publishing a universal package to my organization's feed.

I'd like to mention that, the path in the exception thrown (C:\Users\VSSADM~1\) is something not a specific path to my machine. Would like to know, if this is a defect on the az cli ? Please do let me know, as it is a blocker for me, or please direct me to d

[2021-11-14 16:03] BhargaviAnnadevara-MSFT commented on #2826
@goutam1206 Thanks for reaching out. It seems like you're running into an issue executing the [az artifacts universal publish](https://docs.microsoft.com/en-us/cli/azure/artifacts/universal?view=azure-cli-latest#az_artifacts_universal_publish) command. I couldn't help but notice that the version you currently have installed, `2.8.0` is pretty old, and could be worth upgrading to the latest version

[2021-11-14 16:03] #2826 closed

[2021-11-15 03:29] goutam1206 commented on #2826
Thank you @BhargaviAnnadevara-MSFT. Would do the appropriate

[2021-11-18 22:53] chasewilson opened #2831 "Add Clarity to msal-based-azure-cli"
- The current doc isn't clear that the migration is tool based and the customer doesn't need to migrate anything.
- Alternatives currently look like they are required when they are only if you are working with other versions
- Clarity on no backwards compatibility. Has been an issue for pipeline users.
- Updates for markdown formatting requirements.

[2021-11-19 05:52] BhargaviAnnadevara-MSFT commented on #2831
@chasewilson Thank you for the updates! I see https://github.com/MicrosoftDocs/azure-docs-cli/pull/2832 is awaiting review.

[2021-11-22 11:42] AronT-TLV opened #2835 "Homebrew is not necessarily a good way to install on Mac"
Today I ran into an issue with `az aks nodepool add` See [this issue](https://github.com/Azure/azure-cli/issues/20461). Apparently the problem is `brew` automatically upgraded to Python 3.10 because of some other dependancy. This is not the first time I have run into CLI issues on the Mac because of Python incompatibilities. Hence I suggest the documentation note the option of using `conda` with a

[2021-11-22 16:00] Grace-MacJones-MSFT commented on #2835
thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2021-11-23 04:33] BhargaviAnnadevara-MSFT commented on #2831
@chasewilson We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-11-23 04:33] #2831 closed

[2021-11-29 02:45] wujiangxingzhe opened #2845 "Set configuration file name as the environment var value"
Whether we set configuration file name as the environment var value and then az pares the configuration file by the environment var
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fb42002e-9aa3-233d-9832-353235b7cd0f
* Version Independent ID: e8b320b1-5805-67ba-46b2-48111861facc
* Content: [Azure C

[2021-11-29 03:40] BhargaviAnnadevara-MSFT commented on #2845
@wujiangxingzhe Thanks for reaching out. I'm not quite sure if I understand your requirement completely. Could you please elaborate the feedback you wish to provide?

[2021-11-30 04:38] BhargaviAnnadevara-MSFT commented on #2845
@wujiangxingzhe Please elaborate your feedback so we can help you better.

[2021-12-01 06:25] BhargaviAnnadevara-MSFT commented on #2845
@wujiangxingzhe We will now proceed to close this thread, but if there are any further questions regarding the documentation, please tag me in your reply and we will be happy to continue the conversation.

[2021-12-01 06:25] #2845 closed

[2021-12-03 09:16] kzankpe opened #2857 "az login command failed when executed through Terraform (remote-exec)"
# Describe the bug

Command Name
```az login```

Errors Message:
[code]

# To Reproduce:
The installation and command execution is done through Terraform (remote-exec).
The powershell script content:

[code]

# Expected Behavior

# Environment Summary
[code]
# Additional Context

I don't get errors when the same script is executed on the instance directly when using remote desktop.
The user accoun

[2021-12-03 10:08] BhargaviAnnadevara-MSFT commented on #2857
@kzankpe Thanks for reaching out. It seems like you're running into issues executing the `az login` command.

Since the issue is around behavior of specific Azure CLI commands, it would be best addressed in the [Azure/azure-cli](https://github.com/Azure/azure-cli/) repository. I'd request you to please create a bug report **[here](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&te

[2021-12-03 10:08] #2857 closed

[2021-12-03 10:28] kzankpe commented on #2857
@BhargaviAnnadevara-MSFT Thank you for your response.

[2021-12-06 03:47] AjayKumar-MSFT commented on #2746
Apologies for the delay!

No worries, Thanks for leveraging Azure docs feedback channel to raise this question and follow-up/closure.

As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-06 03:50] AjayKumar-MSFT commented on #2796
JamieH-risual,  Apologies for the in ack here!

Thanks for leveraging Azure docs feedback channel to raise this question. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know (also the Azure doc for which this feedback is applicable to).

-As a side note, this channel is reserved for ‘Azure docs’ feedback- for

[2021-12-07 10:09] BzSpi opened #2862 "Releases notes missing for version 2.31.0"
The release notes for version 2.31.0 is missing on docs.microsoft.com and in the docs-ref-conceptual/release-notes-azure-cli.md file.

[2021-12-07 12:33] AjayKumar-MSFT commented on #2862
@BzSpi, Thanks for leveraging Azure docs to share this feedback.

Just to confirm, I believe you're referring to this doc: https://docs.microsoft.com/cli/azure/release-notes-azure-cli
and  [Azure CLI release notes](https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/release-notes-azure-cli.md)?

[2021-12-07 12:39] BzSpi commented on #2862
@AjayKumar-MSFT yes, that's the two documents I'm talking about.

[2021-12-07 13:10] AjayKumar-MSFT commented on #2862
BzSpi, Thanks for the confirmation. We're checking on this and will get back to you shortly.

[2021-12-07 18:48] AjayKumar-MSFT commented on #2862
@dbradish-microsoft, Requesting your comments on this. Thank you.

[2021-12-07 19:57] dbradish-microsoft commented on #2862
@AjayKumar-MSFT , please reach out to @jiasli as this is an engineering issue.

[2021-12-08 07:12] #2862 closed

[2021-12-08 07:55] jiasli commented on #2862
Issue has been fixed.

[2021-12-09 21:12] dejan-shuki opened #2869 ""The JSON may have been parsed by the shell" unable to use JSON file"
[Enter feedback here]
I was sent to this page after I tried to create Azure Synapse Linked Service using .json file from Azure CLI:
az synapse linked-service create --name LS_dakeyvault --file "C:\Project\SynGitTest0\linkedService\LS_dakeyvault.json" --workspace-name edap-d-syn

Unfortunately, I was not able to figure out how should I deal with quotes.
Should I change the reference to the file? I

[2021-12-10 01:27] MonikaReddy-MSFT commented on #2869
@dejan-shuki - Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2021-12-10 08:37] tknerr commented on #2825
Hi @dbradish-microsoft , @BhargaviAnnadevara-MSFT , any update on this so far?

[2021-12-13 20:34] dbradish-microsoft commented on #2869
CCing @wonner for input

[2021-12-14 02:37] wonner commented on #2869
hi @dejan-shuki  , could you please add "@" at the front of the path?
for example: --file @"C:\Project\SynGitTest0\linkedService\LS_dakeyvault.json"
Here is the related doc: https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md#best-practice-use-file-input-for-json

[2021-12-14 20:26] MonikaReddy-MSFT commented on #2869
@wonner  - Thank you for providing your insights.
@dejan-shuki  - I hope @wonner has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-12-14 20:26] #2869 closed

[2021-12-15 00:31] UmarMohamedUsman commented on #2822
I see this issue is closed but still getting same error "'<' not supported between instances of 'NoneType' and 'int'". And this error is confusing and misleading.
Once I provide --scale-units which is an optional param, it works.

[2021-12-16 17:13] dbradish-microsoft commented on #2825
@jiasli , can you please review and comment?

[2021-12-17 03:00] jiasli commented on #2825
Yes. Global argument `--query` which uses JMESPath is totally executed on the client-side:

https://github.com/microsoft/knack/blob/cd590312b9b4ea1402d7a0a76814f6ca4da7fab8/knack/query.py#L43-L47

[code]

On the other hand, `--top` is an implementation of `azure-devops` extension. You may report your problem at https://github.com/Azure/azure-devops-cli-extension.

[2021-12-22 07:00] njaiswal27 opened #2884 "Required permission changed to the newly created microsoft.asc.gpg file"
Please include steps to change the permission of microsoft.asc.gpg file else apt-get fails with public key error

The following signatures couldn't be verified because the public key is not available: NO_PUBKEY EB3E94ADBE1229CF
Reading package lists...

 chmod 666 /etc/apt/trusted.gpg.d/microsoft.asc.gpg

Also copy pasting steps from the documents ends up with error message

The key(s) in the keyr

[2021-12-22 15:21] JamesTran-MSFT commented on #2884
@njaiswal27
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2021-12-23 02:02] jiasli commented on #2884
@njaiswal27, we are not able to repro by following the current doc.

Could you share the steps you followed and the full error message? Thanks.

[2021-12-23 03:51] njaiswal27 commented on #2884
Using Option #2
--------------------
sudo apt-get update
Hit:1 http:// repo-domainname.com /archive.ubuntu.com/ubuntu bionic InRelease
Hit:2  repo-domainname.com/archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:3 http:// repo-domainname.com /archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:4 http:// repo-domainname.com/archive.ubuntu.com/ubuntu bionic-security InRelease
Reading packa

[2021-12-23 03:57] jiasli commented on #2884
We have seen this error before:

[code]

Could you check https://github.com/Azure/azure-cli/issues/18199?

[2021-12-23 04:02] njaiswal27 commented on #2884
Surprisingly using automated script, I saw the same issue, so ideally the script should apply permission change before executing other steps as well as option2 step by step should also include permission change in the document as a side note.

[2021-12-23 04:06] jiasli commented on #2884
On a default Ubuntu installation, our doc works perfectly.

If `uname` is changed, it changes the default file permission for new files, so it corrupts the `apt-key` command. This is not related to Azure CLI, so should not be covered by us. Thanks for understanding.

[2021-12-23 09:39] Arsamin-info opened #2886 "MyFirstAzureWebApp"
[Enter feedback here]azure-cli (2.0.2)

acr (2.0.0)
acs (2.0.2)
appservice (0.1.2)
batch (2.0.0)
cloud (2.0.0)
component (2.0.0)
configure (2.0.2)
container (0.1.2)
core (2.0.2)
documentdb (0.1.2)
feedback (2.0.0)
find (0.0.1b1)
iot (0.1.2)
keyvault (2.0.0)
lab (0.0.1)
monitor (0.0.1)
network (2.0.2)
nspkg (2.0.0)
profile (2.0.2)
redis (0.1.1b3)
resource (2.0.2)
role (2.0.1)
sql (2.0.0)
storage (2

[2021-12-23 09:48] Arsamin-info opened #2887 "MyFirstAzureWebApp"
[Enter feedback here]azure-cli (2.0.2)

acr (2.0.0)
acs (2.0.2)
appservice (0.1.2)
batch (2.0.0)
cloud (2.0.0)
component (2.0.0)
configure (2.0.2)
container (0.1.2)
core (2.0.2)
documentdb (0.1.2)
feedback (2.0.0)
find (0.0.1b1)
iot (0.1.2)
keyvault (2.0.0)
lab (0.0.1)
monitor (0.0.1)
network (2.0.2)
nspkg (2.0.0)
profile (2.0.2)
redis (0.1.1b3)
resource (2.0.2)
role (2.0.1)
sql (2.0.0)
storage (2

[2021-12-23 15:49] JamesTran-MSFT commented on #2886
@Arsamin-info
Thank you for creating this GitHub issue!

Based off your title, it sounds like this is a potential test of your first Azure Web App? If so, I'll go ahead and close out this issue at the end of the day, pending a response from your end. However, if you have any doc-enhancement recommendations, please let me know along with providing a link to the documentation you'd like updated.

If

[2021-12-23 15:50] JamesTran-MSFT commented on #2887
@Arsamin-info
Thank you for creating this GitHub issue!

Based off your title, it sounds like this is a potential test of your first Azure Web App? If so, I'll go ahead and close out this issue at the end of the day, pending a response from your end. However, if you have any doc-enhancement recommendations, please let me know along with providing a link to the documentation you'd like updated.

If

[2021-12-26 09:05] maliaga-pantoja opened #2890 "dont recommend"
[Enter feedback here]
web page dont give any response at question: "how to use azure cli in docker" . I mean .. what env vars are required, best practices .. any options, but give nothing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d884a3fe-07cf-e518-085d-602425fe2480
* Version Independent ID: 1636994b-e193-74e2-99

[2021-12-26 11:18] GitaraniSharma-MSFT commented on #2890
@maliaga-pantoja , Thanks for your feedback.

We have assigned this to the content owner/author @dbradish-microsoft for review.

[2021-12-26 21:26] haaami01 opened #2891 "testUpdates"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)
* Content Source: [docs-ref-

[2021-12-27 00:08] JamesTran-MSFT commented on #2891
@haaami01
From the title of your issue and since there isn't any feedback, I'm assuming this is a test and will go ahead and close out this issue.

If you have any feedback regarding our documentation, please let me know or feel free to create a new GitHub issue with what you'd like changed/enhanced.

Thank you for your time and patience!

[2021-12-27 00:08] #2891 closed

[2021-12-30 17:08] BhargaviAnnadevara-MSFT commented on #2822
@UmarMohamedUsman This was indeed fixed and released as part of the latest version of Azure CLI available today, i.e., version **2.31.0** ([release notes here](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#network)). Not sure of the version you are seeing this with, but do try upgrading to the latest version and check if the issue persists.

If you still run into issues, pleas

[2022-01-04 03:07] #2884 closed

[2022-01-04 03:12] jiasli commented on #2835
I have to admit Homebrew is indeed not very user-friendly to developers 🙁 (https://github.com/Homebrew/discussions/discussions/155).

We don't officially support `conda` either, but we do support Python's built-in module `venv`. You are welcome to create a `venv` and install Azure CLI with `pip`.

See https://github.com/Azure/azure-cli/issues/20476.

[2022-01-04 03:12] #2835 closed

[2022-01-04 03:15] #2825 closed

[2022-01-04 03:16] jiasli commented on #2804
This doesn't seem to be Azure CLI issue, judging by the formula `azure-functions-core-tools-v3-preview.rb`. Could you share the steps you followed?

[2022-01-04 03:19] jiasli commented on #2890
I think this belongs more to the topic of docker usage. You may check docker manual https://docs.docker.com/desktop/ instead.

[2022-01-04 03:23] jiasli commented on #2682
This was simply because we haven't tested Python 3.9 on MacOS yet at that time. We migrated to Python 3.9 in https://github.com/Homebrew/homebrew-core/pull/78022

We do use a pinned version, now Python 3.10 (https://github.com/Homebrew/homebrew-core/pull/86758).

[2022-01-04 19:14] bsiegel commented on #2682
@jiasli Please re-open.

1. There is still an issue that the docs refer multiple times to the formula `python3` which does not exist.

2. The statement "The Azure CLI is guaranteed to be compatible with the latest version of python3 published on Homebrew" is provably false, and the delay between a new version of Python being published to brew and azure-cli being updated to depend on it has in the

[2022-01-04 20:22] branko111 commented on #2256
ubuntu 20. still the same problem- any one  help?

E: The repository 'https://packages.microsoft.com/repos/... stable Release' does not have a Release file.
N: Updating from such a repository can't be done securely, and is therefore disabled by default.
N: See apt-secure(8) manpage for repository creation and user configuration details.

[2022-01-04 23:17] RayGHeld opened #2903 "Azure CLI is using AAD Graph, which is being deprecated soon"
This library is using the AAD Graph API ( graph.windows.net ) and that service is scheduled for deprecation in June of this year.  Consequently, users cannot add permissions for the AAD Graph api anymore.  Is there any plan to update the CLI to use the Microsoft Graph API instead?  https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-faq#:~:text=For%20this%20reason%2C%20Azure%20AD%20Graph

[2022-01-05 02:52] MonikaReddy-MSFT commented on #2903
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-05 02:56] jiasli commented on #2256
@branko111, the error message is trimmed to `...`. Could you share the full message?

[2022-01-05 03:00] jiasli commented on #2682
Ah, I see, I thought you were talking about the formula. Indeed, the doc needs some refinement.

[2022-01-05 03:26] branko111 commented on #2256
yes - this is the full message:
root@u1:~# apt update
Hit:1 https://download.docker.com/linux/ubuntu focal InRelease
Hit:2 http://au.archive.ubuntu.com/ubuntu focal InRelease
Hit:3 http://au.archive.ubuntu.com/ubuntu focal-updates InRelease
Hit:4 http://au.archive.ubuntu.com/ubuntu focal-backports InRelease
Get:5 http://security.ubuntu.com/ubuntu focal-security InRelease [114 kB]
Ign:6 https://pac

[2022-01-05 03:33] jiasli commented on #2256
Judging from these 2 line:

[code]

It seems your repo config is corrupted. It should like

[code]

[2022-01-05 10:40] branko111 commented on #2256
Ubuntu 20.04.3 LTS probably it is corrupted when I enter this it gives me No such file or directory
root@u1:~# cat /etc/apt/sources.list.d/azure-cli.list
cat: /etc/apt/sources.list.d/azure-cli.list: No such file or directory
root@u1:~#

[2022-01-05 13:28] nathanlindorff commented on #2804
I honestly can't remember, I think I just ran az upgrade.

[2022-01-05 18:41] chasewilson commented on #2903
Hi @RayGHeld,

Great question and thanks for reaching out. The CLI team is currently working on updating the CLI to use MS Graph. You can see the full timeline in [this blog post](https://techcommunity.microsoft.com/t5/azure-tools-blog/azure-ad-to-microsoft-graph-migration-for-azure-command-line/ba-p/2836666), but the expected timeline is to have a MS Graph using CLI by the end of March.

Feel fre

[2022-01-05 19:56] MonikaReddy-MSFT commented on #2903
@chasewilson  - Thank you for providing your insights.
@RayGHeld  - I hope @chasewilson has answered your question.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-05 19:56] #2903 closed

[2022-01-06 02:42] jiasli commented on #2256
Could you check the content of `/etc/apt/sources.list.d/`?

[code]

You may see https://wiki.debian.org/SourcesList for how to work with `sources.list`.

[2022-01-06 07:51] branko111 commented on #2256
yes
root@u1:~# ls /etc/apt/sources.list.d/
docker.list  docker.list.save
root@u1:~#

[2022-01-06 15:28] jiasli commented on #2256
I am not sure where `https://packages.microsoft.com/repos/...` comes from.

Could you share the full steps you followed to reproduce this error? I cannot repro with a fresh docker image:

[code]

[2022-01-06 16:02] RiRa12621 opened #2906 "Images are not crosscompiled"
The referenced image is erroring on Apple Silion

[code]

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d884a3fe-07cf-e518-085d-602425fe2480
* Version Independent ID: 1636994b-e193-74e2-9936-a07e43913326
* Content: [How to run Azure CLI in a Docker Container](https://docs.microsoft.com/en-us/cli/azure/run-azure-

[2022-01-06 20:41] MonikaReddy-MSFT commented on #2906
Thanks for bringing this to our attention. We will investigate it further and update you shortly.

[2022-01-07 03:47] branko111 commented on #2256
after running
docker run -it --rm ubuntu:20.04
apt update    - updates with no issues ( I dont need any package from ackages.microsoft.com -so I did not run rest or the suggested code)
now it updates with no issues- but my PC name was changed from original root@u1     to root@863c31e8baea
Im not sure why ?

the rest - it looks no more issues

root@u1:/etc/bind# docker run -it --rm ubuntu:20.04
Una

[2022-01-07 20:04] chasewilson commented on #2906
Hey @RiRa12621 , thanks for reaching out about this. Do you mind clarifying if you believe there is an issue with Docker, CLI, or the specified document?

[2022-01-07 20:05] RiRa12621 commented on #2906
I think the image just wasn't built for all platforms/architectures and since it's an official image, you folks would need to rebuild it.

[2022-01-11 05:47] chasewilson opened #2908 "New docs to inform customers of MS Graph Breaking changes"
WIth the upcoming migration of MS Graph and retirement of the AAD Graph endpoint, customers need to be informed of breaking changes and given clear instructions on how to migrate from older versions.

New issues should sprout from this as we get closer to release of MS Graph based CLI and AAD Graph retirement endpoint.

[2022-01-11 13:01] tknerr commented on #2825
Thanks @jiasli for clarification!

[2022-01-12 19:54] chasewilson commented on #2906
Hey @RiRa12621,

Thanks for your patience here. I've tested the doc myself in an M1 apple silicon env. It appears everything works aside from the warning. I don't think a change to the doc is needed but want to verify before we move this issue.

@yonzhan, the warning does exist when running the docs suggested command on an M1 mac. Hoever, the docker image appears to run the cli fine. Does there ne

[2022-01-12 19:55] RiRa12621 commented on #2906
Yeah it does work, just thought a small note about the behavior on apple silicon might be nice.

[2022-01-12 19:58] chasewilson commented on #2906
A good suggestion. I think if this behavior is going to be expected for M1 macs, we'll add a note, but if not then we will work towards resolving it on the technical side and refer to this, and the cli issue if it comes up here again.

Does that seem like a good way forward from your perspective?

[2022-01-12 20:04] RiRa12621 commented on #2906
Sgtm

[2022-01-13 00:11] mishal153 opened #2912 "Array flattenning needs double quotes actually"
Hi,
Despite what I understood from the document, I had to use double quotes to make array query work.

`az account list-locations --query "[].{n:name , dispName:displayName}"
`

single quotes causes error. I found my answer [here](https://stackoverflow.com/questions/68762521/azure-ad-cli-how-to-query-multiple-parameter-from-output).

--
#### Document Details

⚠ *Do not edit this section. It is req

[2022-01-13 02:16] jiasli opened #2914 "More detailed documentation for `--query`"
The grammar of JMESPATH is not that easy to learn. We need to provide more detailed documentation and examples for `--query`.

[2022-01-13 02:30] MonikaReddy-MSFT commented on #2912
@mishal153 - Thanks for bringing this to our attention. Can you please share with us in which particular command in the above document you referenced are you having issues with?

[2022-01-13 09:06] shashishailaj commented on #2914
-- Adding Github Metadata .

The grammar of JMESPATH is not that easy to learn. We need to provide more detailed documentation and examples for --query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60c12ef-d293-5626-c7aa-c7e9241bf975
* Version Independent ID: 7acca1dd-b735-7e1f-afd9-2b5b6ea06b1c
* Content: [JMESPath

[2022-01-13 09:11] shashishailaj commented on #2914
@jiasli Thank you for bringing this to notice. We have engaged the content team to see how best the documentation can be improved. In case you are referring to any other document than https://docs.microsoft.com/en-us/cli/azure/query-azure-cli please feel free to share the information.

[2022-01-13 15:49] MonikaReddy-MSFT commented on #2912
@mishal153 - Thanks for bringing this to our attention. Can you please share with us in which particular command in the above document you referenced are you having issues with?

[2022-01-13 16:44] dbradish-microsoft commented on #2912
Hello, @mishal153, I was able to replicate your results by running the following two commands:
    `az account list-locations --query "[].{n:name , dispName:displayName}"`
   `az account list-locations --query [].{n:name , dispName:displayName}`

![image](https://user-images.githubusercontent.com/58762114/149372139-7556c374-6c08-4e0e-91b1-77afe48ad61e.png)

Thanks for bringing this to our attentio

[2022-01-13 17:43] chasewilson commented on #2912
Just an addition to this, the query works with single and double in a PowerShell terminal in Windows but not CMD. It also works in bash and powershell on mac but not zsh. I'm assuming it will work with Bash and Pwsh on linux since it does in both of those on Mac.

All of that being said, my suggestion is that since it works with double quotes regardless the shell, we should have that reflect in th

[2022-01-13 18:47] dbradish-microsoft commented on #1696
This issue is being closed as no response has been received since December 2019

[2022-01-13 18:47] #1696 closed

[2022-01-13 18:50] dbradish-microsoft commented on #2455
This issue is being closed as no response has been received since March 2021

[2022-01-13 19:40] dbradish-microsoft commented on #2914
@shashishailaj / @jiasli , There is also JMESPath query information in [How to use Azure CLI effectively](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#pass-values-to-another-command), [Table output format](https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli#table-output-format), and a brief mention in [Using variables](https://docs.microsoft.com/en-us/cli/azure/azu

[2022-01-13 20:09] dbradish-microsoft commented on #2390
This application issue has been fixed by the Azure CLI engineering team, so this doc's issue is being closed.

[2022-01-13 20:09] #2390 closed

[2022-01-14 05:31] jiasli commented on #2906
The warning indicates the docker image is built for `linux/amd64`, but the host machine is `linux/arm64/v8`. This will lead to low performance as docker needs to translate the instruction set.

However, we can keep track of this issue in Azure CLI repo for `linux/arm64/v8` docker image release: #20989.

[2022-01-16 21:39] MonikaReddy-MSFT commented on #2906
@jiasli - Thanks for raising the PR and providing your insights.
@RiRa12621 - Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-16 21:39] #2906 closed

[2022-01-17 06:57] mishal153 commented on #2912
Okay. Yes an update to the 'Note' on the page could help I guess. Something that indicates that double quote might work instead of single quote based on the environment in use.

Thanks !

[2022-01-17 18:50] chasewilson commented on #2890
@maliaga-pantoja, is there something specific to Azure CLI, not docker that should be included in the doc?

[2022-01-19 16:00] chasewilson commented on #1665
Hey @HQJaTu , Sorry for the _very_ slow response. I'll be closing this issue for now as it's really out of date and teams isn't supporting this.

If there is more to it or you have more feedback, feel free to respond here and we'll review and see what we need to do.

Thanks and have a good one!

[2022-01-19 16:00] #1665 closed

[2022-01-19 16:00] #2912 closed

[2022-01-21 05:40] jiasli commented on #2682
I have refined the doc in #2905.

[2022-01-21 11:42] moneygit opened #2926 "Need an example YAML file for az ml datastore create"
`az ml datastore create `needs a `--file` parameter that points to a YAML file containing the Azure ML datastore specification.
I need an example of how that specification is setup,  an example file in the documentation would be useful.

[2022-01-21 17:39] iokevins opened #2927 "Add Third URL to Proxy Allow Paragraph"
Please add a third and fourth URL under paragraph "In order to get the MSI, your proxy needs to allow HTTPS connections to the following addresses":
https://azcliextensionsync.blob.core.windows.net/
https://objects.githubusercontent.com/

Reference:
Third URL: https://github.com/Azure/azure-cli/issues/17938#issuecomment-853011210
Fourth URL: Personal experience

Thank you,

Kevin

---
#### Documen

[2022-01-21 19:35] BryanTrach-MSFT commented on #2926
@moneygit Thank you for your question. Can you please share with us the URL of the doc that closest aligns with your ask?

[2022-01-21 19:38] moneygit commented on #2926
This is the section that needs to be updated
https://docs.microsoft.com/en-us/cli/azure/ml/datastore?view=azure-cli-latest#az-ml-datastore-create

[2022-01-22 03:22] BryanTrach-MSFT commented on #2927
@iokevins Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-01-22 03:33] BryanTrach-MSFT commented on #2926
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27bfd14b-bddd-771f-1364-c52a991b75f0
* Version Independent ID: e0750d23-f2a0-7364-e6dc-34ffa51503d4
* Content: [az ml datastore](https://docs.microsoft.com/en-us/cli/azure/ml/datastore?view=azure-cli-latest#az-ml-datastore-create)
* Content Source: [latest/docs-ref-autogen/

[2022-01-24 21:16] chasewilson commented on #2927
Hey @iokevins thanks for the feedback here!

@yonzhan or @jiasli, can I get a confirmation for these URLs? I can make changes as necessary.

[2022-01-25 13:49] mks-sky opened #2934 "Links in azure documentation using underscore instead of minus to reference subsection anchors"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

Docs for `azure-cli-latest`

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli#2-get-an-existing-service-principal

### Descri

[2022-01-26 06:37] #2934 closed

[2022-01-26 06:38] chasewilson commented on #2934
@mks-sky, thanks for noticing and creating the issue for the fix!

The issue was corrected in #2937

Have a good one!

[2022-01-28 12:24] g-diwakar commented on #2256
My device has POP OS 21.10 installed . I am getting the following error.

Hit:1 http://apt.pop-os.org/proprietary impish InRelease
Get:2 https://packages.microsoft.com/repos/azure-cli focal InRelease [10.4 kB]
Hit:3 http://apt.pop-os.org/release impish InRelease
Get:4 https://packages.microsoft.com/repos/azure-cli focal/main amd64 Packages [7,892 B]
Hit:5 http://us.archive.ubuntu.com/ubuntu impish

[2022-01-28 22:07] mayoneka opened #2942 "az network firewall create command is still Experimental on the document"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

N/A

### Link to affected document

https://docs.microsoft.com/en-US/cli/azure/reference-types-and-status?view=azure-cli-latest#what-is-reference-status

### Description of the documentation err

[2022-01-29 02:22] jiasli commented on #2256
This is expected since `863c31e8baea` is the docker container's name. This question is irrelevant to Azure CLI.

[2022-01-29 02:23] jiasli commented on #2256
@g-diwakar, I am afraid POP OS 21.10 is not supported.

[2022-01-29 02:26] jiasli commented on #2256
In order not to bother other users and help us keep focused, if you have further questions, please create a new issue at https://github.com/Azure/azure-cli/issues.

[2022-01-29 02:26] #2256 closed

[2022-01-29 09:46] AjayKumar-MSFT commented on #2942
Adding doc metadata info:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dd37a62-e248-b1dd-ad17-48e8bcfae21d
* Version Independent ID: a727d676-594e-a19b-cb2c-108c28ae1c9f
* Content: [Reference types, status and support levels – Azure CLI](https://docs.microsoft.com/en-US/cli/azure/reference-types-and-status?view=azur

[2022-01-29 09:48] ShaikMaheer-MSFT commented on #2942
@dbradish-microsoft Could you please validate feedback and update document as appropriate. Thank you

[2022-01-31 14:09] TimO2221 opened #2944 "Variable not defined on Using AZ Cli Effectively page"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

{   "azure-cli": "2.32.0",   "azure-cli-core": "2.32.0",   "azure-cli-telemetry": "1.0.6",   "extensions": {     "azure-devops": "0.22.0"   } }

### Link to affected document

https://docs.micro

[2022-01-31 21:04] bennettnw2 commented on #2256
I just wanted to say that this worked for me. I'm behind a corporate firewall and I copied the certificate to my WSL2 folder `/usr/local/share/ca-certificates` and then ran `sudo update-ca-certificates`. The output is below:

Updating certificates in /etc/ssl/certs...
rehash: warning: skipping duplicate certificate in zscaler_root_ca.crt
1 added, 0 removed; done.
Running hooks in /etc/ca-certifica

[2022-02-01 01:50] MartinJaffer-MSFT commented on #2944
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-02-01 06:31] AnuragSingh-MSFT commented on #2944
@TimO2221, the error is being received because you are executing the command from Windows Command prompt. The example uses the Bash in cloud shell. Please refer to the first para of the link: [Pass values to another command](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#pass-values-to-another-command).

For accessing Bash in Azure Cloud Shell, please click on the "Cloud Shell" ico

[2022-02-01 08:35] TimO2221 commented on #2944
Thank you for your response. I am using AZ CLI on windows, it would be helpful to have instructions on how to set AZ CLI to use bash.

From: Anurag Singh ***@***.***>
Sent: Tuesday, February 1, 2022 1:32 AM
To: MicrosoftDocs/azure-docs-cli ***@***.***>
Cc: Petteys, Kevin (CCI-Atlanta-CON) ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs-cli] Variable not defined

[2022-02-01 09:02] AnuragSingh-MSFT commented on #2944
[Bash is the shell](https://www.gnu.org/software/bash/manual/html_node/What-is-Bash_003f.html), or command language interpreter, for the GNU operating system like Linux. It is like Powershell and commandPrompt in Windows.

You use Bash/PowerShell/prompt to run your application - in current case the **Azure CLI**. Azure CLI is cross-platform tool and can run on any of the above mentioned shell/term

[2022-02-01 09:02] AnuragSingh-MSFT commented on #2944
[Bash is the shell](https://www.gnu.org/software/bash/manual/html_node/What-is-Bash_003f.html), or command language interpreter, for the GNU operating system like Linux. It is like Powershell and commandPrompt in Windows.

You use Bash/PowerShell/prompt to run your application - in current case the **Azure CLI**. Azure CLI is cross-platform tool and can run on any of the above mentioned shell/term

[2022-02-01 12:58] TimO2221 commented on #2944
Thank you for the information. I thought it might be possible to set the languages, like VS code. Thank you for the clarification.

From: Anurag Singh ***@***.***>
Sent: Tuesday, February 1, 2022 4:02 AM
To: MicrosoftDocs/azure-docs-cli ***@***.***>
Cc: Petteys, Kevin (CCI-Atlanta-CON) ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [MicrosoftDocs/azure-docs-cli] Variable not defined on

[2022-02-01 16:17] ihategithubsomuch opened #2946 "Installation documentation is wrong"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

irrelevant

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos

### Description of the documentation error

The instructions are wrong and the azur

[2022-02-01 22:55] chasewilson commented on #2946
Hi @ihategithubsomuch ,

Thanks for the feedback here.

I can't repro the install problem for shell path. Following the example, I get a good installation and immediate access to the `az`  CLI tool.

Az for the reference to bash, I agree there are some references that could be updated. The code blocks can't be updated currently to `zsh` as it's not currently supported in Microsoft's docs platform.

[2022-02-01 22:56] chasewilson commented on #2944
This does bring up an interesting point though. @dbradish-microsoft, should we work to having separate tabs for PowerShell vs Bash for examples in this doc set?

[2022-02-03 16:31] krsche opened #2950 "Release Notes change under ACS instead of AKS"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

irrelevant

### Link to affected document

https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/release-notes-azure-cli.md#acs

### Description of the documentation erro

[2022-02-04 04:26] shashishailaj commented on #2950
Thank you for your inputs. We will have the team look into this and revert .

Adding docs metadata for discoverability .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0e8d9ef-f25b-bb46-7f1a-bd3588be3343
* Version Independent ID: cd392600-a90d-0145-5ea6-6b01ab8f4ab9
* Content: [Release notes & updates – Azure CLI](htt

[2022-02-04 05:16] AnuragSingh-MSFT commented on #2950
@krsche, thank you for the query. I am assigning it to our content author for further comment.

@dbradish, could you review and update your thoughts here.
Thank you

[2022-02-04 09:47] qrilka opened #2951 "Azure CLI versioning is inconsistent"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.33.0

### Link to affected document

https://docs.microsoft.com/ru-ru/cli/azure/release-notes-azure-cli

### Description of the documentation error

It looks like versioning of Azure CLI has s

[2022-02-04 22:02] MartinJaffer-MSFT commented on #2951
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2022-02-06 01:06] carlosporter commented on #2914
I agree with the initial statement,

Personally, I have two issues with this document:

1. There are no examples to explain the use of the Boolean operators.
2. There is no mention about how to search or filter JSON attributes with numerical values.

For example I needed to build a query that would filter the virtual machine SKU's by size of their resource disk and the number of processors.

It to

[2022-02-08 06:13] #2944 closed

[2022-02-09 03:20] chasewilson commented on #2951
Hey @qrilka, Thanks for the feedback here.

We'll review the automation around our release notes. The versions date would normally be on the first but was pushed back due to the Chinese new year celebration and the engineering team wanted to ensure there would be support for a new version release.

2.33.0 has been released and is ready for use.

I'll be closing this for now but will link to this i

[2022-02-09 03:20] #2951 closed

[2022-02-09 04:24] chasewilson commented on #2950
Hey @krsche, thanks for the feedback here.

I'm not sure why the release notes were formatted that way and I will update.
Just a couple of things:
1. The link you reference: "Also the documentation [here](https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/release-notes-azure-cli.md#acs) does not respect the breaking change." links to the release notes again. Would you mi

[2022-02-09 06:10] qrilka commented on #2951
Thanks for the quick feedback

[2022-02-09 16:25] ivanfarias81 opened #2956 "URL still good?"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.

### Summary of the new document or enhancement

Hi, is https://azcliprod.blob.core.windows.net/ still the good URL?

or did it changed for this ? azurecliprod.blob.core.windows.net

### Proposed title

is the URL still good?

### Proposed location in the TOC

_No response_

### List of related articles to link t

[2022-02-09 23:14] Karishma-Tiwari-MSFT commented on #2956
Thanks for your question. Please provide us with the link to the documentation you are referring to so we can better assist.

[2022-02-09 23:27] #2950 closed

[2022-02-10 14:26] ivanfarias81 commented on #2956
hi Karishma, thanks for your reply.

all good I got confused big time with another article!

[2022-02-10 17:09] chasewilson commented on #2956
glad everything worked out @ivanfarias81.

@Karishma-Tiwari-MSFT, thanks for following up. I'll be closing the issue.

[2022-02-10 21:57] #2942 closed

[2022-02-11 16:12] moneygit commented on #2926
Any update on this?
We are going to need YAML reference files for all the az ml commands that require it

[2022-02-11 17:31] moneygit commented on #2926
I managed to create one successfully with a YAML file containing the data like this
I am unsure if I am missing some fields that are optional or required for a different endpoint.

[code]

[2022-02-11 21:29] dbradish-microsoft commented on #2944
@chasewilson , yes.  Please see recent Azure DevOps notification.

[2022-02-14 15:31] dbradish-microsoft commented on #2914
@shashishailaj / @jiasli / @carlosporter , [JMESPath query command results with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/query-azure-cli) is currently being improved by a technical writer at Microsoft.  I anticipate seeing the improvements published in March.  The feedback here has been very helpful.

[2022-02-25 11:04] johnmreynolds opened #2992 "The install documentation is slightly misleading on what is needed to enable the az command"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.33.1

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli

### Description of the documentation error

The documentation says:

"

[2022-02-25 17:46] SaurabhSharma-MSFT commented on #2992
@johnmreynolds Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-03-02 20:01] adriancuadrado opened #2999 "What is @- and how does it work"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.

### Summary of the new feature or changed behavior

In this [Azure Blob Storage quickstart](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-cli#create-a-container), you can see under Create a container a code snippet that looks like this:
[code]

The only place I could find more inf

[2022-03-02 20:04] adriancuadrado commented on #2999
I wrote **_N/A_** in **_Link to related PR in Azure/azure-cli repo_** and **_Link to related Issues in Azure/azure-cli repo_** because I don't understand why I have to find the issue and PR that introduced this feature so many years ago to report this.

[2022-03-02 20:11] adriancuadrado commented on #2890
Maybe what volumes should be mapped to have the Azure CLI configuration or login information persisted, for instance.

[2022-03-03 14:08] MonikaReddy-MSFT commented on #2999
@adriancuadrado - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-03 14:35] adriancuadrado commented on #2999
@MonikaReddy-MSFT I am not having issues with any document in particular. I am just having issues understanding what `@-` is because I don't find it explained anywhere except the GitHub article that I specified, which doesn't seem appropriate because new users who never used Azure classic CLI wouldn't discover this feature.

[2022-03-04 17:46] nth-block opened #3007 "Mac file path for proxy support"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.

### Summary of the new document or enhancement

The path for the proxy file for Mac is missing. I found the file to be in `/usr/local/Cellar/azure-cli/2.33.1/libexec/lib/python3.10/site-packages/certifi/cacert.pem`. Maybe the document can be updated with this location too?

### Proposed title

Proxy Support for

[2022-03-05 06:53] Sinhraphathatron commented on #2256
I change the “AZ_REPO=$(lsb_release -cs)” to “AZ_REPO=stretch”. to make it work.

[2022-03-05 14:23] MonikaReddy-MSFT commented on #3007
@nth-block - Thank you for your question.
 Can you please share with us the URL of the document that you are having issues with?
Please note that we scope issues on this repo to feedback related to the docs. If you have a product question, please post it on Microsoft QnA or Stack Overflow. Thank you for your understanding.

[2022-03-06 09:35] nth-block commented on #3007
My apologies @MonikaReddy-MSFT, in my past reports, I have seen the links to the pages automatially populate at the bottom of the issue. Maybe I fatfingered something somewhere. I am referring to the page here https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy

[2022-03-07 03:33] MonikaReddy-MSFT commented on #3007
Sure Thanks for sharing the info @nth-block.

@dbradish-microsoft - Hi Delora, can you take a look at this customers request here?

[2022-03-10 08:58] iokevins commented on #2927
After 45 days with no response, it seems maintainers have given up on or forgotten about this documentation request (?) 🤔

[2022-03-10 16:17] dbradish-microsoft commented on #3007
@nth-block, @MonikaReddy-MSFT , The macOS file path has been added to the article.   You should see this change no later than the end of the day tomorrow, Friday, March 11th.  Thanks for the tip!

[2022-03-10 16:17] #3007 closed

[2022-03-15 02:51] jiasli commented on #2999
The explanation for `@-` is indeed documented but got removed by @TimShererWithAquent in https://github.com/MicrosoftDocs/azure-docs-cli/pull/2479 for unknown reason, even without my approval.

[2022-03-15 03:10] jiasli commented on #2999
In fact, f8bda76af6ad42ebbc6c8bf1395dde0931869813 (https://github.com/MicrosoftDocs/azure-docs-cli/pull/2479) removed some very useful examples from d3779ff9420d30bfcf203d9f74d567130eb42194:

https://github.com/MicrosoftDocs/azure-docs-cli/blob/d3779ff9420d30bfcf203d9f74d567130eb42194/docs-ref-conceptual/use-cli-effectively.md#pass-values-from-one-command-to-another

## Pass values from one comman

[2022-03-16 14:38] MonikaReddy-MSFT commented on #2999
@jiasli  - Thank you for providing your insights.
@adriancuadrado - I hope @jiasli has answered your question.
At this moment, Since there is no doc update required, We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-16 14:38] #2999 closed

[2022-03-16 21:50] dbradish-microsoft commented on #2914
@jiasli, this is currently [PR draft 2986](https://github.com/MicrosoftDocs/azure-docs-cli/pull/2986)

[2022-03-20 19:21] JUUTC opened #3028 "Include how to change the TLS version used by Invoke-WebRequest"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.34.1

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-powershell

### Description of the documentation error

The documentation d

[2022-03-21 00:08] femsulu commented on #3028
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2022-03-23 21:59] technoidnostress opened #3034 "az login when PIM enabled"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.

### Summary of the new document or enhancement

When a user try to log in with the help of Az cli , it goes to the portal.microsoftonline.com and if the user assigned with assigned with any of the subscription, user will be able to see those subscription,
However many corporate denies direct access to the portal

[2022-03-24 12:09] navba-MSFT commented on #3034
@technoidnostress Apologies for the late reply. Thanks for reaching out to us and sharing your feedback. I am looking into this ask. Tagging the 2 github issue threads from Az CLI Repo related to the CLI with PIM support Azure/azure-cli#13064 Azure/azure-cli#17712 . I will update this github thread once I have more details on this.

[2022-03-24 17:09] navba-MSFT commented on #3034
@technoidnostress Could you please elaborate on the ask ? Are you asking to [document](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) the steps to be followed to run `az login `(CLI command) when the PIM is enabled for your account ? Awaiting your reply.

[2022-03-24 19:14] technoidnostress commented on #3034
@navba-MSFT  Thank you for your reply, yes i am looking for a way to access the portal when PIM is enabled through Az cli cmdlet  `az login`  i am able to reach to the portal.microsoftonline.com .   but it says "add this  to ca cert bundle"
The steps: i looged in the portal, activated my PIM role, tried to login with `az login` but could not see any of the subscriptions, so i am looking for a way

[2022-03-25 04:56] navba-MSFT commented on #3034
@technoidnostress Thanks for getting back. Could you please share the article which you had referred ?

[2022-03-25 07:13] jiasli commented on #3034
Could also share the full error message and screenshot?

[2022-03-25 15:59] technoidnostress commented on #3034
@jiasli  thank you,

i activated PIM manually and then tried login through Az CLI & got the below response

`Certificate verification failed. This typically happens when using Azure CLI behind a proxy that intercepts traffic with a self-signed certificate. Please add this certificate to the trusted CA bundle: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-p

[2022-03-26 14:10] spacecat opened #3038 "Please add that Option 1: Install with one command can take an hour or two to complete"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.34.1

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

### Description of the documentation error

This command takes way too long

[2022-03-26 16:01] GiftA-MSFT commented on #3038
@spacecat we'll review your feedback and get back to you shortly. Thanks.

[2022-03-28 20:12] chasewilson commented on #3028
Hey @JUUTC thanks for the feedback and the PR :) I just want to check with the eng team to make sure that this is something that should be and not something we need to implement.

@jiasli ,Can you confirm that this should be the case?

[2022-03-28 20:48] chasewilson commented on #3038
Hey @spacecat, thanks for the feedback here.

@jiasli or @yonzhan, is this commopn behavior? Is this something we should document or is this not the normal behavior or something we should improve?

[2022-03-29 03:03] chasewilson commented on #2908
This was completed in #2985 No more action needed

[2022-03-29 03:03] #2908 closed

[2022-03-29 03:09] chasewilson commented on #2493
Hey @byronverz,

I'm sorry this has taken so long. It might be a moot point but is this issue persisting or should I close this issue?

Thanks for your patience (a lot of it) and I look forward to getting this resolved

[2022-03-29 06:42] navba-MSFT commented on #3034
@technoidnostress Thanks for getting back. Apologies for the late reply. Is there a proxy in your environment ? Could you please try to run the command on another machine which is on a different network and check if that works fine ? If this is not feasible, you can append your corporate proxy certificate(s) to the end of the certifi library's cacert.pem file. Sharing the location of this on Windo

[2022-03-29 09:57] byronverz commented on #2493
Hi @chasewilson, I see the documentation and output of `az extension list-available --output table` are still different, I have managed a workaround for my issue but I don't think this type of mismatch in CLI and the docs is good.

If keeping this ticket open will ensure this mismatch is fixed then I think it should be kept open, otherwise you can close it thanks.

[2022-03-29 20:20] chasewilson commented on #2493
Hey @byronverz, there might be a slight delay in docs vs extension list since it's auto generated and needs manual review before merge right now but we are working on shortening that difference. current ml version and doc version are the same

Some of the extensions I can download older versions for but not all of them. I'll do some digging and see if we have standards of what extensions should su

[2022-04-04 04:29] navba-MSFT commented on #3034
@technoidnostress Could you please let me know if you had a chance to follow the above action plan. Awaiting your reply.

[2022-04-06 02:00] technoidnostress commented on #3034
Sorry for being late, yes  i am behind the corporate proxy, i did tried to convert to cacert.crt to .PEM but i had an error , the ca.crt is in DER format, when i try to view the ca.crt i see all gibberish characters which confirms that this in DER format.
 The cacert.crt is /java/jre folder,  i am using wsl, Pls guide on proxy cert how tos, thank you

[2022-04-06 04:32] navba-MSFT commented on #3034
@technoidnostress Thanks for getting back. The step by step procedure to append the proxy's cert to the **cacert.pem** has been explained here. https://jiasli.github.io/azure-notes/cli/cli-proxy.html

The above article explains how to use Azure CLI behind a proxy. Hope this helps.

[2022-04-06 17:38] technoidnostress commented on #3034
thanks i will take a look

[2022-04-06 19:01] carlrab opened #3058 "command fails"
should be:
az account list --query "[?isDefault == \`false\`]"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e60c12ef-d293-5626-c7aa-c7e9241bf975
* Version Independent ID: 7acca1dd-b735-7e1f-afd9-2b5b6ea06b1c
* Content: [JMESPath query command results with Azure CLI](https://docs.microsoft.com/en-us/cli/azure/query-az

[2022-04-07 13:01] shashishailaj commented on #3058
@carlrab Thank you for your feedback . We will investigate and update the thread.

[2022-04-07 13:15] shashishailaj commented on #3058
@carlrab Thank you for reporting this . We have initiated a change request for the content team to review. Once approved the change would be live.

Thank you .

[2022-04-07 13:15] #3058 closed

[2022-04-08 21:17] ebioux-btig opened #3067 "python version should not be hardcoded"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

az login

### Link to affected document

https://docs.microsoft.com/cli/azure/use-cli-effectively#work-behind-a-proxy

### Description of the documentation error

<html>
<body>

Ubuntu/Debian Li

[2022-04-09 17:31] KranthiPakala-MSFT commented on #3067
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-04-11 04:47] navba-MSFT commented on #3034
@technoidnostress Please let me know if you have any update on this. Awaiting your reply.

[2022-04-14 06:03] navba-MSFT commented on #3034
@technoidnostress Could you please let me know if you had a chance to follow the action plan suggested in my [above](https://github.com/MicrosoftDocs/azure-docs-cli/issues/3034#issuecomment-1089808779) comment ? Awaiting your reply.

[2022-04-14 08:20] Alta2048 opened #3077 "Commands in an Azure subscription : backtick missing in example 3"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.13.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli

### Description of the documentation error

Hello All,
Commands in an Azur

[2022-04-14 18:23] Grace-MacJones-MSFT commented on #3077
thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-18 03:29] navba-MSFT commented on #3034
@technoidnostress We will now proceed with closure of this github issue. Once you have an update and need any further assistance on this issue, please feel free to reopen this thread. We would be happy to help.

[2022-04-18 03:29] #3034 closed

[2022-04-18 20:56] chasewilson commented on #3077
Hey @Alta2048, thanks for pointing this out! I'll have a PR in to fix this.

[2022-04-18 21:15] chasewilson commented on #3067
You make a good point here @ebioux-btig. I've [created a PR](https://github.com/MicrosoftDocs/azure-docs-cli/pull/3083) to fix this. Would you mind taking a look and providing any feedback you have?

[2022-04-21 14:42] AAdamCCox opened #3091 "Supported certificate format for Azure CLI login is not clearly described"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.35.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal

### Description of the documentation error

Certificate

[2022-04-21 16:28] #3067 closed

[2022-04-21 20:17] himanshusinha-msft commented on #3091
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-04-24 12:37] ham-bo commented on #2230
Since this issue is still not resolved, can anyone recommend a workaround for using the script at https://aka.ms/InstallAzureCLIDeb to install on a raspberry pi?

[2022-04-26 21:16] dcaro opened #3101 "Removal of data impacts Azure PowerShell"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

n/a

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#remove-data

### Description of the documentation error

The steps indicat

[2022-04-27 02:19] RyanHill-MSFT commented on #3101
Hi @dcaro, the files to removed are those in the `C:\Users\<username>\.azure` folder. You no longer need this folder if you don't intend to reinstall the CLI per instructed, as it contains any extensions you've installed, any profile details like your defaults, etc.

[2022-04-27 02:24] dcaro commented on #3101
The folder `C:\Users\<username>\.azure` is also used by Azure PowerShell.
The article needs to list explicitly the files and precise that deleting the folder will impact other tools like Azure PowerSell.

[2022-04-27 14:45] RyanHill-MSFT commented on #3101
I see, I'll reach out to the product group to find out any details regarding this matter.

[2022-04-28 15:15] BryanTrach-MSFT commented on #3101
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8246b90a-efb1-03ce-f642-d3eb2441fc30
* Version Independent ID: 2fdd20ef-7bd3-57bc-7957-93f4bb5377ce
* Content: [Install the Azure CLI for Windows](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#remove-data)
* Content Source: [docs-ref-co

[2022-05-04 18:35] RyanHill-MSFT commented on #3101
I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-06 15:43] JimGBritt opened #3120 "Version link for CLI commands (version) inconsistently works for "HISTORY.txt" or "HISTORY.rst""
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

N/A (doc issue directly and not related to version)

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list

### Description of the documentation err

[2022-05-06 16:56] SatishBoddu-MSFT commented on #3120
@JimGBritt
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-10 12:45] RyanHill-MSFT commented on #3101
I have a pending PR to better clarify which folder can be removed @dcaro.

[2022-05-18 02:09] slowlyswimming opened #3135 "The link for ml extension is unavailable"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

 2.36.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list

### Description of the documentation error

The link for ml extension is unavailable

[2022-05-18 16:17] DerekHerman-MSFT commented on #3135
Thanks for reporting this. I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-05-19 10:32] fardarter opened #3138 "openssl instruction produces invalid .pem file on macOS"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

azure-cli                         2.36.0  core                              2.36.0 telemetry                          1.0.6  Dependencies: msal                              1.17.0 azure-mgmt-res

[2022-05-19 19:03] DerekHerman-MSFT commented on #3138
I'd recommend posting your question in https://github.com/Azure/azure-cli/issues since it's not directly related to the documentation. We'll follow up there. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-19 19:03] #3138 closed

[2022-05-20 09:10] fardarter commented on #3138
@DerekHerman-MSFT Hi, thanks for the response.

I'll follow your advice is you reaffirm it, but my sense is that there either an error in the instructions for using openssl for the use case or there is a need to issue macOS specific instructions. It does seem to me like something that should be covered in process docs rather than a specific cli issue.

I suspect if I post this there it'll get clos

[2022-05-25 14:44] spottedmahn opened #3149 "add PowerShell examples"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.37.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively

### Description of the documentation error

The page assumes bash

### Suggested fix

add P

[2022-05-25 14:49] spottedmahn opened #3150 "feedback on this page not working as intended"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.37

### Link to affected document

https://github.com/MicrosoftDocs/azure-docs-cli/issues

### Description of the documentation error

when reporting a doc issue:

![image](https://user-images

[2022-05-28 02:11] shwetamathur7 commented on #3149
@spottedmahn Thanks for your feedback. We will investigate and update the thread.

[2022-05-28 02:12] shwetamathur7 commented on #3150
@spottedmahn Thanks for your feedback. We will investigate and update the thread.

[2022-05-29 06:23] E-RELevant opened #3160 "az login --identity stopped working for Azure VM"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.36.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli

### Description of the documentation error

It worked for a few days, then it stopped, d

[2022-05-30 00:36] shwetamathur7 commented on #3160
Closing this issue as this is duplicate of https://github.com/MicrosoftDocs/azure-docs/issues/93623

[2022-05-30 00:36] #3160 closed

[2022-05-31 13:34] #3149 closed, assigned to dbradish-microsoft

[2022-05-31 15:41] technoidnostress commented on #3034
@navba-MSFT can you pls post the link : https://jiasli.github.io/azure-notes/cli/cli-proxy.html the page not found

[2022-06-01 04:24] navba-MSFT commented on #3034
@technoidnostress It is moved to new location where you can find "How to use CLi with Proxy"?

For Windows, refer [this](https://github.com/jiasli/azure-notes/blob/master/cli/proxy-cert-win.md).
For Linux, refer [this](https://github.com/jiasli/azure-notes/blob/master/cli/proxy-cert-linux.md).

[2022-06-06 16:55] grzn opened #3171 "breaking changes to az ad app update are not documented"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.37.0

### Link to affected document

https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/microsoft-graph-migration.md

### Description of the documentation error

Thi

[2022-06-06 23:56] JamesTran-MSFT commented on #3171
@grzn
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-13 09:27] sdettmer opened #3183 ""Install the Azure CLI on Linux" should focus on that and tell URL"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

bash: az: command not found

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

### Description of the documentation error

The article

[2022-06-13 14:36] AjayKumar-MSFT commented on #3183
Adding doc metadata info:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e7895b9a-9a6a-cd98-6947-0e4a26eda9a3
* Version Independent ID: a3f27295-3e2e-a36d-02c2-8897295fc443
* Content: [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)
* Content Source: [docs-

[2022-06-13 16:09] JamesTran-MSFT commented on #3183
@sdettmer
Thanks for your feedback! I've assigned this issue to the author who will investigate and update as appropriate.

[2022-06-13 19:32] rumstead opened #3184 "[MacOS] Azure CLI behind a proxy"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

az login

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy

### Description of the documentation error

macOS | /usr/local/Cellar

[2022-06-14 05:15] AjayKumar-MSFT commented on #3184
Added doc metadata info

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e51daa3-30c5-f449-36a1-9f33c70ca2fc
* Version Independent ID: a21e188b-4ff4-0aca-531b-d4b179665be1
* Content: [Use Azure CLI effectively](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy)
* Content Source: [docs-re

[2022-06-14 10:15] dkars-csl opened #3186 "Typo latest az cli release notes - "stroage""
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.32.0

### Link to affected document

https://docs.microsoft.com/en-gb/cli/azure/release-notes-azure-cli#storage

### Description of the documentation error

Typo of az storage command in bulle

[2022-06-14 11:28] AjayKumar-MSFT commented on #3186
@dkars-csl, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2022-06-14 13:24] rumstead commented on #3184
LMK if you are good with that PR.

[2022-06-15 15:29] #3184 closed

[2022-06-16 11:10] jiasli commented on #3184
@rumstead, your markdown is not rendered correctly either! 🤣 ![image](https://user-images.githubusercontent.com/4003950/174057618-7f4e5d76-7a3e-4727-92a7-10ebb707837e.png)

[2022-06-16 14:06] dbradish-microsoft commented on #2914
@jiasli , @shashishailaj , @carlosporter , The [How to query Azure CLI command output using a JMESPath query](https://docs.microsoft.com/en-us/cli/azure/query-azure-cli?view=azure-cli-latest&tabs=concepts%2Cpowershell) article was updated significantly in April, 2022.  The update includes examples for Bash, PowerShell and CMD as shown here -->

![image](https://user-images.githubusercontent.com/58

[2022-06-16 14:06] #2914 closed

[2022-06-16 14:37] dbradish-microsoft commented on #2380
@jiasli , @chasewilson , This is an install issue that should have been assigned to engineering or the AKS team.  Reassigning.

[2022-06-16 14:38] dbradish-microsoft commented on #3186
This has been fixed in PR [22912](https://github.com/Azure/azure-cli/pull/22912)

[2022-06-16 14:38] #3186 closed

[2022-06-16 22:36] carlosporter commented on #2914
Thanks @dbradish-microsoft

The document looks great now and the addition of the PowerShell and CMD tabs is a big plus!

[2022-06-17 07:10] jiasli commented on #3038
"Take an hour or two" is definitely unexpected. It should finish with in minutes. You may check you network connection.

[2022-06-17 07:13] jiasli commented on #3028
I think this is more of a question regarding `Invoke-WebRequest` and out of the scope of Azure CLI.

[2022-06-17 07:13] #3028 closed

[2022-06-17 07:13] #3038 closed

[2022-06-17 07:14] jiasli commented on #2927
The complete list of URLs Azure CLI requires is currently tracked by https://github.com/Azure/azure-cli/issues/21052 .

[2022-06-20 03:28] jiasli commented on #2992
I think this is more of a Windows problem. We do call win32 API to broadcast the environment variable `PATH` change in `propagate_env_change.exe`:

https://github.com/Azure/azure-cli/blob/13d2f3ec69a62ea45882f1c004d211824cffdd23/build_scripts/windows/propagate_env_change/main.cpp#L1-L14

[code]

It sends `WM_SETTINGCHANGE` with `Environment` as `lParam` which notifies Windows system we have change

[2022-06-21 03:32] beakerfm commented on #768
That's good feedback and valid alternative installation option. Much better than suggesting `apt-get` instructions for Linux which don't work on Mac directly (hence `brew` as alternative but not an option for everyone). Pip is great suggestion.

[2022-06-21 21:07] jikuja commented on #2999
@MonikaReddy-MSFT Is there a reason not to re-add removed examples of `@-` and @{file} documentation back to https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?

ref: https://github.com/MicrosoftDocs/azure-docs-cli/commit/f8bda76af6ad42ebbc6c8bf1395dde0931869813#diff-e3517761b99d9705520483d3bd612de14af7e2480e81d2025b7d69620fb70d7dL74 `@-`

https://github.com/MicrosoftDocs/azure-docs-cl

[2022-06-22 12:53] dbradish-microsoft commented on #2999
@jikuja, This particular article is being updated to bring back removed information and to provide additional script examples.

[2022-06-24 05:04] #3171 closed

[2022-07-05 02:55] jiasli commented on #3183
**Install script** means this page: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script

It actually installs from PyPI (https://pypi.org/) with `pip` so the URL doesn't necessarily need to be documented. Actually, that document hasn't been updated for some time. We do have a plan to provide a new `pip` installation guidance: https://github.com/Azure/azure-cli/issues/2

[2022-07-06 22:35] sdettmer commented on #3183
Thank you for clarifying.
In meantime I noticed that this "script", which I needed to perform
essentially a HTTP POST to upload a file, is 70 Megabytes huge. There is an
installer script that appears to ask the user for consent for each action
against the system, but in fact it has hard-coded "consent everything"
built-in (funny detail: a comment in the installer says it would be
hardcoded because

[2022-07-08 17:45] scschneider opened #3231 "Typo in data-export CLI doc"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.38.0

### Link to affected document

https://github.com/MicrosoftDocs/azure-docs-cli/blob/08aa73acd8ed7be5deb88e0a701e663eeacb5be0/latest/docs-ref-autogen/monitor/log-analytics/workspace/data-

[2022-07-08 17:50] scschneider opened #3232 "Typo in table CLI doc"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.38.0

### Link to affected document

https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/latest/docs-ref-autogen/monitor/log-analytics/workspace/table.yml

### Description of the documen

[2022-07-08 23:36] SaurabhSharma-MSFT commented on #3231
@scschneider Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-08 23:39] SaurabhSharma-MSFT commented on #3232
@scschneider Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-19 00:41] mike-pt commented on #768
My suggestion is simply provide a binary, you don't need to support the community package managers, if you want to that's a bonus, but then why brew and not macports? or package manager X? folks will just ask about their favorite one.

I personally can't use brew, because of security constrains, the regular path can not be writen to with a normal user, and honestly not requiring admin account/sudo

[2022-07-22 16:04] timkowal opened #3239 "Breaking change not included in the release notes"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.38

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#storage

### Description of the documentation error

The "az storage blob metadata update"

[2022-07-22 18:41] MarileeTurscak-MSFT commented on #3239
@timkowal
Thanks for your feedback! We will investigate and update as appropriate.

[2022-07-26 14:34] dbradish-microsoft commented on #3232
@SaurabhSharma-MSFT , This is an autogenerated document.  This issue needs to be referred to the service team.   See [Modules Owned by CLI Team](https://github.com/Azure/azure-cli/blob/dev/doc/modules_owned_by_cli_team.md).

[2022-07-26 14:36] dbradish-microsoft commented on #3231
@SaurabhSharma-MSFT , This is an autogenerated document.  The change must be made in the source code.  Please refer this issue to the appropriate service team.

[2022-07-28 08:15] vijaytdh opened #3242 "The CLI version for which the change in behaviour around default subscriptions is not clear"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.38.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli#get-the-active-subscription

### Description of the documentation error

Th

[2022-08-05 17:10] ghost opened #3253 "Installing azure-cli 2.39 on RHEL 8 fails if python39 is not found."
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.39.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux

### Description of the documentation error

`Error:
 Problem: cannot install the best c

[2022-08-05 18:06] KranthiPakala-MSFT commented on #3253
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-10 18:10] jscottarmstrong opened #3257 "Advice for Enabling Autocompletions Does Not Work on macOS 12.5 using zsh"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.39.0

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos

### Description of the documentation error

Under the section `Completion is not workin

[2022-08-11 06:46] AnuragSharma-MSFT commented on #3257
@jscottarmstrong Thank you for the feedback. This is being assigned to the content author to evaluate and update as appropriate.

[2022-08-22 18:56] rickyzhang82 commented on #768
I have been using macport for years. I don't want to install homebrew to run az cli. Because it may cause any potential conflicts with my macports development stacks.

Why you make it exclusive to homebrew only? I don't get it.

[2022-08-25 13:58] buzzwick opened #3281 "A Little More Clarity, Please"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

N/A

### Link to affected document

https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli

### Description of the documentation error

It really would be enormou

[2022-08-26 04:35] RohitMungi-MSFT commented on #3281
@buzzwick Thanks for the feedback. I have assigned the issue to the content author to review and update accordingly.

[2022-08-29 14:18] #3101 closed

[2022-09-22 05:33] tom-haines opened #3317 "Linux install instructions hard-coded to amd64"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

n/a

### Link to affected document

https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux

### Description of the documentation error

Under: Option 2 (step by step), part 3, "add

[2022-09-22 16:55] RamanathanChinnappan-MSFT commented on #3317
@tom-haines

Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!!

[2022-09-23 01:25] tom-haines commented on #3317
It is in the description under "Link to affected document":
https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux

Also, the embedded version of python installed is incorrect under arm64; I had to manually replace python3 binaries.  Why not just depends on python3 instead, and allow the package manager itself to find the correct version, as you do for libc for example.

[2022-09-23 16:23] RamanathanChinnappan-MSFT commented on #3317
@KranthiPakala-MSFT

Please check this case

[2022-09-28 04:32] RamanathanChinnappan-MSFT commented on #3317
@tom-haines

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-10-07 19:06] dbradish-microsoft opened #3335 "Azure CLI Allowlist Information"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.

### Summary of the new document or enhancement

**Information Needed:**

1. Where to show the information
2. What UI style is needed
3. Which pages need to show the information
4. Where to get the list

**Original Request:**
We have a CX whose environment is completely behind a firewall and they whitelist endpoi

[2022-10-08 03:16] ManoharLakkoju-MSFT commented on #3335
@dbradish-microsoft
Thanks for your feedback! We will investigate and update as appropriate.

It would be great if you could add a link to the documentation you are following for these steps? This would help us redirect the issue to the appropriate team. Thanks!

[2022-10-10 14:46] dbradish-microsoft commented on #3335
@ManoharLakkoju-MSFT , The purpose of this Issue is to create visibility that customers are asking for this information from engineering that I can then add to the existing article referenced in the description.

[2022-11-03 10:39] jeevanions opened #3381 "Azure CLI login with service principal default subscription set across different sessions."
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

2.39.0

### Link to affected document

https://learn.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal

### Description of the documentation error

We use a S

[2022-11-21 17:32] howardjones opened #3399 "Linux installation page doesn't mention architecture"
### Prerequisites

- [X] Write a descriptive title.
- [X] Search the existing issues.
- [X] I am reporting the documentation problem for the current version of Azure CLI.

### Azure CLI version being used

none yet

### Link to affected document

https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

### Description of the documentation error

The page doesn't mention spec

[2022-11-22 04:35] Naveenommi-MSFT commented on #3399
@howardjones
Thank you for bringing this to our attention. I've assigned this issue to the author who will investigate and update as appropriate.

[2022-11-25 06:25] microsoft-github-policy-service[bot] opened #3408 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance